@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?82v81q');
	src:url('fonts/icomoon.eot?82v81q#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff2?82v81q') format('woff2'),
		url('fonts/icomoon.ttf?82v81q') format('truetype'),
		url('fonts/icomoon.woff?82v81q') format('woff'),
		url('fonts/icomoon.svg?82v81q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-news:before {
	content: "\e63d";
}
.icon-cancel:before {
	content: "\e629";
}
.icon-cancel2:before {
	content: "\e62a";
}
.icon-cancel3:before {
	content: "\e62b";
}
.icon-globe:before {
	content: "\e63f";
}
.icon-clock:before {
	content: "\e63a";
}
.icon-target:before {
	content: "\e633";
}
.icon-target2:before {
	content: "\e634";
}
.icon-check:before {
	content: "\e62e";
}
.icon-plus:before {
	content: "\e613";
}
.icon-file-empty2:before {
	content: "\e99e";
}
.icon-files-empty2:before {
	content: "\e9a0";
}
.icon-alarm-check:before {
	content: "\ea55";
}
.icon-database:before {
	content: "\ea90";
}
.icon-unite:before {
	content: "\eab2";
}
.icon-pie-chart2:before {
	content: "\eb7e";
}
.icon-stats-dots:before {
	content: "\eb84";
}
.icon-paperplane:before {
	content: "\ec06";
}
.icon-download4:before {
	content: "\ec80";
}
.icon-eye-blocked3:before {
	content: "\ecb2";
}
.icon-plus2:before {
	content: "\ed58";
}
.icon-minus2:before {
	content: "\ed59";
}
.icon-plus3:before {
	content: "\ed5a";
}
.icon-minus3:before {
	content: "\ed5b";
}
.icon-cross2:before {
	content: "\ed6a";
}
.icon-cross3:before {
	content: "\ed6b";
}
.icon-play3:before {
	content: "\ed7b";
}
.icon-merge:before {
	content: "\edb1";
}
.icon-arrow-up2:before {
	content: "\edb5";
}
.icon-arrow-up3:before {
	content: "\edb6";
}
.icon-arrow-right22:before {
	content: "\edb9";
}
.icon-arrow-down2:before {
	content: "\edbd";
}
.icon-arrow-down3:before {
	content: "\edbe";
}
.icon-arrow-left2:before {
	content: "\edc1";
}
.icon-arrow-left3:before {
	content: "\edc2";
}
.icon-embed2:before {
	content: "\eeca";
}
.icon-circle-code:before {
	content: "\eed0";
}
.icon-briefcase2:before {
	content: "\ec00";
}
.icon-screen:before {
	content: "\e639";
}
.icon-target3:before {
	content: "\e635";
}
.icon-board:before {
	content: "\e631";
}
.icon-headset:before {
	content: "\e641";
}
.icon-style:before {
	content: "\e630";
}
.icon-play:before {
	content: "\e642";
}
.icon-alert-line:before {
	content: "\e640";
}
.icon-user-plus:before {
	content: "\e63e";
}
.icon-user:before {
	content: "\e63c";
}
.icon-apartment:before {
	content: "\e63b";
}
.icon-combine2:before {
	content: "\e637";
}
.icon-combine:before {
	content: "\e636";
}
.icon-minus:before {
	content: "\e62f";
}
.icon-text-document-inverted:before {
	content: "\e632";
}
.icon-info-with-circle:before {
	content: "\e62d";
}
.icon-suitcase:before {
	content: "\e800";
}
.icon-chain:before {
	content: "\e638";
}
.icon-question-circle:before {
	content: "\e62c";
}
.icon-briefcase:before {
	content: "\e801";
}
.icon-add:before {
	content: "\e600";
}
.icon-alert:before {
	content: "\e601";
}
.icon-arrow-down:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-arrow-right:before {
	content: "\e604";
}
.icon-arrow-right2:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
.icon-circle:before {
	content: "\e607";
}
.icon-close:before {
	content: "\e608";
}
.icon-closure:before {
	content: "\e609";
}
.icon-coin-dollar:before {
	content: "\e60a";
}
.icon-credit-card:before {
	content: "\e60b";
}
.icon-delete:before {
	content: "\e60c";
}
.icon-document:before {
	content: "\e60d";
}
.icon-downward-trend:before {
	content: "\e60e";
}
.icon-edit:before {
	content: "\e60f";
}
.icon-error:before {
	content: "\e610";
}
.icon-flag:before {
	content: "\e611";
}
.icon-forward:before {
	content: "\e612";
}
.icon-lock2:before {
	content: "\e614";
}
.icon-menu:before {
	content: "\e615";
}
.icon-notes:before {
	content: "\e616";
}
.icon-open:before {
	content: "\e617";
}
.icon-portfolio:before {
	content: "\e618";
}
.icon-printer:before {
	content: "\e619";
}
.icon-question:before {
	content: "\e61a";
}
.icon-remove:before {
	content: "\e61b";
}
.icon-search:before {
	content: "\e61c";
}
.icon-settings:before {
	content: "\e61d";
}
.icon-share:before {
	content: "\e61e";
}
.icon-snapshot:before {
	content: "\e61f";
}
.icon-sort-arrow:before {
	content: "\e620";
}
.icon-spinner:before {
	content: "\e621";
}
.icon-star-empty:before {
	content: "\e622";
}
.icon-star-full:before {
	content: "\e623";
}
.icon-success:before {
	content: "\e624";
}
.icon-tag:before {
	content: "\e625";
}
.icon-upward-trend:before {
	content: "\e626";
}
.icon-user2:before {
	content: "\e627";
}
.icon-warning:before {
	content: "\e628";
}

