// Alerts

.alert-variant(@background; @border; @text-color) {
  background-color: @background;
  border-color: @border;
  color: @text-color;

  hr {
    border-top-color: darken(@border, 5%);
  }
  .alert-link {
    color: @text-color;
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @text-color;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
}
