// Contextual backgrounds

.bg-variant(@color) {
  color: #fff;
  padding: 0 5px;
  background-color: @color;
  line-height: 1.45;
  display: inline-block;
  a&:hover,
  a&:focus {
    background-color: darken(@color, 10%);
  }
}
