// col-heightfix

// This uses 'display: table;' to make columns within a row the same height.
// Columns won't wrap down to a new row, so you need to make sure you have 
// the correct number of columns per row.

.col-heightfix {
  @media (min-width: 768px) {
    display: table;
    > * {
      display: table-cell;
      float: none !important;
      .col-heightfix-top& {
        vertical-align: top;
      }
      .col-heightfix-middle& {
        vertical-align: middle;
      }
      .col-heightfix-bottom& {
        vertical-align: bottom;
      }
    }
    img {
      max-width: 100%;
    }
  }
}