// Notice

.notice-variant(@thick-border, @thin-boarder: @gray) {
  border-left: 5px solid @thick-border;

  .notice-content {
    border: 1px solid @thin-boarder;
    border-left: none;
  }
  
  .notice-title {
    color: @thick-border;
    + .notice-body {
      color: inherit;
    }
  }
  
  .notice-body {
    color: @thick-border;
  }

  > .notice-title {
    border: 1px solid @thin-boarder;
    border-left: none;
    border-bottom: none;
    + .notice-body {
      color: inherit;
    }
  }
  > .notice-body {
    color: @thick-border;
    border: 1px solid @thin-boarder;
    border-top: none;
    border-left: none;
  }
}
