// Panels

.panel-variant(@border; @heading-text-color; @heading-bg-color; @heading-border; @panel-top-border: @gray;) {
  border-color: @border;
  border-top: 2px solid @panel-top-border;

  & > .panel-heading {
    background-color: @heading-bg-color;
    border-color: @border;

    .panel-title {
      color: @heading-text-color;
    }

    + .panel-collapse > .panel-body {
      border-top-color: @border;
    }
    .badge {
      color: @heading-bg-color;
      background-color: @heading-text-color;
    }
  }
  & > .panel-body {
    border-color: @border;
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: @border;
    }
  }
}
