// WebKit-style focus

.tab-focus(@shadow: none) {
  // // Default
  // outline: thin dotted;
  // // WebKit
  // outline: 5px auto -webkit-focus-ring-color;
  // outline-offset: -2px;

  // border-color: @dnb-gray-light;
  outline: 0;
  box-shadow: @shadow;
}
