.panel-accordion {
  &.panel-accordion-default {
    border-top: 1px solid @gray;
  }
  .panel-heading {
    a .panel-title {
      color: @dnb-teal-light;
      padding: 14px 15px 14px 30px;
      position: relative;
      span {
        font-size: 24px;
        position: absolute;
        left: 6px;
        top: 10px;
        .rotate(90deg);
      }
    }
    .collapsed {
      .panel-title {
        color: @dnb-dark-blue;
        span {
          .rotate(0);
        }
      }
    }
  }
}