//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {
  padding: @alert-padding;
  margin-bottom: @line-height-computed;
  border: 1px solid transparent;
  border-radius: @alert-border-radius;

  &.alert-with-icon {
    padding-left: (@alert-padding + 30);
  }

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing @headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: @alert-link-font-weight;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }
  > *:first-child {
    margin-left: -30px;
  }
  i {
    position: relative;
    margin-right: 8px;
    font-size: 18px;
    top: -2px;
  }
}

// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: (@alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: 3px;
    right: -21px;
    // color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-primary {
  .alert-variant(@alert-primary-bg; transparent; #fff);
  &.alert-white-bg {
    .alert-variant(#fff; @gray; @alert-primary-bg);
  }
  &.alert-gray-bg {
    .alert-variant(@gray-lighter; @gray; @alert-primary-bg);
  }
}

.alert-success {
  .alert-variant(@alert-success-bg; transparent; #fff);
  &.alert-white-bg {
    .alert-variant(#fff; @gray; @alert-success-bg);
  }
  &.alert-gray-bg {
    .alert-variant(@gray-lighter; @gray; @alert-success-bg);
  }
}

.alert-info {
  .alert-variant(@alert-info-bg; transparent; #fff);
  &.alert-white-bg {
    .alert-variant(#fff; @gray; @alert-info-bg);
  }
  &.alert-gray-bg {
    .alert-variant(@gray-lighter; @gray; @alert-info-bg);
  }
}

.alert-warning {
  .alert-variant(@alert-warning-bg; transparent; #fff);
  &.alert-white-bg {
    .alert-variant(#fff; @gray; @alert-warning-bg);
  }
  &.alert-gray-bg {
    .alert-variant(@gray-lighter; @gray; @alert-warning-bg);
  }
}

.alert-danger {
  .alert-variant(@alert-danger-bg; transparent; #fff);
  &.alert-white-bg {
    .alert-variant(#fff; @gray; @alert-danger-bg);
  }
  &.alert-gray-bg {
    .alert-variant(@gray-lighter; @gray; @alert-danger-bg);
  }
}
