//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: @breadcrumb-padding-vertical @breadcrumb-padding-horizontal;
  margin-bottom: @line-height-computed;
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;
  color: @breadcrumb-color;

  > li {
    display: inline-block;
    font-size: 12px;

    + li:before {
      content: "@{breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 2px;
      font-weight: normal;
    }

    a {
      color: @breadcrumb-color;
      font-weight: normal;
    }
  }

  > .active {
    color: @breadcrumb-active-color;
    font-weight: bold;
  }
}
