//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin: 10px 0 0; // For input.btn
  font-weight: @btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  .button-size(@btn-padding-vertical; @btn-padding-horizontal; @font-size-base; 1; @border-radius-base);
  .user-select(none);

  &.btn-with-icon-stroke {
    .button-size(@btn-padding-vertical; (@btn-padding-horizontal - 4); @font-size-base; 1; @border-radius-base);
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: @btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    .opacity(.65);
    .box-shadow(none);
  }

  a& {
    &.disabled,
    fieldset[disabled] & {
      pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
  }

  &.btn-toggle {
    border-radius: 100px;
    margin: 0;
    padding: 5px 5px 4px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    top: -2px;
    .transition(all .25s ease);
    &.active,
    &:active {
      .box-shadow(none);
    }
  }
}

// Alternate buttons
// --------------------------------------------------

.btn-default,
.btn-default-blue {
  .button-variant-default(@btn-default-color; @btn-default-bg; @btn-default-border);
  .btn-gray-outline(@btn-default-border);
  .btn-on-dark(@btn-default-blue-hover-bg-on-dark);
}
.btn-default-dark-blue {
  .button-variant-default(@btn-default-dark-blue-color; @btn-default-dark-blue-bg; @btn-default-dark-blue-border);
  .btn-gray-outline(@btn-default-dark-blue-border);
  .btn-on-dark(@btn-default-dark-blue-hover-bg-on-dark);
}
.btn-default-green {
  .button-variant-default(@btn-default-green-color; @btn-default-green-bg; @btn-default-green-border);
  .btn-gray-outline(@btn-default-green-border);
  .btn-on-dark(@btn-default-green-hover-bg-on-dark);
}
.btn-primary,
.btn-primary-blue {
  .button-variant(@btn-primary-blue-color; @btn-primary-blue-bg; @btn-primary-blue-hover);
  .btn-on-dark(@btn-primary-blue-hover-bg-on-dark);
}
.btn-primary-dark-blue {
  .button-variant(@btn-primary-dark-blue-color; @btn-primary-dark-blue-bg; @btn-primary-dark-blue-hover);
  &.btn-on-dark {
    .button-variant(@btn-primary-dark-blue-color; @btn-primary-dark-blue-bg-on-dark; @btn-primary-dark-blue-hover-bg-on-dark);
  }
}
@btn-primary-green-on-dark: lighten(@btn-primary-green-bg, 6);
.btn-primary-green {
  .button-variant(@btn-primary-green-color; @btn-primary-green-bg; @btn-primary-green-hover);
  .btn-on-dark(@btn-primary-green-hover-bg-on-dark);
}

// Danger and error appear as red
@btn-danger-on-dark: lighten(@btn-danger-bg, 6);
.btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-hover);
  .btn-on-dark(@btn-danger-hover-on-dark);
}

.btn-toggle-primary {
  .button-toggle-variant(@btn-primary-blue-color; @btn-primary-blue-bg; @btn-primary-blue-hover);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: @link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    .box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: @link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: @btn-link-disabled-color;
      text-decoration: none;
    }
  }

  &.btn-on-dark {
    color: #fff;
    text-decoration: underline;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

// Force buttons with icons to match size of other buttons
.btn-with-icon{
  max-height: 36px;
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
  &.btn-with-icon {
    .button-size(@padding-large-vertical; (@padding-large-horizontal - 10); @font-size-large; @line-height-large; @border-radius-large);
  }
  &.btn-with-icon-stroke {
    .button-size(@padding-large-vertical; (@padding-large-horizontal - 14); @font-size-large; @line-height-large; @border-radius-large);
  }

  &.btn-with-icon {
    
    max-height: 50px; // Force buttons with icons to match size of other buttons
  }
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
  &.btn-with-icon-stroke {
    .button-size(@padding-small-vertical; (@padding-small-horizontal - 4); @font-size-small; @line-height-small; @border-radius-small);
  }
  &.btn-with-icon{
    padding: 7px 16px 8px 16px; // custom padding to properly valign icons
    max-height: 30px; // Force buttons with icons to match size of other buttons
  }
}
.btn-xs {
  .button-size(@padding-xs-vertical; @padding-xs-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}



// Navbar search dropdown button
.btn-navbar-search-dropdown {
  .button-variant(@brand-primary; #fff; @dnb-gray-light);
}
