//
// cards
// --------------------------------------------------


// Base class
.card {
  margin-bottom: @line-height-computed;
  background-color: @card-bg;
  // border: 1px solid @card-default-border;
  border-radius: (@card-border-radius * 2);
  .box-shadow(0 2px 0px @gray);
  overflow: hidden;
}

// card contents
.card-body {
  padding: 20px @card-body-padding;
  // border-top: none;
  // border-bottom: none;
  overflow: hidden;
  &:extend(.clearfix all);

  .card-table &,
  &.card-table {
    padding: (@card-body-padding - 5);
  }
}

// Optional heading
.card-heading {
  border-bottom: 1px solid @card-default-border;
  .border-top-radius((@card-border-radius - 1));


  .card-title {
    padding: @card-heading-padding;
  }

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  i + i {
    font-size: .9em;
    margin-top: .2em;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: @font-size-base;
  line-height: 1.3;
  text-transform: uppercase;
  color: @brand-primary;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }

  a & {
    &:hover,
    &:focus {
      color: @link-color !important;
      background: @card-default-heading-hover-bg;
    }
  }
}

// Optional footer (stays gray in every modifier class)
.card-footer {
  padding: @card-footer-padding;
  background-color: @card-footer-bg;
  border-top: 1px solid @card-inner-border;
  .border-bottom-radius((@card-border-radius - 1));
}


.card-on-white {
  border: 1px solid @dnb-gray-light;
  .box-shadow(0 1px 0px @gray);
}

.card-default {
  .card-heading {
    border: none;
    .card-title {
      padding: 25px 15px 5px;
    }
  }
}

.card-center-lg {
  .card-body {
    text-align: center;
    padding: 26px 40px;
  }
  .card-heading .card-title {
    padding: 28px;
    font-size: 24px;
    text-align: center;
    text-transform: initial;
  }
}

.card-center-heading {
  .card-heading {
    border-bottom-width: 3px;
    .card-title {
      padding: 26px;
      text-align: center;
    }
  }
}

.card-with-image {
  text-align: center;
  img {
    padding: 16px;
    max-width: 100%;
  }
  .card-heading {
    border-bottom: none;
    border-top: 1px solid @card-default-border;
    .card-title {
      padding: 26px;
    }
  }
}

.card-with-icon {
  text-align: center;

  .card-icon {
    padding: 2.8em 1.25em 1.5em;
    [class^="icon-"], 
    [class*=" icon-"] {
      font-size: 8em;
    }
  }
  .card-heading {
    border: none;
    .card-title {
      font-size: 24px;
      text-transform: initial;
    }
  }
  .card-body {
    padding-bottom: 36px;
  }
}

.card-table {
  .card-heading {
    border: none;
    .card-title {
      padding-left: 20px;
    }
  }
  .card-body {
    padding-top: 0;
  }
  table  {
    > thead > tr > th {
      border-bottom: none;
    }
    > tbody > tr:nth-of-type(odd) {
      background-color: @table-bg-accent;
    }
    > tbody > tr:nth-of-type(even) {
      background-color: #fff;
    }
  }
}

.card-with-tabs {

  .nav-tabs {
    border: none;
    > li {
      margin: 0;
      > a {
        padding: 26px;
        text-align: center;
        line-height: 1.1;
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-bottom: 3px solid @gray;
        .box-shadow(none);

        &:hover,
        &:focus {
          color: @dnb-dark-blue;
          background: #fff;
          // border-bottom-color: @dnb-bright-blue;
        }
      }
      &.active > a {
        border-color: @dnb-teal-light;

        &:hover,
        &:focus {
          color: @dnb-dark-blue;
        }
      }
    }
  }
  .card-tabs-2 {
    > li {
      width: 50%;
    }
  }
  .card-heading {
    border: none;
  }
  .tab-content {
    padding: 0;
    border: none;
  }
}


// List groups in cards
//
// By default, space out list group content from card headings to account for
// any kind of custom content between the two.

.card {
  > .list-group,
  > .card-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        .border-top-radius((@card-border-radius - 1));
      }
    }

    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        .border-bottom-radius((@card-border-radius - 1));
      }
    }
  }
  > .card-heading + .card-collapse > .list-group {
    .list-group-item:first-child {
      .border-top-radius(0);
    }
  }
}
// Collapse space between when there's no additional content.
.card-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .card-footer {
  border-top-width: 0;
}


// Collapsable cards (aka, accordion)
//
// Wrap a series of cards in `.card-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.card-group {
  margin-bottom: @line-height-computed;

  // Tighten up margin so it's only between cards
  .card {
    margin-bottom: 0;
    border-radius: @card-border-radius;

    + .card {
      margin-top: 5px;
    }
  }

  .card-heading {
    border-bottom: 0;

    + .card-collapse > .card-body,
    + .card-collapse > .list-group {
      border-top: 1px solid @card-inner-border;
    }
  }

  .card-footer {
    border-top: 0;
    + .card-collapse .card-body {
      border-bottom: 1px solid @card-inner-border;
    }
  }
}
