.dnb-global-header-spacer {
  height: 90px;
}

.header-fixed {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    border-bottom: 1px solid @dnb-gray-light;
    .box-shadow(@global-header-box-shadow);
    z-index: 90;
    @media (min-width: @grid-float-breakpoint) {
      height: 71px;
    }
  }
}

.dnb-global-header.navbar-default {

  .header-fixed & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: none;
    .box-shadow(none);
    z-index: 110;
  }
  &.header-utility-btns > .container-fluid {
    @media (min-width: @grid-float-breakpoint) {
      padding-right: 0;
    }
  }
  border: none;
  border-bottom: 1px solid @dnb-gray-light;
  .box-shadow(@global-header-box-shadow);
  background-color: @dnb-white;
  .btn-navbar-search-dropdown {
    padding: (@padding-base-vertical*2-1) 15px;
    border-right: none;
    &:hover,
    &:active,
    &:focus {
      color: @link-color;
      background: @panel-default-heading-hover-bg;
    }
    .caret {
      border-width: 5px;
      @media (min-width: @grid-float-breakpoint) {
        margin-left: 4px;
      }
    }
  }
  .btn-search {
    border-color: @dnb-gray-light;
    border-left: none;
  }
  .navbar-brand {
    float: left;
    padding: 20px 30px 20px 10px;
    color: @type-dark;
    line-height: 24px;
    height: 70px;
    margin: 0;
    &.no-search { font-size: 20px; }
    @media (min-width: @grid-float-breakpoint){
      font-size: 20px;
      padding-left: 0;
      padding-right: 30px;
    }
    @media (min-width: @screen-md){
      padding-right: 40px;
    }
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin: -5px 0 0 0;
      width: 30px;
      height: 40px;
      background: url(@dnb-logo) no-repeat center;
      background-size: contain;
    }
  }

  .dnb-autocomplete .btn-type-select {
    color: @type-dark;
    background-color: @dnb-white;
    border-color: #d7e0e4;
    &:hover, &:active { 
      background-color: @gray-lighter;
    }
  }
  .open .btn-navbar-search-dropdown {
    background-color: @panel-default-heading-hover-bg;
  }

  .input-group-btn {
    width: 1%;
    &:first-child {
      .btn {
        border-radius: @border-radius-base 0 0 @border-radius-base;
      }
    }
  }

  .navbar-nav {
    >li{
      font-size: 12px;
      >a {
        color: @global-header-color;
        padding: 10px 15px;
        .transition(font 0s);
      }
      &.active > a {
        background: @panel-default-heading-hover-bg;
      }
      &.open {
        > a .caret {
          .rotate(180deg);
        }
      }
      @media (min-width: @grid-float-breakpoint) {
        &:not(.utility-btn):not(.nav-btn) > a:not(.nav-btn) {
          margin: 2em 1.25em 1em;
          padding: 0;
          border-bottom: 5px solid transparent;
          line-height: 24px;
          &:hover,
          &:focus {
            border-color: @global-header-active-color;
            background-color: transparent;
            .box-shadow(none);
          }
        }
        &.active:not(.utility-btn):not(.nav-btn) > a:not(.nav-btn) {
          background: #fff;
          border-color: @global-header-active-color;
        }

        &.utility-btn {
          border-left: 1px solid @dnb-gray-light;
          width: 74px;
          text-align: center;
          border-left: 1px solid @gray;
          &:hover,
          &:active,
          &:focus,
          > a:hover,
          > a:active,
          > a:focus,
          &.open > a,
          &.open > a:hover,
          &.open > a:active,
          &.open > a:focus {
            background-color: @panel-default-heading-hover-bg;
            border-bottom-color: @panel-default-heading-hover-bg;
            .box-shadow(none);
          }
          >a {
            padding: 25px 15px 16px;
            margin: 0;
          }
          &.utility-btn-first {
            margin-left: 20px;
          }
          [class^="icon-"], [class*=" icon-"] {
            font-size:16px;
          }
          .icon-user2 {
            font-size: @global-header-user-icon;
            line-height: 18px;
            position: relative;
            ~ .caret {
              margin-top: -4px;
            }
          }  
        }

        &.nav-btn {
          > a {
            .btn();
            font-size: @nav-btn-font-size;
            margin: @nav-btn-margin-sm;
          }
          &.nav-btn-default > a {
            .btn-default();
          }
          &.nav-btn-default-dark-blue > a {
            .btn-default-dark-blue();
          }
          &.nav-btn-default-green > a {
            .btn-default-green();
          }
          &.nav-btn-primary > a {
            .btn-primary();
          }
          &.nav-btn-primary-dark-blue > a {
            .btn-primary-dark-blue();
          }
          &.nav-btn-primary-green > a {
            .btn-primary-green();
          }
        }

        > .nav-btn {
          .btn();
          font-size: @nav-btn-font-size;
          margin: @nav-btn-margin-sm;
          &.nav-btn-default {
            .btn-default();
          }
          &.nav-btn-default-dark-blue {
            .btn-default-dark-blue();
          }
          &.nav-btn-default-green {
            .btn-default-green();
          }
          &.nav-btn-primary {
            .btn-primary();
          }
          &.nav-btn-primary-dark-blue {
            .btn-primary-dark-blue();
          }
          &.nav-btn-primary-green {
            .btn-primary-green();
          }
        }

      }

      @media (min-width: @global-header-breakpoint-md) {
        font-size: 16px;
        &:not(.utility-btn):not(.nav-btn) > a:not(.nav-btn) {
          margin: 1.5em 1.25em 1em;
        }
        &.nav-btn {
          > a {
            margin: @nav-btn-margin-md;
          }
        }
        > .nav-btn {
          margin: @nav-btn-margin-md;
        }
        // make last li > a flush with right side of container
        &:last-child > a {
          margin-right: 0 !important;
        }
      }

      &.active>a:hover, &.active>a:focus, &.open>a {
        color: @type-dark;
        .box-shadow(none);
      }

      @media (max-width: @grid-float-breakpoint-max) {
        .dropdown-menu {
          li {
            border: none;
          }
          a {
            color: @type-dark;
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px 10px 30px;
            border: none;
          }
        }
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      margin-top: 0;
      a,
      .open a,
      .dropdown-menu a  {
        &:hover,
        &:active,
        &:focus,
        &.focus {
          color: #fff;
          background: @dnb-bright-blue;
        }
      }
    }
  }
  .search-group {
    float: left;
    padding: 0;
  }
  .navbar-form {
    width: 100%;
    margin: 16px 0;
    border: none;
    padding: 0;
    .dropdown-menu {
      margin: 0;
      border-top: none;
    }
    input {
      height: 38px;
      padding: 8px 12px;
      background-color: #F1F6F8;
      border-right: none;
      .placeholder(@input-color-placeholder);
      &:focus {
        border-color: @input-border;
        + .input-group-btn .btn-search {
          border-color: @input-border;
        }
      }

      &:first-child {
        border-radius: @border-radius-base 0 0 @border-radius-base;
      }

    }
    & .hidden-xs ~ input {
      border-radius: @border-radius-base 0 0 @border-radius-base;
    }
    .btn-search {
      color: @input-color-placeholder;
      padding: 9px 11px;
      background-color: @bg-light-1;
      border-radius: 0 @border-radius-base @border-radius-base 0;
      &:hover,
      &:focus,
      &.active {
        background-color: @link-color;
        border-color: @link-color !important;
        color: #fff;
        .box-shadow(none);
      }
      .icon-search {
        font-size: 18px;
        position: relative;
      }
    }
  }

  .navbar-toggle {
    margin: 16px 10px 17px 10px;
    padding: 11px 10px;
    border-radius: @border-radius-base;
    .transition(all .25s ease);
    &:hover {
      background: transparent;
    }
    &:not(.collapsed) {
      color: #fff;
      border-color: @global-header-active-color;
      background-color: @global-header-active-color;
      .icon-bar {
        background-color: #fff;
      }
    }
    .icon-bar {
      background-color: @type-dark;
    }

    &.mobile-search-toggle {
      margin-right: 0;
      line-height: 0;
      text-align: center;
      padding: 10px;
      font-size: 16px;
    }
  }




  &.searchFocus {
    .navbar-header {
      position: relative;
    }
    .navbar-nav > li:not(.utility-btn) {
      opacity: 0;
    }
    .input-group {
      width: 100%;
    }

    @media (min-width: @grid-float-breakpoint) {
      .search-group {
        position: absolute;
        z-index: 10;
        .transition(width .3s ease);
      }
    }
  }
  &.searchHasVal {
    @media (min-width: @grid-float-breakpoint) {
      .search-group {
        position: absolute;
        z-index: 10;
        .transition(width .3s ease);
      }
    }
  }


  @media (max-width: @grid-float-breakpoint-max) {
    .navbar-collapse {
      position: absolute;
      background-color: #FFF;
      width: 100%;
      left: (@grid-gutter-width / 2);
      border-bottom: 1px solid @gray;
      z-index: 1000;
      .box-shadow(0 3px 3px rgba(210, 219, 223, .5));
      .navbar-nav {
        margin-bottom: 0;
      }
      &.search-group {
        left: 0 !important;
        top: 71px;
        overflow: visible;
        &,
        &:before {
          .transition(all .4s ease);
        }
        .navbar-form {
          width: 100vw !important;
          padding: 20px 15px 0 15px;
          margin-top: 0;
          left: 0;
          background: #fff;
          display: none;
          .box-shadow(@global-header-box-shadow);

          .dropdown-menu {
            display: block;
            width: 100vw;
            left: -15px;
            padding: 0 15px 0 0;
            margin-bottom: 10px;
            position: relative;
            text-align: right;
            border: none;
            border-radius: 0;
            overflow-x: scroll;
            z-index: 10;

            li {
              display: inline-block;
              border-bottom: none;
              padding: 0 14px;
              margin-bottom: 10px;
              margin-right: -4px;
              &:first-child  {
                padding-left: 0;
              }
              &:last-child {
                padding-right: 0;
                margin-right: 0
              }
              a {
                padding: 5px 1px;
                border-bottom: 5px solid transparent;
                &:hover,
                &:active,
                &:focus {
                  color: @type-dark;
                  background: transparent;
                }
              }

              &.active {
                a {
                  color: @type-dark;
                  background: transparent;
                  // border-bottom-color: @global-header-active-color;
                }
              }
            }

          }
          .btn-search {
            display: block;
            width: 100%;
            margin: 0;
            border-radius: @border-radius-base;
            .btn-primary();
            .btn-lg();
            .sr-only {
              position: relative;
            }
          }
        }

        .input-group {
          display: block;
        }
        .input-group-btn {
          display: block;
          width: 100%;
        }
        
        .search {
          display: block;
          border: 1px solid #d7e0e4;
          border-radius: 2px;
          margin-bottom: 20px;
        }


        &.in {
          .navbar-form {
            z-index: 1;
          }
        }
      }
    }

    .search-selector {
      // keep active indicator in center
      .mobile-search-active-indicator {
        position: absolute;
        left: 50%;
        top: 34px;
        height: 5px;
        width: 30px;
        background: @global-header-active-color;
        z-index: 20;
        .transition(all .25s .1s ease);
      }


      // Hide scroll bar
      ::-webkit-scrollbar {
        display: none;
        width: 0 !important;
        height: 0 !important;
      }
    }
  }

  @media (min-width: @grid-float-breakpoint) {
    .dropdown-menu {
      li {
        padding: 0 !important;
      }
    }
    .mobile-search-active-indicator {
      display: none;
    }
  }
}

.page-wrapper {
  .header-fixed & {
    padding-top: 111px;
  }
}

@media (max-width: @grid-float-breakpoint-max) {
  body:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: @gray-lighter;
    .opacity(0);
    .transition(all .25s ease);
  }
  .no-scroll {
    position: fixed !important;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    &:after {
      .opacity(0.85);
      z-index: 1;
    }
  }
}
