.dnb-global-footer {
  padding: 30px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  line-height: 18px;
  color: @input-color-placeholder;
  border-top: 1px solid @dnb-gray-light;
  a {
    color: @input-color-placeholder;
    &:hover,
    &:focus {
      color: @link-color;
    }
  }
  .product-name {
    text-transform: uppercase;
    font-size: 10px;
    img {
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .company-info {
  }
  .legal {
    list-style: none;
    margin: 12px 0 0;
    padding: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      &:not(:last-child):after {
        content: "|";
        padding: 0 4px 0 8px;
      }
    }
  }

  &.dnb-global-footer-product {
    text-align: center;
    .product-name {
      img {
        width: 110px;
        margin: -6px 5px 0 0;
      }
    }
  }

  &.dnb-global-footer-marketing {
    .product-name {
      text-align: center;
      img {
        width: 218px;
        padding-bottom: 30px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .prod-name {
      position: absolute;
      left: -9999px;
    }

    @media (min-width: @screen-md-min) {
      .product-name {
        text-align: right;
        padding-right: 50px;
        margin-right: -4px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        &:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          margin-right: -0.25em; /* Adjusts for spacing */
        }
        img{
          padding-bottom: 0;
        }
      }
      .company-info {
        padding: 16px 10px 16px 50px;
        border-left: 1px solid @dnb-gray-light;
        float: none;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}