//
// Left-Hand Menu
// --------------------------------------------------

.has-sidebar {
  position: relative;
  .page-wrapper {
    min-height: 500px;
    
    @media (min-width: @screen-sm) {  // 740px
      padding-left: (@left-hand-menu-width + @grid-gutter-width);
      padding-right: @grid-gutter-width;

      .header-fixed& {
        padding-left: @grid-gutter-width;
        padding-top: 40px;
        position: fixed;
        left: (@left-hand-menu-width);
        top: 71px;
        right: 0;
        bottom: 0;
        overflow-y: auto;
      }
    }
  }
}

.dnb-left-hand-menu {
  width: @left-hand-menu-width;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: -1px;
  padding-bottom: 20px;
  overflow: auto;
  background: @left-hand-menu-bg;
  z-index: 100;

  &.affix,
  .header-fixed & {
    position: fixed;
    top: 0;
  }
  
  .nav-pills {
    line-height: @nav-pills-line-height;
    > li {
      background: @left-hand-menu-bg;
      a,
      div {
        color: @left-hand-menu-color;
        margin: 0 10px;
        padding: 14px 0 14px 30px;
        font-weight: normal;
        position: relative;
      }
      div .btn {
        margin-top: 0;
      }
      a {
        &:hover,
        &:focus {
          color: @left-hand-menu-active-hover-color;
          background-color: transparent;
          box-shadow: none;
        }
        .caret {
          top: 50%;
          left: 10px;
          position: absolute;
          .transform(translateY(-50%) rotate(-90deg));
        }
      }
      &:hover,
      &:focus {
        > a {
          background-color: transparent;
        }
      }

      + li {
        margin-top: 0;
        > a,
        > div {
          border-top: 1px solid @left-hand-menu-active-hover-bg;
        }
      }
      li a {
        .caret {
          left: 0;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          color: @left-hand-menu-active-hover-color;
        }
      }

      &:first-child {
        padding-top: 14px;
      }
    }
    ul {
      display: none;
      margin: 0;
      padding: 0px 10px 16px 20px;
      list-style: none;
      font-size: 12px;
      line-height: 2.2;
      a {
        margin: 0 0 0 20px;
        padding: 0px 5px 6px 20px;
        display: block;
      }
      ul {
        padding: 10px 15px;
        .caret {
          .transform(translateY(-60%));
        }
      }
    }
    .open {
      &.withActive {
        background-color: @left-hand-menu-active-hover-bg ;
      }
      > a {
        &,
        &:hover,
        &:focus {
          border-color: @left-hand-menu-active-hover-bg;
          background-color: transparent;
        }
        .caret {
          border-top: none;
          border-bottom: 4px dashed;
          .transform(translateY(-50%) rotate(180deg)) !important;
        }
      }
      > ul a .caret {
        .transform(translateY(-140%) rotate(-90deg)) !important;
      }
      .open > a .caret {
        .transform(translateY(-140%) rotate(180deg)) !important;
      }
    }

    // Active state
    .active {
      background-color: @left-hand-menu-active-hover-bg;
      > a {
        &,
        &:hover,
        &:focus {
          color: @left-hand-menu-active-hover-color;
          background-color: transparent;
        }
      }

    }
  }
}
