@import (css) "@{icon-font-path}";

i,
[class^="icon-"],
[class*=" icon-"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.alert-badge:after {
  content: '';
  width: .5em;
  height: .5em;
  background: @brand-danger;
  border: 0.075em solid @gray-lighter;
  border-radius: 100px;
  position: absolute;
  top: 2px;
  right: -0.1em;
}

.icon-search:before {
  top: 1px;
  position: relative;
}

.icon-user ~ .caret {
  margin-left: 2px;
}

.btn {
  .btn-icon-left,
  .btn-icon-right {
    font-size: 1em;
    margin-top: -3px;
    vertical-align: middle;
    &.caret {
      display: inline-block;
    }
    .btn-lg& {
      margin-top: -4px;
    }
    .btn-sm& {
      margin-top: -2px;
    }
    .btn-with-icon-stroke& {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 180%;
        width: 1px;
        background-color: fade(#000, 10%);
        top: -40%;
      }
    }
  }
  .btn-icon-left {
    margin-right: .8em;
    .btn-with-icon-stroke& {
      margin-right: 1.5em;
      &:after {
        right: -.9em;
      }
    }
  }
  .btn-icon-right {
    margin-left: .8em;
    .btn-with-icon-stroke& {
      margin-left: 1.5em;
      &:after {
        left: -.9em;
      }
    }
  }
}