//
// Labels
// --------------------------------------------------

.label {
  display: inline;
  padding: .2em .6em .2em;
  font-size: 75%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: @label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1px solid transparent;

  // Add hover effects, but only for links
  a& {
    &:hover,
    &:focus {
      color: @label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}

// Colors
// Contextual variations (linked labels get darker on :hover)

.label-default {
  .label-variant(@label-default-bg);
  color: @brand-primary;
  border: 1px solid @brand-primary;
}

.label-primary {
  .label-variant(@label-primary-bg);
}

.label-success {
  .label-variant(@label-success-bg);
}

.label-info {
  .label-variant(@label-info-bg);
}

.label-warning {
  .label-variant(@label-warning-bg);
}

.label-danger {
  .label-variant(@label-danger-bg);
}

// Risk Labels
.label-risk-low {
  .label-variant(@risk-low);
}

.label-risk-lowmod {
  .label-variant(@risk-lowmod);
}

.label-risk-mod {
  .label-variant(@risk-mod);
}

.label-risk-modhigh {
  .label-variant(@risk-modhigh);
}

.label-risk-high {
  .label-variant(@risk-high);
}

.label-risk-severe {
  .label-variant(@risk-severe);
}

.label-risk-oob {
  .label-variant(@risk-oob);
}

.label-risk-na {
  .label-variant(@risk-na);
}

