
// Notices
.notice {
  margin: 0 0 @line-height-computed;
  font-size: @notice-font-size;
  background: @notice-bg-color;
  border-radius: @border-radius-large 0 0 @border-radius-large;

  .notice-content {
    padding: (@line-height-computed - 4) @line-height-computed;
    border-top-right-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
  }

  .notice-title {
    font-size: @notice-title-size;
  }

  > .notice-title {
    padding: (@line-height-computed - 4) @line-height-computed  0;
    border-top-right-radius: @border-radius-large;
  }
  > .notice-body {
    padding: 0 @line-height-computed (@line-height-computed - 4);
    border-bottom-right-radius: @border-radius-large;
  }

  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Note: Deprecated small and .small as of v3.1.0
  // Context: https://github.com/twbs/bootstrap/issues/11660
  footer,
  small,
  .small {
    display: block;
    font-size: 80%; // back to default font-size
    line-height: @line-height-base;
    color: @notice-small-color;

    &:before {
      content: '\2014 \00A0'; // em dash, nbsp
    }
  }
}

// Opposite alignment of blockquote
//
// Heads up: `notice.pull-right` has been deprecated as of v3.1.0.
.notice-reverse,
.notice.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid @notice-thick-border-color;
  border-left: 0;
  text-align: right;

  // Account for citation
  footer,
  small,
  .small {
    &:before { content: ''; }
    &:after {
      content: '\00A0 \2014'; // nbsp, em dash
    }
  }
}

.notice {
  .notice-variant(@notice-thick-border-color, @notice-thin-border-color);
}
.notice-info {
  .notice-variant(@brand-info, @brand-info);
}
.notice-success {
  .notice-variant(@brand-success, @brand-success);
}
.notice-error,
.notice-danger {
  .notice-variant(@brand-danger, @brand-danger);
}
.notice-warning {
  .notice-variant(@brand-warning, @brand-warning);
}