.amp-loader {
  width: 37px;
  margin: 2% auto;
  display: block;
  &:not(img) {
    height: 50px;
    background: url(@ampersand-loader-lg) left center;
  }
}
.mini-loader {
  width: 19px;
  &:not(img) {
    height: 25px;
    background: url(@ampersand-loader-sm) left top;
  }
}

.simple-spinner {
  width: 16px;
  margin: 2% auto;
  display: inline-block;
  vertical-align: middle;
  &:not(img) {
    height: 16px;
    background: url(@simple-spinner) left center;
  }
}