//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: @border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: 7px 16px;
      line-height: @line-height-base;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        .border-left-radius(@border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        .border-right-radius(@border-radius-base);
      }
    }
    &.ellipsis {
      > a,
      > span {
        border: none;
        margin: 0 1px 0 0;
        padding: 7px 9px;
        background: transparent;
      }
    }
  }

  > li > a,
  > li:not(.ellipsis) > span:not(.go-to-page) {
    &:hover,
    &:focus {
      z-index: 3;
      color: @pagination-hover-color;
      background-color: @pagination-hover-bg;
      border-color: @pagination-hover-border;
    }
  }

  > .active > a,
  > .active:not(.ellipsis) > span:not(.go-to-page) {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: @pagination-disabled-color;
      background-color: @pagination-disabled-bg;
      border-color: @pagination-disabled-border;
      cursor: @cursor-disabled;
    }
  }

  .previous, 
  .next {
    padding: 7px 13px;
  }
  .previous .caret {
    .rotate(90deg);
  }
  .next .caret {
    .rotate(-90deg);
  }

  .caret {
    margin: 0;
    border-top: 7px dashed;
    border-top: 7px solid \9;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-left: 6px solid rgba(0, 0, 0, 0);
  }

  .ellipsis {
    border: none;

  }

  .go-to-page {
    padding: 4px 16px 2px;
    color: @type-med;
    
    .form-inline {
      margin-bottom: 1px;
    }

    &,
    label {
      font-weight: normal;
    }

    input {
      width: @pagination-go-to-page-width;
      height: auto;
      padding: 3px;
      margin-left: 5px;
      font-size: 12px;
      text-align: center;
      display: inline-block;
      &[type=number]::-webkit-inner-spin-button, 
      &[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  .pagination-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

// Small
.pagination-sm {
  .pagination-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}



// D&B Specific
// --------------------------------------------------
.pagination-row {
  margin: @line-height-computed 0 (@line-height-computed / 2);
}
.pagination-perpage {
  color: @type-med;
  margin-top: (@line-height-computed / 4);
}

.pagination-pages {

}