//
// Panels
// --------------------------------------------------


// Base class
.panel {
  margin-bottom: @line-height-computed;
  background-color: @panel-bg;
  border-bottom: 1px solid @panel-default-border;
}

// Panel contents
.panel-body {
  padding: 20px @panel-body-padding;
  border: 1px solid @panel-default-border;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
  position: relative;
  &:extend(.clearfix all);

  .panel-table &,
  &.panel-table {
    padding: @panel-body-padding - 5;
  }
  &.panel-body-no-padding {
    padding: 0;
  }
}

// Optional heading
.panel-heading {
  border: 1px solid @panel-default-border;
  border-top: none;
  position: relative;

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  i.pull-right {
    margin-top: 1px;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: @panel-heading-padding;
  font-size: @font-size-base;
  text-transform: uppercase;
  color: @brand-primary;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }

  a:hover & ,
  a:focus & {
    color: @link-color !important;
    background: @panel-default-heading-hover-bg;
  }

  i, [class^="icon-"], [class*=" icon-"]{
    vertical-align: top;
    margin-top: 1px;
  }

}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: @panel-footer-padding;
  background-color: @panel-footer-bg;
  border: 1px solid @panel-default-border;
  border-bottom: none;
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  > .list-group,
  > .panel-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        .border-top-radius((@panel-border-radius - 1));
      }
    }

    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        .border-bottom-radius((@panel-border-radius - 1));
      }
    }
  }
  > .panel-heading + .panel-collapse > .list-group {
    .list-group-item:first-child {
      .border-top-radius(0);
    }
  }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .panel-footer {
  border-top-width: 0;
}

.panel-table-list {
  td:first-child {
    font-weight: bold;
  }
}



// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: @line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    border-radius: @panel-border-radius;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
      border-top: 1px solid @panel-inner-border;
    }
  }

  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid @panel-inner-border;
    }
  }
}


// Contextual variations
.panel {
  .panel-variant(@panel-primary-border; @panel-primary-text; @panel-bg; @panel-primary-heading-bg; @panel-primary-heading-bg;);
}
.panel-plain {
  border-top: 1px solid @panel-default-border;
}
.panel-success {
  .panel-variant(@panel-success-border; @panel-success-text; @panel-success-heading-bg; @panel-success-border; @panel-success-border);
}
.panel-info {
  .panel-variant(@panel-info-border; @panel-info-text; @panel-info-heading-bg; @panel-info-border; @panel-info-border);
}
.panel-warning {
  .panel-variant(@panel-warning-border; @panel-warning-text; @panel-warning-heading-bg; @panel-warning-border; @panel-warning-border);
}
.panel-danger {
  .panel-variant(@panel-danger-border; @panel-danger-text; @panel-danger-heading-bg; @panel-danger-border; @panel-danger-border);
}
