//
// Tables
// --------------------------------------------------


table {
  background-color: @table-bg;
}
caption {
  padding-top: @table-cell-padding;
  padding-bottom: @table-cell-padding;
  color: @text-muted;
  text-align: left;
}
th {
  text-align: left;
}


// Baseline styles
.table {
  width: 100%;
  max-width: 100%;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: (@table-cell-padding + 5) @table-cell-padding;
        line-height: 1;
        vertical-align: top;
      }
    }
  }
  // zebra-striping is standard
  > tbody > tr:nth-of-type(even) {
    background-color: @table-bg-accent;
  }
  // Bottom align for column headings
  > thead > tr > th, {
    color: @brand-primary;
    vertical-align: bottom;
    border-bottom: 3px solid @table-border-color;
    padding-top: 10px;
    padding-bottom: 10px;

    &:focus {
      .tab-focus();
    }
    
    &.sorted,
    &.sortable-col:hover,
    &.sortable-col:focus,
    &.sorting_asc,
    &.sorting_asc:hover,
    &.sorting_asc:focus,
    &.sorting_desc,
    &.sorting_desc:hover,
    &.sorting_desc:focus,
    &.sorting:hover,
    &.sorting:focus {
      cursor: pointer;
      border-color: @dnb-teal-light;
      &:not(.sorting_asc):not(.sorting_desc):after {
        content: @table-sorting-down-arrow;
        color: @dnb-dark-blue;
      }
    }
    &:after {
      content: @table-sorting-down-arrow;
      color: transparent;
      display: inline-block;
      font-family: 'icomoon';
      margin-left: 7px;
      position: relative;
      top: 2px;
    }
    &.sorting_asc {
      &:after,
      &.sortable:after {
        content: @table-sorting-down-arrow;
        color: @dnb-dark-blue;
      }
    }
    &.sorting_desc {
      &:after,
      &.sortable:after {
        content: @table-sorting-up-arrow;
        color: @dnb-dark-blue;
      }
    }
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid @table-border-color;
  }

  .numeric {
    text-align: right;
  }

  // Nesting
  .table {
    background-color: @body-bg;
  }

  .table-scroll & th,
  .scroll-table & th {
    white-space: nowrap;
  }
  .table-scroll & th,
  .scroll-table & th {
    background: #fff;
  }
}


// scroll tables 

@scrollbar-width: 13px;

.scroll-table-wrapper {
  position: relative;
  div{
    height: 100%;
  }
  .firefox & {
    &.scroll-vert:before,
    &.scroll-horiz:after {
      content: '';
      position: absolute;
      .box-shadow(0 0 15px 10px #FFF);
      z-index: 1;

    }
    &.scroll-vert:before {
      height: 0;
      width: 100%;
      bottom: 10px;
      left: 0;
    }
    &.scroll-horiz:after {
      height: 100%;
      width: 0;
      top: 0;
      right: 10px;
    }
    &.no-shadow:before,
    &.no-shadow:after {
      display: none;
    }
  }

  .table {
    width: auto;
    max-width: none;
  }

  // Scroll bar
  ::-webkit-scrollbar {
    width: (@scrollbar-width);
    height: (@scrollbar-width);
    outline: 8px solid #fff;
  }
  ::-webkit-scrollbar-track {
    width: (@scrollbar-width - 5);
    height: (@scrollbar-width - 5);
    border-radius: @scrollbar-width;
    border: 3px solid #fff;
    background: @dnb-gray-light;
  }
   
  ::-webkit-scrollbar-thumb {
    border-radius: (@scrollbar-width + 5);
    border: 3px solid #fff;
    background: @type-med;
  }

}

.scroll-table {
  overflow-x: auto;
  overflow-y: hidden;
  thead {
    tr {
      position: relative;
    }
  }
  tbody {
    overflow: auto;
    width: 100%;
  }
  
  .scroll-vert:not(.scroll-horiz) & {
    overflow-x: hidden;

  }
  .scroll-horiz & {
    overflow: -moz-scrollbars-horizontal;
    overflow-x: scroll;
  }
  .scroll-vert &,
  .scroll-horiz & {
    thead {
      tr {
        display: block;
      }
    }
    tbody {
      display: block;
    }
  }
}

.old_ie_wrapper {
  .scroll-table,
  .dataTables_wrapper {
    height: 100%;
  }
  .scroll-table {
    width: 100%;
    overflow: auto;
  }
  tbody {
    height: auto !important;
    display: table-row-group;
    overflow: auto;
  }
}

.table-scrollBody {
  margin-top: -15px;
  thead {
    visibility: hidden;
  }
}
.table-sizing {
  display: inline-block;
}

.table-length select {
  line-height: 1 !important;
  margin: 0 3px;
}
.table-paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  .pagination {
    margin-bottom: 0;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: @table-bg-hover;
  }
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
  float: none;
  display: table-column;
}
table {
  td,
  th {
    &[class*="col-"] {
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
      float: none;
      display: table-cell;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
.table-row-variant(active; @table-bg-active);
@table-success-hover: fadeout(@state-success-bg, 75);
.table-row-variant(success; @table-success-hover);
@table-info-hover: fadeout(@state-info-bg, 75);
.table-row-variant(info; @table-info-hover);
@table-warning-hover: fadeout(@state-warning-bg, 65);
.table-row-variant(warning; @table-warning-hover);
@table-danger-hover: fadeout(@state-danger-bg, 75);
.table-row-variant(danger; @table-danger-hover);


// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

  @media screen and (max-width: @screen-xs-max) {
    width: 100%;
    margin-bottom: (@line-height-computed * 0.75);
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid @table-border-color;

    // Tighten up spacing
    > .table {
      margin-bottom: 0;

      // Ensure the content doesn't wrap
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: nowrap;
          }
        }
      }
    }

    // Special overrides for the bordered tables
    > .table-bordered {
      border: 0;

      // Nuke the appropriate borders so that the parent can handle them
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th:first-child,
          > td:first-child {
            border-left: 0;
          }
          > th:last-child,
          > td:last-child {
            border-right: 0;
          }
        }
      }

      // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
      // chances are there will be only one `tr` in a `thead` and that would
      // remove the border altogether.
      > tbody,
      > tfoot {
        > tr:last-child {
          > th,
          > td {
            border-bottom: 0;
          }
        }
      }

    }
  }
}
