//
// Tooltips
// --------------------------------------------------


// Base class
.tooltip {
  position: absolute;
  z-index: @zindex-tooltip;
  display: block;
  // Our parent element can be arbitrary since tooltips are by default inserted as a sibling of their target element.
  // So reset our font and text properties to avoid inheriting weird values.
  .reset-text();
  font-size: @font-size-small;

  .opacity(0);

  &.in     { .opacity(@tooltip-opacity); }
  &.top    { margin-top:  -3px; padding: @tooltip-arrow-width 0; }
  &.right  { margin-left:  3px; padding: 0 @tooltip-arrow-width; }
  &.bottom { margin-top:   3px; padding: @tooltip-arrow-width 0; }
  &.left   { margin-left: -3px; padding: 0 @tooltip-arrow-width; }
}


// Wrapper for the tooltip content
.tooltip-inner {
  max-width: @tooltip-max-width;
  padding: 3px 8px;
  color: @tooltip-color;
  text-align: center;
  background-color: @tooltip-bg;
  border-radius: @border-radius-base;
  
  .tooltip-white & {
    color: @type-med;
    border: 1px solid @gray;
    border-bottom-width: 2px;
    background: #fff;
  }
  .tooltip-gray & {
    color: @type-dark;
    border: 1px solid @gray;
    border-bottom-width: 2px;
    background: @gray-lighter;
  }
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip-white-arrow {
  position: absolute;
  background: url(@tooltip-white-arrows) no-repeat;
}
.tooltip-gray-arrow {
  position: absolute;
  background: url(@tooltip-gray-arrows) no-repeat;
}
// Note: Deprecated .top-left, .top-right, .bottom-left, and .bottom-right as of v3.3.1
.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -@tooltip-arrow-width;
    border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
    border-top-color: @tooltip-arrow-color;
  }
  &.top .tooltip-white-arrow,
  &.top .tooltip-gray-arrow {
    width: 15px;
    height: 9px;
    bottom: -2px;
    left: 50%;
    margin-left: -7.5px;
    background-position: 0 0;
  }
  &.top-left .tooltip-arrow {
    bottom: 0;
    right: @tooltip-arrow-width;
    margin-bottom: -@tooltip-arrow-width;
    border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
    border-top-color: @tooltip-arrow-color;
  }
  &.top-right .tooltip-arrow {
    bottom: 0;
    left: @tooltip-arrow-width;
    margin-bottom: -@tooltip-arrow-width;
    border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
    border-top-color: @tooltip-arrow-color;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -@tooltip-arrow-width;
    border-width: @tooltip-arrow-width @tooltip-arrow-width @tooltip-arrow-width 0;
    border-right-color: @tooltip-arrow-color;
  }
  &.right .tooltip-white-arrow,
  &.right .tooltip-gray-arrow {
    width: 7px;
    height: 15px;
    top: 50%;
    left: -1px;
    margin-top: -7.5px;
    background-position: -4px -40px;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -@tooltip-arrow-width;
    border-width: @tooltip-arrow-width 0 @tooltip-arrow-width @tooltip-arrow-width;
    border-left-color: @tooltip-arrow-color;
  }
  &.left .tooltip-white-arrow,
  &.left .tooltip-gray-arrow {
    width: 7px;
    height: 15px;
    top: 50%;
    right: -1px;
    margin-top: -7.5px;
    background-position: -5px -22px;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -@tooltip-arrow-width;
    border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
    border-bottom-color: @tooltip-arrow-color;
  }
  &.bottom .tooltip-white-arrow,
  &.bottom .tooltip-gray-arrow {
    width: 15px;
    height: 9px;
    top: -3px;
    left: 50%;
    margin-left: -7.5px;
    background-position: 0 -9px;
  }
  &.bottom-left .tooltip-arrow {
    top: 0;
    right: @tooltip-arrow-width;
    margin-top: -@tooltip-arrow-width;
    border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
    border-bottom-color: @tooltip-arrow-color;
  }
  &.bottom-right .tooltip-arrow {
    top: 0;
    left: @tooltip-arrow-width;
    margin-top: -@tooltip-arrow-width;
    border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
    border-bottom-color: @tooltip-arrow-color;
  }
}

.tooltip-rich-content {
  padding: 13px 12px;
  display: block;
  > * {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }
  .data-detail {
    font-size: 2em;
    margin-right: 15px;
  }
  .data-detail-caption {
    text-align: left;
    strong {
      font-size: 14px;
    }
  }
}
.tooltip-link-group {
  padding: 5px 2px;
  display: block;
  a {
    padding: 0 10px;
    border-left: 1px solid;
    display: inline-block;
    color: @gray-lighter;
    .tooltip-white &,
    .tooltip-gray & {
      color: @brand-primary;
    }

    [class^="icon-"] {
      font-size: 20px;
    }
    &:first-child {
      padding-left: 0;
      border-left: none;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
