// Variables
// --------------------------------------------------

//== Colors
//

//## D&B Branding Colors
@dnb-darker-blue: #002E41;    // text-color
@dnb-dark-blue: #005172;      // primary-blue-1
@dnb-light-blue: #3095B4;     // primary-blue-2
@dnb-bright-blue: #009ECE;    // link-color
@dnb-black: #000000;
@dnb-gray: #A4A9AD;
@dnb-gray-light: #D7E0E4;     // borders
@dnb-gray-lighter: #F1F6F8;     // backgrounds
@dnb-white: #fff;
@dnb-orange-light: #E1A357;   // Secondary 01
@dnb-orange-dark: #BC4C05;    // Secondary 02
@dnb-coral-light: #D06079;    // Secondary 03 & danger
@dnb-coral-dark: #963156;     // Secondary 04
@dnb-pink-light: #C55E9B;     // Secondary 05
@dnb-pink-dark: #8F3F6D;      // Secondary 06
@dnb-purple-light: #9C5FB5;   // Secondary 07
@dnb-purple-dark: #693A77;    // Secondary 08
@dnb-green-light: #73AF55;    // Secondary 09
@dnb-green-dark: #284E36;     // Secondary 10
@dnb-teal-light: #00B2A9;     // Secondary 11
@dnb-teal-dark: #006265;      // Secondary 12
@dnb-teal-lighter: #00D2C7;

//## Risk Colors
@risk-low:			#69c568;
@risk-lowmod:		#b9c552;
@risk-mod:			#ffc341;
@risk-modhigh:		#f79851;
@risk-high:			#ec6660;
@risk-severe:		#b54039;
@risk-oob:			#333333;
@risk-na:			#bcc9db;

//## Chart Colors
@chart-1:			#4eb1cb;
@chart-2:			#717ecd;
@chart-3:			#d96383;
@chart-4:			#d291d6;
@chart-5:			#c3d785;

//## Gray and brand colors for use across Bootstrap.
@gray-base:              darken(@gray, 13.5%);
@gray-darker:            darken(@gray-base, 13.5%); // #
@gray-dark:              @gray-base;   // #link
@gray:                   @dnb-gray-light; // #
@gray-light:             lighten(@gray, 8%); // #
@gray-lighter:           @dnb-gray-lighter; // #

@brand-primary:         @dnb-dark-blue; // #
@brand-success:         @dnb-green-light;
@brand-info:            @dnb-light-blue;
@brand-warning:         @dnb-orange-light;
@brand-danger:          #cf3154;

//## Background
@bg-dark-1:			#003B53;
@bg-dark-2:			@brand-primary;
@bg-light-1:		@gray-lighter;
@bg-light-2:		#fff;

//## Type Colors
@type-darker:	    @dnb-darker-blue;
@type-dark:			@dnb-darker-blue;
@type-med:			#728d96;
@type-light:		#bcc9db;
@type-header:   @dnb-dark-blue;


//== Animation
//
// ## Threshold below which animations should not be used
@animation-threshold: @screen-sm-min;

//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               @bg-light-2;
//** Global text color on `<body>`.
@text-color:            @type-dark;

//** Global textual link color.
@link-color:            @dnb-bright-blue;
//** Link hover color set via `darken()` function.
@link-hover-color:      @link-color;
//** Link hover decoration.
@link-hover-decoration: underline;

//## Button Colors
@btn-default:       @link-color;
@btn-primary:       @link-color;
@btn-danger:        @brand-danger;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.856)); // ~12px

@font-size-h1:            floor((@font-size-base * 1.75)); // ~24px
@font-size-h2:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h3:            floor((@font-size-base)); // ~14px
@font-size-h4:            ceil((@font-size-base * 1.1)); // ~16px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.7145; // 24/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-sans-serif;
@headings-font-weight:    600;
@headings-line-height:    1.1;
@headings-color:          @type-header;


//-- Iconography
//
//## Specify custom locations of the include Glyphicons icon font. Useful for those including Bootstrap via Bower.

// @icon-font-path:          "../cirrus-ux/fonts/";
// @icon-font-name:          "glyphicons-halflings-regular";
// @icon-font-svg-id:        "glyphicons_halflingsregular";

@icon-font-path:          "https://s3.amazonaws.com/icomoon.io/26698/ProductDesign/style.css?-o1m5bm";


//==Images
//
@dnb-logo: '../img/dnb_logo.png';
@ampersand-loader-lg: '../img/ampersand-loader.gif';
@ampersand-loader-sm: '../img/ampersand-loader-mini.gif';
@simple-spinner: '../img/simple-spinner.gif';
@tooltip-white-arrows: '../img/tooltip-white-arrows.png';
@tooltip-gray-arrows: '../img/tooltip-gray-arrows.png';

//== Components
//

//## Global Header
@global-header-color: @dnb-dark-blue;
@global-header-breakpoint-sm: @grid-float-breakpoint;
@global-header-breakpoint-md: @screen-md-min;
@global-header-user-icon: 22px;
@global-header-active-color: @dnb-teal-light;
@global-header-box-shadow: 0 6px 4px rgba(210, 219, 223, .3);
@nav-btn-font-size: .85em;
@nav-btn-margin-sides-sm:  5.1px;
@nav-btn-margin-sm: 20.4px @nav-btn-margin-sides-sm -2.55px (@nav-btn-margin-sides-sm + 10);
@nav-btn-margin-sides-md: 6.8px;
@nav-btn-margin-md: 17.68px @nav-btn-margin-sides-md -3.4px (@nav-btn-margin-sides-md + 10);


//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     6px;
@padding-base-horizontal:   20px;

@padding-large-vertical:    12px;
@padding-large-horizontal:  30px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  16px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        2px;
@border-radius-large:       3px;
@border-radius-small:       2px;

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         @dropdown-caret-size;


//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
@table-cell-padding:            10px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               @bg-light-1;
//** Background color used for `.table-hover`.
@table-bg-hover:                fadeout(@dnb-dark-blue, 90);
@table-bg-active:               @table-bg-hover;

//** Border color for table and cell borders.
@table-border-color:            @dnb-gray-light;

@table-sorting-down-arrow:      "\e602";
@table-sorting-up-arrow:        "\e606";


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.


@btn-font-weight:                normal;

@btn-padding-horizontal:         16px;
@btn-padding-vertical:           10px;

@btn-default-color:              @link-color;
@btn-default-bg:                 #fff;
@btn-default-border:             @link-color;

@btn-default-blue-color:         @link-color;
@btn-default-blue-bg:            #fff;
@btn-default-blue-border:        @link-color;
@btn-default-blue-hover-bg-on-dark: #00b7ee;

@btn-default-dark-blue-color:    @dnb-dark-blue;
@btn-default-dark-blue-bg:       #fff;
@btn-default-dark-blue-border:   @dnb-dark-blue;
@btn-default-dark-blue-hover-bg-on-dark: #0082b7;

@btn-default-green-color:        @dnb-teal-light;
@btn-default-green-bg:           #fff;
@btn-default-green-border:       @dnb-teal-light;
@btn-default-green-hover-bg-on-dark: #00d2c7;

@btn-primary-color:              @btn-primary-blue-color;
@btn-primary-bg:                 @btn-primary-blue-bg;
@btn-primary-border:             @btn-primary-blue-border;
@btn-primary-hover:              @btn-primary-blue-hover;

@btn-primary-blue-color:         #fff;
@btn-primary-blue-bg:            @dnb-bright-blue;
@btn-primary-blue-border:        darken(@btn-primary-blue-bg, 5%);
@btn-primary-blue-hover:         #0088b1;
@btn-primary-blue-hover-bg-on-dark:      @btn-default-blue-hover-bg-on-dark;

@btn-primary-dark-blue-color:    #fff;
@btn-primary-dark-blue-bg:       @dnb-dark-blue;
@btn-primary-dark-blue-bg-on-dark: #006d99;
@btn-primary-dark-blue-border:   darken(@btn-primary-blue-bg, 5%);
@btn-primary-dark-blue-hover:    #003e57;
@btn-primary-dark-blue-hover-bg-on-dark: @btn-default-dark-blue-hover-bg-on-dark;

@btn-primary-green-color:        #fff;
@btn-primary-green-bg:           @dnb-teal-light;
@btn-primary-green-border:       darken(@btn-primary-green-bg, 5%);
@btn-primary-green-hover:        #009a92;
@btn-primary-green-hover-bg-on-dark:     @btn-default-green-hover-bg-on-dark;

@btn-purchase-color:             #fff;
@btn-purchase-bg:                #1abc9c;
@btn-purchase-border:            #1abc9c;

@btn-danger-color:               #fff;
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              @btn-danger-bg;
@btn-danger-hover:               #b32c4a;
@btn-danger-hover-on-dark:       #ed3961;

@btn-success-color:              @btn-default-color;
@btn-success-bg:                 @brand-success;
@btn-success-border:             @btn-success-bg;

@btn-info-color:                 @btn-default-color;
@btn-info-bg:                    @brand-info;
@btn-info-border:                @btn-info-bg;

@btn-warning-color:              @btn-default-color;
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             @btn-warning-bg;

@btn-link-disabled-color:        @type-med;

// Allows for customizing button radius independently from global border radius
@btn-border-radius-base:         @border-radius-base;
@btn-border-radius-large:        @border-radius-large;
@btn-border-radius-small:        @border-radius-small;



//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              #f3f6f9;
@input-border-disabled:			 #d4dde9;
@input-text-disabled:			 @type-light;

//** Text color for `<input>`s
@input-color:                    @type-dark;
//** `<input>` border color
@input-border:                   @dnb-gray-light;
//** `<input>` border radius
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-small;
//** Border color for inputs on focus
@input-border-focus:             @dnb-gray-light;

//** Placeholder text color
@input-color-placeholder:        @type-med;

//** Default `.form-control` height
@input-height-base:              45px;
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       15px;

@legend-color:                   @text-color;
@legend-border-color:            #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg:           @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;


//== Dropdowns
//
//## Dropdown menu container and contents.

//** Background for the dropdown menu.
@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                @dnb-gray-light;
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       @dnb-gray-light;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            @dnb-gray-light;

//** Dropdown link text color.
@dropdown-link-color:            @text-color;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      @link-color;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         @panel-default-heading-hover-bg;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     #fff;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @link-color;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @text-muted;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @text-muted;

// Note: Deprecated @dropdown-caret-color as of v3.1.0
@dropdown-caret-color:           #000;
@dropdown-caret-size:          .45em;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1000;
@zindex-popover:           1010;
@zindex-tooltip:           1030;
@zindex-navbar-fixed:      1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
// Note: Deprecated @screen-xs and @screen-phone as of v3.0.1
@screen-xs:                  480px;
@screen-xs-left-hand-menu:  (@screen-xs + @left-hand-menu-width);  // 740px
@screen-xs-min:              @screen-xs;
@screen-phone:               @screen-xs-min;

// Small screen / tablet
// Note: Deprecated @screen-sm and @screen-tablet as of v3.0.1
@screen-sm:                  768px;
@screen-sm-left-hand-menu: (@screen-sm-min + @left-hand-menu-width);  // 1028px
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
// Note: Deprecated @screen-md and @screen-desktop as of v3.0.1
@screen-md:                  992px;
@screen-md-left-hand-menu: (@screen-md-min + @left-hand-menu-width);  // 1252px
@screen-md-min:              @screen-md;
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
// Note: Deprecated @screen-lg and @screen-lg-desktop as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-left-hand-menu: (@screen-lg-min + @left-hand-menu-width);  // 1460px
@screen-lg-min:              @screen-lg;
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-xs-max-left-hand-menu:              (@screen-sm-left-hand-menu - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-sm-max-left-hand-menu:              (@screen-md-left-hand-menu - 1);
@screen-md-max:              (@screen-lg-min - 1);
@screen-md-max-left-hand-menu:              (@screen-lg-left-hand-menu - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         20px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             ((720px + @grid-gutter-width));
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            ((940px + @grid-gutter-width));
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop.
@container-large-desktop:      ((1140px + @grid-gutter-width));

//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


//== Navbar
//
//##

// Basics of a navbar
@navbar-height:                    40px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             @text-color;
@navbar-default-bg:                #fff;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

// Navbar links
@navbar-default-link-color:                @headings-color;
@navbar-default-link-hover-color:          @brand-primary;
@navbar-default-link-hover-bg:             #DBEFF5;
@navbar-default-link-hover-border:         transparent;
@navbar-default-link-active-color:         @navbar-default-link-hover-color;
@navbar-default-link-active-bg:            @navbar-default-link-active-border;
@navbar-default-link-active-border:        @dnb-teal-light;
@navbar-default-link-disabled-color:       #444;
@navbar-default-link-disabled-bg:          transparent;
@navbar-default-link-disabled-border:      transparent;
@navbar-default-mobile-dropdown-bg:        #F5FAFD;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @gray;
@navbar-default-toggle-icon-bar-bg:        @gray-lighter;
@navbar-default-toggle-border-color:       @gray;


// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      #fff;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           lighten(@brand-primary, 40%);
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             transparent;
@navbar-inverse-link-disabled-color:        #ccc;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            darken(@navbar-inverse-bg, 10%);
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        darken(@navbar-inverse-bg, 10%);


//== Navs
//
//##

//=== Shared nav styles
@nav-link-padding:                          10px 15px;
@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;

//== Tabs
@nav-tabs-border-color:                     @gray;
@nav-tabs-link-color:                       #a2aaad;
@nav-tabs-link-hover-border-color:          @dnb-bright-blue;
@nav-tabs-link-hover-bg:                    @panel-default-heading-hover-bg;

@nav-tabs-active-link-hover-bg:             #fff;
@nav-tabs-active-link-hover-color:          @dnb-dark-blue;
@nav-tabs-active-link-hover-border-color:   @dnb-teal-light;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

@tab-content-padding:                       20px 15px;

//== Pills
@nav-pills-line-height:                     20px;
@nav-pills-border-radius:                   @border-radius-base;
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         @component-active-color;


//== D&B Left-Hand Nav
@left-hand-menu-width:                      220px;
@left-hand-menu-color:                       #d5dee3;
@left-hand-menu-bg: @bg-dark-1;
@left-hand-menu-active-hover-bg: #022a3c;
@left-hand-menu-active-hover-color: #00d2c7;


//== Pagination
//
//##

@pagination-color:                     @link-color;
@pagination-bg:                        #fff;
@pagination-border:                    @gray;

@pagination-hover-color:               #fff;
@pagination-hover-bg:                  @link-color;
@pagination-hover-border:              @link-color;

@pagination-active-color:              #fff;
@pagination-active-bg:                 @dnb-teal-light;
@pagination-active-border:             @dnb-teal-light;

@pagination-disabled-color:            @type-light;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           @gray;

@pagination-go-to-page-width:          40px;


//== Pager
//
//##

@pager-bg:                             @pagination-bg;
@pager-border:                         @pagination-border;
@pager-border-radius:                  15px;

@pager-hover-bg:                       @brand-primary;

@pager-active-bg:                      @brand-primary;
@pager-active-color:                   #fff;

@pager-disabled-color:                 @gray-lighter;


//== Jumbotron
//
//##alert

@jumbotron-padding:              30px;
@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;
@jumbotron-heading-color:        inherit;
@jumbotron-font-size:            ceil((@font-size-base * 1.5));
@jumbotron-heading-font-size:    ceil((@font-size-base * 4.5));


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-primary-bg:               @brand-primary;
@state-primary-text:             @brand-primary;
@state-primary-border:           @brand-primary;

@state-success-bg:               @brand-success;
@state-success-text:             @brand-success;
@state-success-border:           @brand-success;

@state-info-bg:                  @brand-info;
@state-info-text:                @brand-info;
@state-info-border:              @brand-info;

@state-warning-bg:               @brand-warning;
@state-warning-text:             @brand-warning;
@state-warning-border:           @brand-warning;

@state-danger-bg:                @brand-danger;
@state-danger-text:              @brand-danger;
@state-danger-border:            @brand-danger;


//== Tooltips
//
//##

//** Tooltip max width
@tooltip-max-width:           200px;
//** Tooltip text color
@tooltip-color:               #fff;
//** Tooltip background color
@tooltip-bg:                  @brand-primary;
@tooltip-opacity:             1;

//** Tooltip arrow width
@tooltip-arrow-width:         5px;
//** Tooltip arrow color
@tooltip-arrow-color:         @tooltip-bg;


//== Popovers
//
//##

//** Popover body background color
@popover-bg:                          #fff;
//** Popover maximum width
@popover-max-width:                   276px;
//** Popover border color
@popover-border-color:                @gray;
//** Popover fallback border color
@popover-fallback-border-color:       @gray;

//** Popover title background color
@popover-title-bg:                    @brand-primary;

//** Popover arrow width
@popover-arrow-width:                 10px;
//** Popover arrow color
@popover-arrow-color:                 #fff;

//** Popover outer arrow width
@popover-arrow-outer-width:           (@popover-arrow-width + 1);
//** Popover outer arrow color
@popover-arrow-outer-color:           @popover-border-color;
//** Popover outer arrow fallback color
@popover-arrow-outer-fallback-color:  @popover-fallback-border-color;


//== Labels
//
//##

//** Default label background color
@label-default-bg:            @btn-default-bg;
//** Primary label background color
@label-primary-bg:            @brand-primary;
//** Success label background color
@label-success-bg:            @risk-low;
//** Info label background color
@label-info-bg:               @brand-info;
//** Warning label background color
@label-warning-bg:            @risk-mod;
//** Danger label background color
@label-danger-bg:             @risk-high;

//** Default label text color
@label-color:                 #fff;
//** Default text color of a linked label
@label-link-hover-color:      #fff;


//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         20px;
@modal-inner-padding-top-bottom:         24px;
@modal-inner-padding-left-right:         20px;

//** Padding applied to the modal title
@modal-title-padding:         @panel-heading-padding;
//** Modal title line-height
@modal-title-line-height:     @line-height-base;

//** Background color of modal content area
@modal-content-bg:                             #fff;
//** Modal content border color
@modal-content-border-color:                   #fff;
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          #fff;

//** Modal backdrop background color
@modal-backdrop-bg:           #103240;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .4;
//** Modal header text color
@modal-header-color:   #fff;
//** Modal header close color
@modal-header-close-color:   #fff;
//** Modal header border color
@modal-header-border-color:   #e5e5e5;
//** Modal header background color
@modal-header-bg:			  @dnb-dark-blue;

//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    900px;
@modal-md:                    580px;
@modal-sm:                    300px;


//== Alerts
//
//## Define alert colors, border radius, and padding.

@alert-padding:               15px;
@alert-border-radius:         @border-radius-base;
@alert-link-font-weight:      bold;

@alert-primary-bg:            @state-primary-bg;
@alert-primary-text:          @state-primary-text;
@alert-primary-border:        @state-primary-border;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


//== Progress bars
//
//##

//** Background color of the whole progress component
@progress-bg:                 lighten(@gray, 11.5);
//** Progress bar text color
@progress-bar-color:          #fff;
//** Variable for setting rounded corners on progress bar.
@progress-border-radius:      @border-radius-base;

//** Default progress bar color
@progress-bar-bg:             @link-color;
//** Success progress bar color
@progress-bar-success-bg:     @brand-success;
//** Warning progress bar color
@progress-bar-warning-bg:     @brand-warning;
//** Danger progress bar color
@progress-bar-danger-bg:      @brand-danger;
//** Info progress bar color
@progress-bar-info-bg:        @brand-info;


//== List group
//
//##

//** Background color on `.list-group-item`
@list-group-bg:                 #fff;
//** `.list-group-item` border color
@list-group-border:             #ddd;
//** List group border radius
@list-group-border-radius:      @border-radius-base;

//** Background color of single list elements on hover
@list-group-hover-bg:           #f5f5f5;
//** Text color of active list elements
@list-group-active-color:       @component-active-color;
//** Background color of active list elements
@list-group-active-bg:          @component-active-bg;
//** Border color of active list elements
@list-group-active-border:      @list-group-active-bg;
@list-group-active-text-color:  lighten(@list-group-active-bg, 40%);

//** Text color of disabled list items
@list-group-disabled-color:      @gray-lighter;
//** Background color of disabled list items
@list-group-disabled-bg:         @gray-lighter;
//** Text color for content within disabled list items
@list-group-disabled-text-color: @list-group-disabled-color;

@list-group-link-color:         #555;
@list-group-link-hover-color:   @list-group-link-color;
@list-group-link-heading-color: #333;


//== Panels
//
//##

@panel-bg:                    #fff;
@panel-body-padding:          15px;
@panel-heading-padding:       13px 15px;
@panel-footer-padding:        9px 15px;
@panel-border-radius:         @border-radius-base;

//** Border color for elements within panels
@panel-inner-border:          @gray;
@panel-footer-bg:             #fff;

@panel-default-text:          @text-color;
@panel-default-border:        @gray;
@panel-default-heading-bg:    @link-color;
@panel-default-heading-hover-bg: #eef9fd;

@panel-primary-text:          @text-color;
@panel-primary-border:        @panel-default-border;
@panel-primary-heading-bg:    @link-color;

@panel-success-text:          #fff;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-info-text:             #fff;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;

@panel-warning-text:          #fff;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           #fff;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;


//== Cards
//
//##

@card-bg:                    #fff;
@card-body-padding:          15px;
@card-heading-padding:       13px 15px;
@card-title-padding:         17px;
@card-footer-padding:        @panel-heading-padding;
@card-border-radius:         @border-radius-base;

//** Border color for elements within panels
@card-inner-border:          @gray;
@card-footer-bg:             @gray-lighter;

@card-default-text:          @text-color;
@card-default-border:        @gray;
@card-default-heading-bg:    @gray-lighter;
@card-default-heading-hover-bg: #eef9fd;



//== Thumbnails
//
//##

//** Padding around the thumbnail image
@thumbnail-padding:           4px;
//** Thumbnail background color
@thumbnail-bg:                @body-bg;
//** Thumbnail border color
@thumbnail-border:            #ddd;
//** Thumbnail border radius
@thumbnail-border-radius:     @border-radius-base;

//** Custom text color for thumbnail captions
@thumbnail-caption-color:     @text-color;
//** Padding around the thumbnail caption
@thumbnail-caption-padding:   9px;


//== Wells
//
//##

@well-bg:                     darken(@body-bg, 3%);
@well-border:                 darken(@well-bg, 7%);


//== Badges
//
//##

@badge-color:                 #fff;
//** Linked badge text color on hover
@badge-link-hover-color:      #fff;
@badge-bg:                    @gray-light;

//** Badge text color in active nav link
@badge-active-color:          @link-color;
//** Badge background color in active nav link
@badge-active-bg:             #fff;

@badge-font-weight:           bold;
@badge-line-height:           1;
@badge-border-radius:         100px;


//== Breadcrumbs
//
//##

@breadcrumb-padding-vertical:   8px;
@breadcrumb-padding-horizontal: 15px;
//** Breadcrumb background color
@breadcrumb-bg:                 transparent;
//** Breadcrumb text color
@breadcrumb-color:              @type-med;
//** Text color of current page in the breadcrumb
@breadcrumb-active-color:       @type-med;
//** Textual separator for between breadcrumb elements
@breadcrumb-separator:          "/";


//== Carousel
//
//##

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      #fff;
@carousel-control-width:                      15%;
@carousel-control-opacity:                    .5;
@carousel-control-font-size:                  20px;

@carousel-indicator-bg:                       #b9c5cb;
@carousel-indicator-active-bg:                @dnb-teal-light;
@carousel-indicator-border-color:             @carousel-indicator-bg;

@carousel-caption-color:                      #fff;


//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;


//== Code
//
//##

@code-color:                  #c7254e;
@code-bg:                     #F1E4E8;

@kbd-color:                   #fff;
@kbd-bg:                      #333;

@pre-bg:                      @gray-lighter;
@pre-color:                   @gray-dark;
@pre-border-color:            @gray;
@pre-scrollable-max-height:   340px;


//== Type
//
//##

//** Text muted color
@text-muted:                  @type-med;
//** Abbreviations and acronyms border color
@abbr-border-color:           @gray-light;
//** Headings small color
@headings-small-color:        @type-med;
//** Blockquote small color
@blockquote-small-color:      @gray-light;
//** Blockquote font size
@blockquote-font-size:        (@font-size-base * 1.25);
//** Blockquote border color
@blockquote-border-color:     @gray-lighter;
//** Notice small color
@notice-small-color:      @type-med;
//** Notice font size
@notice-font-size:        @font-size-base;
//** Notice title size
@notice-title-size:        (@font-size-base * 1.3);
//** Notice thin border color
@notice-thin-border-color:     @gray;
//** Notice thick border color
@notice-thick-border-color:     @dnb-light-blue;
//** Notice background color
@notice-bg-color:     #fff;
//** Page header border color
@page-header-border-color:    @gray-lighter;
//** Width of horizontal description list titles
@dl-horizontal-offset:        @component-offset-horizontal;


//== Miscellaneous
//
//##

//** Horizontal line color.
@hr-border:                   @gray;

//** Horizontal offset for forms and lists.
@component-offset-horizontal: 180px;