
        
          <div id="helper_classes">
            <div id="bootstrap_helpers">
              <div class="section-header">
                <h1>Helper Classes</h1>
                <p>Don't forget to use the built in helper classes to quickly and easily modify elements.</p>
              </div>
              
              <h2 class="section-subheader">Bootstrap Helper Classes</h2>
              <p>Check out Bootstrap's <a href="http://getbootstrap.com/css/#helper-classes" target="_blank">documentation on helper classes</a>.  We've highlighted just a few here, but have linked to all that Bootstrap makes available.</p>
              <ul class="list-unstyled">
                <li>
                  <a href="http://getbootstrap.com/css/#helper-classes-colors" target="_blank">Contextual colors</a>
                  <div class="row clearfix">
                    <div class="col-xs-12 col-md-6">
                      <p>Add a class to a <code>p</code> tag to highlight the entire paragraph.</p>
                      <div class="panel panel-plain">
                        <div class="panel-body">
                          <p class="small"><strong>EXAMPLE</strong></p>
                          <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                          <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                          <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                          <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                          <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <p>Combine with <code>strong</code> or <code>b</code> to make it stand out even more.</p>
                      <div class="panel panel-plain">
                        <div class="panel-body">
                          <p class="small"><strong>EXAMPLE</strong></p>
                          <p>Lorem ipsum <strong class="text-muted">dolor sit amet</strong>, consectetur adipiscing elit.</p>
                          <p>Lorem ipsum dolor sit amet, <strong class="text-primary">consectetur</strong> adipiscing elit.</p>
                          <p>Lorem <strong class="text-success">ipsum</strong> dolor sit amet, consectetur adipiscing elit.</p>
                          <p>Lorem ipsum dolor <strong class="text-info">sit amet</strong>, consectetur adipiscing elit.</p>
                          <p>Lorem ipsum dolor sit amet, <strong class="text-warning">consectetur</strong> adipiscing elit.</p>
                          <p>Lorem ipsum dolor sit amet, consectetur <strong class="text-danger">adipiscing</strong> elit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="http://getbootstrap.com/css/#helper-classes-backgrounds" target="_blank">Contextual backgrounds</a>
                  <div class="panel panel-plain">
                    <div class="panel-body">
                      <p class="small"><strong>EXAMPLE</strong></p>
                      <div class="example-bg-classes" data-example-id="contextual-backgrounds-helpers">
                        <p>Nullam id dolor id nibh <span class="bg-primary">ultricies</span> vehicula ut id elit.</p>
                        <p>Duis mollis, <span class="bg-success">est non commodo luctus</span>, nisi erat porttitor ligula.</p>
                        <p>Maecenas sed diam eget risus <span class="bg-info">varius blandit</span> sit amet non magna.</p>
                        <p><span class="bg-warning">Etiam</span> porta sem malesuada magna mollis euismod.</p>
                        <p>Donec <span class="bg-danger">ullamcorper</span> nulla non metus auctor fringilla.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-close" target="_blank">Close icon</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-carets" target="_blank">Carets</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-floats" target="_blank">Quick floats</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-center" target="_blank">Center content blocks</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-clearfix" target="_blank">Clearfix</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-show-hide" target="_blank">Showing and hiding content</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-screen-readers" target="_blank">Screen reader and keyboard navigation content</a></li>
                <li><a href="http://getbootstrap.com/css/#helper-classes-image-replacement" target="_blank">Image replacement</a></li>
              </ul>
            </div>