

            <div id="DB_helpers">
              <h2 class="section-subheader">D&amp;B Specific Helper Classes</h2>
              <ul class="list-unstyled">
                <li>
                  <h3>Column Heightfix</h3>
                  <p>Sometimes you need columns to have the same height.  This often helps a layout feel complete and look great.</p>
                  <p>Use <code>.col-heightfix</code> on the parent element of the columns you want to have the same heights.  This applies <code>display: table</code> to the parent and <code>display: table-cell</code> to the direct decendant columns.  This will make the heights the same, but you'll need to specify the vertical alignment.  There are 3 additional classes to choose from, depending on what you're trying to accomplish:  <code>.col-heightfix-top</code>, <code>.col-heightfix-middle</code>, and <code>.col-heightfix-bottom</code>.</p>
              
                  <div class="panel panel-plain">
                    <div class="panel-body">
                      <p class="small"><strong>EXAMPLE</strong></p>
                      <p class="example-label">w/o <code>.col-heightfix</code> class</p>
                      <div class="row">
                        <div class="col-sm-4 col-example">
                          <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                        <div class="col-sm-4 col-example">
                          <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        </div>
                        <div class="col-sm-4 col-example">
                          <p>Etiam porta sem malesuada magna mollis euismod.</p>
                          <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                      </div>
              
                      <p class="example-label">w/ <code>.col-heightfix</code> class</p>
                      <div class="row col-heightfix">
                        <div class="col-sm-4 col-example">
                          <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                        <div class="col-sm-4 col-example">
                          <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        </div>
                        <div class="col-sm-4 col-example">
                          <p>Etiam porta sem malesuada magna mollis euismod.</p>
                          <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <div class="notice notice-warning">
                    <div class="notice-content">
                      <div class="notice-title">May not produce expected results</div>
                      <div class="notice-body">
                        <p>Depending on your structure, this may not product the exact results you are looking for.  For example, the height of panels is determined by the .panel-body element which is not a direct decendent of a column.  So, although the columns will be the same height, the panels will remain unaffected.</p>
                      </div>
                    </div>
                  </div>
              
                  <div class="panel panel-plain">
                    <div class="panel-body">
                      <p class="small"><strong>EXAMPLE</strong></p>
                      <p class="example-label">w/o <code>.col-heightfix</code> class</p>
                      <div class="row">
                        <div class="col-sm-4 col-example">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel Title</h3>
                            </div>
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel Title</h3>
                            </div>
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel Title</h3>
                            </div>
                            <div class="panel-body">
                              <p>Etiam porta sem malesuada magna mollis euismod.</p>
                              <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <p class="example-label">w/ <code>.col-heightfix</code> class</p>
                      <div class="row col-heightfix">
                        <div class="col-sm-4 col-example">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel Title</h3>
                            </div>
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel Title</h3>
                            </div>
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel">
                            <div class="panel-heading">
                              <h3 class="panel-title">Panel Title</h3>
                            </div>
                            <div class="panel-body">
                              <p>Etiam porta sem malesuada magna mollis euismod.</p>
                              <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              
                  <p>Although the panels don't become the same height, you can do some interesting thing by adding the extra classes.  May not be ideal for panels, but this should illustrate the point.</p>
              
                  <div class="panel panel-plain">
                    <div class="panel-body">
                      <p class="small"><strong>EXAMPLE</strong></p>
                      <p class="example-label">w/ <code>.col-heightfix-top</code> class added</p>
                      <div class="row col-heightfix col-heightfix-top">
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Etiam porta sem malesuada magna mollis euismod.</p>
                              <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <p class="example-label">w/ <code>.col-heightfix-middle</code> class added</p>
                      <div class="row col-heightfix col-heightfix-middle">
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Etiam porta sem malesuada magna mollis euismod.</p>
                              <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                      <p class="example-label">w/ <code>.col-heightfix-bottom</code> class added</p>
                      <div class="row col-heightfix col-heightfix-bottom">
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-example">
                          <div class="panel panel-plain">
                            <div class="panel-body">
                              <p>Etiam porta sem malesuada magna mollis euismod.</p>
                              <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
                            </div>
                          </div>
                        </div>
                      </div>
              
                    </div>
                  </div>
              
                </li>
              </ul>
            </div>


          </div>