          <div class="buttons section" id="colors">
            <div class="section-header">
              <h1>Buttons</h1>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h2>Button Colors</h2>
                <p>As with stock Bootstrap, buttons require the <code>.btn</code> class and can be used on <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, and <code>&lt;input&gt;</code> elements.  An additional class is required to give the button it's color.  The available color classes are given for each button below.</p>
              </div>

              <div class="col-xs-12">
                <h3>Primary</h3>
                <p><code>.btn-primary</code>, <code>.btn-primary-dark-blue</code>, <code>.btn-primary-green</code></p>
                <button type="button" class="btn btn-primary">Primary</button> 
                <button type="button" class="btn btn-primary-dark-blue">Primary Dark Blue</button> 
                <button type="button" class="btn btn-primary-green">Primary Green</button> 
              </div>
              <div class="col-xs-12">
                <h3>Default</h3>
                <p><code>.btn-default</code>, <code>.btn-default-dark-blue</code>, <code>.btn-default-green</code></p>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-default-dark-blue">Default Dark Blue</button>
                <button type="button" class="btn btn-default-green">Default Green</button>
              </div>
              <div class="col-xs-12">
                <h3>Default w/ Gray Outline</h3>
                <p>Add <code>.btn-gray-outline</code> to the default classes.</p>
                <button type="button" class="btn btn-default btn-gray-outline">Default</button>
                <button type="button" class="btn btn-default-dark-blue btn-gray-outline">Default Dark Blue</button>
                <button type="button" class="btn btn-default-green btn-gray-outline">Default Green</button>
              </div>
              <div class="col-xs-12">
                <h3>Danger</h3>
                <p><code>.btn-danger</code></p>
                <button type="button" class="btn btn-danger">Danger</button>
              </div>
              <div class="col-xs-12">
                <h3>Link</h3>
                <p>To deemphasize a button by making it look like a link while maintaining button behavior, add <code>.btn-link</code>.</p>
                <button type="button" class="btn btn-link">Link</button> 
                <button type="button" class="btn btn-primary">Primary</button><br>
              </div>

              <div class="col-xs-12 mini-section">
                <div class="row">
                  <div class="col-xs-12">
                    <h2>Button Colors on Dark Background</h2>
                    <p>Add <code>.btn-on-dark</code> class to change the hover state to work better on dark backgrounds.</p>
                  </div>
                  <div class="col-xs-12 col-md-8">
                    <div class="dark-section">
                      <button type="button" class="btn btn-default btn-on-dark">Default</button>
                      <button type="button" class="btn btn-default-dark-blue btn-on-dark">Default Dark Blue</button>
                      <button type="button" class="btn btn-default-green btn-on-dark">Default Green</button>
                      <button type="button" class="btn btn-link btn-on-dark">Link</button> <br>
                      <button type="button" class="btn btn-primary btn-on-dark">Primary</button> 
                      <button type="button" class="btn btn-primary-dark-blue btn-on-dark">Primary Dark Blue</button> 
                      <button type="button" class="btn btn-primary-green btn-on-dark">Primary Green</button>
                      <button type="button" class="btn btn-danger btn-on-dark">Danger</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>