
        
            <div id="disabled" class="row">
              <div class="col-xs-12">
                <h2>Button Disabled States</h2>
                <p>Add the <code>disabled</code> attribute to <code>&lt;button&gt;</code> buttons or the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.</p>
              </div>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Primary</h3>
                    <button type="button" disabled class="btn btn-primary">Primary</button><br>
                    <button type="button" disabled class="btn btn-primary-dark-blue">Primary Dark Blue</button><br>
                    <button type="button" disabled class="btn btn-primary-green">Primary Green</button><br>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Default</h3>
                    <button type="button" disabled class="btn btn-default">Default</button><br>
                    <button type="button" disabled class="btn btn-default-dark-blue">Default Dark Blue</button><br>
                    <button type="button" disabled class="btn btn-default-green">Default Green</button><br>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Default w/ Gray Outline</h3>
                    <a href="#" class="btn btn-default btn-gray-outline disabled">Default</a><br>
                    <a href="#" class="btn btn-default-dark-blue btn-gray-outline disabled">Default Dark Blue</a><br>
                    <a href="#" class="btn btn-default-green btn-gray-outline disabled">Default Green</a><br>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Danger</h3>
                    <button type="button" disabled class="btn btn-danger">Danger</button>
                    <h3>Link</h3>
                    <button type="button" disabled class="btn btn-link">Link</button> 
                  </div>
                </div>
              </div>
            </div>