
        
            <div id="sizes" class="row">
              <div class="col-xs-12">
                <h2>Button Sizes</h2>
                <p>Additional sizes are available by adding the approprite class.</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h3>Large</h3>
                <code>.btn-lg</code><br>
                <button type="button" class="btn btn-primary-blue btn-lg">Large</button><br>
                <a href="#" class="btn btn-primary-green btn-lg">Large</a><br>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h3>Medium</h3>
                Default size<br>
                <button type="button" class="btn btn-primary-blue">Default</button><br>
                <a href="#" class="btn btn-primary-green">Default</a><br>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h3>Small</h3>
                <code>.btn-sm</code><br>
                <button type="button" class="btn btn-primary-blue btn-sm">Small</button><br>
                <a href="#" class="btn btn-primary-green btn-sm">Small</a><br>
              </div>
            </div>