
            <div id="variations" class="row">
              <div class="col-xs-12">
                <h2>Buttons w/ icons</h2>
                <p>Buttons that have icons inside them require the <code>.btn-with-icon</code> class, including button dropdowns.</p>
                <p>To add a stroke, use <code>.btn-with-icon-stroke</code>.</p>
                <p>The icons <strong><em>inside</em></strong> the button element get the following classes.</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <code>.btn-icon-left</code><br>
                <button type="button" class="btn btn-primary-blue btn-lg btn-with-icon"><i class="btn-icon-left icon-menu"></i> Menu</button><br>
                <button type="button" class="btn btn-primary-blue btn-with-icon"><i class="btn-icon-left icon-menu"></i> Menu</button><br>
                <button type="button" class="btn btn-primary-blue btn-sm btn-with-icon"><i class="btn-icon-left icon-menu"></i> Menu</button>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <code>.btn-icon-left</code><br>
                <button type="button" class="btn btn-primary-blue btn-lg btn-with-icon-stroke"><i class="btn-icon-left icon-info-with-circle"></i> More Info</button><br>
                <button type="button" class="btn btn-primary-blue btn-with-icon-stroke"><i class="btn-icon-left icon-info-with-circle"></i> More Info</button><br>
                <button type="button" class="btn btn-primary-blue btn-sm btn-with-icon-stroke"><i class="btn-icon-left icon-info-with-circle"></i> More Info</button>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <code>.btn-icon-right</code><br>
                <button type="button" class="btn btn-primary-blue btn-lg btn-with-icon">Take a Tour <i class="btn-icon-right icon-arrow-right"></i></button><br>
                <button type="button" class="btn btn-primary-blue btn-with-icon">Take a Tour <i class="btn-icon-right icon-arrow-right"></i></button><br>
                <button type="button" class="btn btn-primary-blue btn-sm btn-with-icon">Take a Tour <i class="btn-icon-right icon-arrow-right"></i></button>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <code>.btn-icon-right</code><br>
                <button type="button" class="btn btn-primary-blue btn-lg btn-with-icon-stroke">More Info <i class="btn-icon-right icon-info-with-circle"></i></button><br>
                <button type="button" class="btn btn-primary-blue btn-with-icon-stroke">More Info <i class="btn-icon-right icon-info-with-circle"></i></button><br>
                <button type="button" class="btn btn-primary-blue btn-sm btn-with-icon-stroke">More Info <i class="btn-icon-right icon-info-with-circle"></i></button>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <h2>Buttons w/ badges</h2>
                <p>Requires the <code>.btn-with-icon</code> and <code>.btn-icon-left</code> classes like buttons w/ icons.</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <button type="button" class="btn btn-primary-blue btn-lg btn-with-icon"><span class="badge btn-icon-left">473</span> Add Tag</button><br>
                <button type="button" class="btn btn-primary-blue btn-with-icon"><span class="badge btn-icon-left">9</span> Add Tag</button><br>
                <button type="button" class="btn btn-primary-blue btn-sm btn-with-icon"><span class="badge btn-icon-left">86</span> Add Tag</button>
              </div>
            </div>
            
            <div class="row">
              <div class="col-xs-12">
                <h2>Button Dropdown</h2>
                <p>Don't forget to add <code>.btn-with-icon</code> to the button!  Check Bootstap's documentation on <a href="http://getbootstrap.com/components/#btn-dropdowns" target="_blank">button dropdowns</a> for usage.</p>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h3>Single Button</h3>
                <div class="btn-group dropdown clearfix">
                  <a id="dropdownMenu1" href="#" class="dropdown-toggle btn btn-primary btn-lg btn-with-icon" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret btn-icon-right"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <!-- <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
                  </ul>
                </div><br>
                <div class="btn-group dropdown clearfix">
                  <a id="dropdownMenu2" href="#" class="dropdown-toggle btn btn-primary btn-with-icon" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret btn-icon-right"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <!-- <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
                  </ul>
                </div><br>
                <div class="btn-group dropdown clearfix">
                  <a id="dropdownMenu3" href="#" class="dropdown-toggle btn btn-primary btn-sm btn-with-icon" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret btn-icon-right"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <!-- <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
                  </ul>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <h3>Split Button</h3>
                <div class="btn-group dropdown clearfix">
                  <button type="button" class="btn btn-primary btn-lg btn-with-icon" aria-expanded="false">Action</button>
                  <button id="dropdownMenu4" type="button" class="dropdown-toggle btn btn-primary btn-lg btn-with-icon" data-toggle="dropdown" aria-expanded="false"><span class="caret btn-icon-right"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <!-- <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
                  </ul>
                </div><br>
                <div class="btn-group dropdown clearfix">
                  <button type="button" class="btn btn-primary btn-with-icon" aria-expanded="false">Action</button>
                  <button id="dropdownMenu5" type="button" class="dropdown-toggle btn btn-primary btn-with-icon" data-toggle="dropdown" aria-expanded="false"><span class="caret btn-icon-right"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu5">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <!-- <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
                  </ul>
                </div><br>
                <div class="btn-group dropdown clearfix">
                  <button type="button" class="btn btn-primary btn-sm btn-with-icon" aria-expanded="false">Action</button>
                  <button id="dropdownMenu6" type="button" class="dropdown-toggle btn btn-primary btn-sm btn-with-icon" data-toggle="dropdown" aria-expanded="false"><span class="caret btn-icon-right"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu6">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <!-- <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
