          <div id="basic_usage">
            <div class="section-header">
              <h1>Basic Usage</h1>
            </div>
            <p>D&amp;B Products are not all the same.  Each has it's own set of requirements that cater to its unique users and purpose.  The D&amp;B Product Design Guide was not created to dictate exactly how a product to look, but rather to help unify the look and feel of all products so users can have a consistant experience across different products.</p>

            <p>Having said that, there are some basic elements each product should try to incorporate if possible, mainly the <a href="/documentation/components/#global_header">global header</a> and <a href="/documentation/components/#left-hand_menu">left-hand menu</a>.  Below you will find a basic HTML template to get you on your way.</p>
            
            <pre class="prettyprint"><code>&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
    &lt;!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --&gt;
    &lt;title&gt;D&amp;B Product Design Guide Template&lt;/title&gt;

    &lt;!-- D&amp;B Product Designs --&gt;
    &lt;link href="css/dnb-product-design-guide.min.css" rel="stylesheet"&gt;

    &lt;!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --&gt;
    &lt;!-- WARNING: Respond.js doesn't work if you view the page via file:// --&gt;
    &lt;!--[if lt IE 9]&gt;
      &lt;script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"&gt;&lt;/script&gt;
      &lt;script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"&gt;&lt;/script&gt;
    &lt;![endif]--&gt;
  &lt;/head&gt;
  &lt;body class="header-fixed has-sidebar sidebar-fixed"&gt;
    &lt;nav id="globalNav" class="dnb-global-header navbar navbar-default"&gt;
      &lt;!-- See <a href="/documentation/components/#global_header">global header section</a> of components for HTML structure of this element --&gt;
    &lt;/nav&gt;&lt;!-- /.dnb-global-header --&gt;

    &lt;div class="dnb-left-hand-menu hidden-xs"&gt;
      &lt;!-- See <a href="/documentation/components/#left-hand_menu">left-hand menu section</a> of components for HTML structure of this element --&gt;
    &lt;/div&gt;  &lt;!-- /#left-hand-menu --&gt;

    &lt;div class="page-wrapper container-fluid"&gt;
      Your amazing product content here!
      &lt;!-- Don't forget to add your footer here.  See the <a href="/documentation/components/#product">in product footer section</a> of components for HTML structure of this element --&gt;
    &lt;/div&gt; &lt;!-- /.container-fluid --&gt;

    &lt;!-- jQuery (necessary for JavaScript plugins) --&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"&gt;&lt;/script&gt;
    &lt;!-- Include all compiled plugins (below), or include individual files as needed --&gt;
    &lt;script src="js/dnb-product-design-guide.min.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
          </div>