          <div id="demo">
            <div class="section-header">
              <h1>Demo</h1>
            </div>
            <p>Here's a quick demo so you can get an idea of what the Product Design Guide looks like in action.  It doesn't incorporate every possible element, but it'll show you the basics and some of the flixibility it provides.</p>
            <a href="/documentation/demo" class="btn btn-primary btn-lg" target="_blank">Launch Demo</a>

          </div>