<h1>Documentation</h1>

<p>D&amp;B Product Design Guide documentation, included in this repo in the root directory, is publicly hosted at <a href="http://uxd-staging.com/product-style-guide/documentation/">http://uxd-staging.com/product-style-guide/documentation/</a>. The docs may also be run locally.</p>