          <div id="download">
            <div class="section-header">
              <h1>Download</h1>
            </div>
            <p>There are a few ways to get started:</p>
            
            <h2>Precompiled Code</h2>
            <p>Preompiled and minified CSS, JavaScript, and global images. No docs or original source files are included.  Link up the files of your choice in your <code>&lt;head&gt;</code> and you're good to go.</p>
            <ul>
              <li><a href="https://bitbucket.org/dnb-uxd/dnb-product-design-guide/downloads/dnb-product-design-guide-1.0.0-dist.zip">Download the latest precompiled release</a></li>
            </ul>

            <h2>Source Code</h2>
            <p>Source Less, JavaScript, and basic images, along with our docs. Requires a Less compiler.  Setup after download will depend on how you plan on using it.</p>
            <ul>
              <li><a href="https://bitbucket.org/dnb-uxd/dnb-product-design-guide/downloads/dnb-product-design-guide-1.0.0-src.zip">Download the latest release source code</a></li>
              <li>Clone Repo: <code>git clone https://bitbucket.org/dnb-uxd/dnb-product-design-guide.git</code></li>
              <li>Install with <a href="https://www.npmjs.com/">npm</a>: <code>npm install dnb-product-design-guide</code></li>
            </ul>
          </div>