
          <div id="overview">
            <div class="jumbotron">
              <h1>Product Design Guide Documentation</h1>
              <p>The D&amp;B Product Design Guide created to make your job easier! It includes everything you need to quickly recreate any of the examples found on the <a href="http://productdesign.dnb.com/">Product Design Guide</a> website.</p>
            
              <div id="current_version" class="section-subheader">
                <h4>Current Version: 1.0.0</h4>
              </div>
            </div>
            
            <p>These components are a customization of <a href="http://getbootstrap.com">Bootstrap</a> and the items provided here are intended to be used in lieu of Bootstrap. You can follow the guidlines set by Bootstrap to create the elements and layouts you need.  Any nuances added by the D&amp;B UXD team are noted on the <a href="http://uxd-staging.com/product-style-guide/documentation/">Product Design Guide Documentation</a> page with sample code snippets.</p>
            
            <p>New components are being added regularly, so make sure you have the latest version.  If you need something that has not yet been added, please contact <a href="mailto:csharp@hoovers.com?Subject=Product%20Design%20-%20Design%20Inquiry">Cassie Sharp</a> and we will try to get it added as quickly as possible.</p>
            
            <p>Designed, coded, and maintained (with love) by the <a href="http://design.dnb.com/" target="_blank">D&amp;B UXD Team</a>.  For questions or additional help, contact <a href="mailto:Perez-FrancisH@DNB.com">Haidy Francis</a>.</p>
          </div>