          <div id="whats_included">
            <div class="section-header">
              <h1>What's included</h1>
              <p>Within the download you'll find the following directories and files, logically grouping common assets and providing both compiled and minified variations.</p>
            
              <h2>Precompiled Code</h2>
              <p>Once downloaded, unzip the compressed folder to see the structure of (the compiled) Product Design Guide. You'll see something like this:</p>
              <div class="tag">
            
<pre><code>dnb-product-design-guide/
  ├── css/
  │   ├── dnb-product-design-guide.css
  │   └── dnb-product-design-guide.min.css
  ├── img/
  │   └── General D&amp;B Images
  └── js/
         ├── dnb-product-design-guide.js
         └── dnb-product-design-guide.min.js</code></pre>

              </div>
            
              <p>We provide compiled CSS and JS (<code>dnb-product-design-guide.*</code>), as well as compiled and minified CSS and JS (<code>dnb-product-design-guide.min.*</code>). CSS source maps are built into <code>dnb-product-design-guide.css</code> and are available for use with certain browsers' developer tools. We also provide the source code for LESS and javascript, in case you need to customize something for your specific app and to give you access to the LESS variables.</p>
              <p><em>Custom icon fonts are imported into the CSS and do not require anything to set up.</em></p>
            
            
            
              <h2>Source Code</h2>
              <p>The D&amp;B Product Design Guide source code download includes the precompiled CSS, JavaScript, and image assets, along with source Less, JavaScript, and documentation. More specifically, it includes the following and more:</p>
              <div class="tag">
            
<pre><code>dnb-product-design-guide/
  ├── less/
  ├── js/
  ├── dist/
  │   ├── css/
  │   ├── js/
  │   └── img/
  └── documentation/
      └── demo/</code></pre>

              </div>
              
              <p>The <code>less/</code> and <code>js/</code> are the source code for our CSS and JS (respectively). The <code>dist/</code> folder includes everything listed in the precompiled download section above. The <code>documentation/</code> folder includes the source code for our documentation, and <code>demo/</code> includes a few examples of D&amp;B Product Design Guide usage. Beyond that, any other included file provides support for packages, license information, and development.</p>
              <p><em>Custom icon fonts are imported into the CSS and do not require anything to set up.</em></p>
            
            </div>
          </div>