          <div id="why_bootstrap">
            <div class="section-header">
              <h1>FAQ</h1>
              <p>Here are some answers to questions you might find helpful.</p>
            </div>
          </div>