          <div id="how_do_I_stay_up_to_date" class="section-subheader">
            <h2>How do I Stay Up to Date?</h2>
            <p>We will send out notifications to D&amp;B teams when we make significant updates.  Upgrading your project will depend on how you are using the Product Design Guide.  You can either download the latest precompiled files and relink, pull the latest from Bitbucket or do an <code>npm update</code>.</p>
          </div>