          <div id="how_do_I_customize" class="section-subheader">
            <h2>How do I Customize?</h2>
            <p>Typically, you'll want to treat this like you would Bootstrap and keep any app specific customizations separate.  That way, if you update the the latest Product Design Guide, you won't lose any of your customizations.</p>
            <p>If you're using LESS, you can <code>@import</code> the Product Design Guide LESS into your project LESS and overwrite any variables to meet your needs.</p>
            <p>But ultimately it's up to you and what works best for your project.</p>
          </div>