          <div id="maintenance" class="section-subheader">
            <h2>Maintenance?</h2>
            <p>The D&amp;B UXD Team maintains the D&amp;B Product Design Guide.  We encourage the users of this guide to contribute to it's improvement by submitting <a href="https://bitbucket.org/dnb-uxd/dnb-product-design-guide/issues" target="_blank">bugs</a> and <a href="https://bitbucket.org/dnb-uxd/dnb-product-design-guide/pull-requests/" target="_blank">pull requests</a> through Bitbucket.  From there we will fix and add new features after a discussion to see what is appropriate for this global style guide.  Not everything will be added, but we will do our best to keep this framework one that will work for as many D&amp;B products as possible.</p>
          </div>