          <div id="why_a_fork" class="section-subheader">
            <h2>Why a Fork of Bootstrap?</h2>
            <p>After much discussion, we decided a fork of Bootstrap would work best for us.  There were so many changes that needed to be made to the stock Bootsrap.  We decided that if we had just put our theme on top of Bootstrap, we would have had a lot of code bloat as well as a difficult time upgrading Bootsrap, when a newer version becomes available.  Creating our own fork allows us to minimize the code bloat and take full control of our style guide.</p>
          </div>