          <div id="why_bootstrap" class="section-subheader">
            <h2>Why Bootstrap?</h2>
            <p>There are many framework options out there.  After colaborationg with many D&amp;B teams, we decided to go with Bootstrap for many reasons: it's a popular, well-documented framework; has a big community; it's easy to learn; a lot of people are already familiar with it; and many D&amp;B apps are already using it.</p>
          </div>