
          <div class="footers" id="login">
            <div class="section-header">
              <h1>Footers</h1>
              <p>Footers have been defined to be standardized across products.  There are 3 to choose from, based on the page you're on.</p>
            </div>
            
            <div class="row">
              <h2 class="col-xs-12">Login Screen Footer</h2>
            <div class="col-xs-12">
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <div class="dnb-global-footer dnb-global-footer-product col-xs-12">
                    <div class="company-info">
                      <p class="copyright">&copy; Dun &amp; Bradstreet, Inc. 2015. All Rights Reserved.</p>
                      <ul class="legal">
                        <li><a href="http://www.dnb.com/privacy-policy.html" target="_blank">Privacy Policy</a></li>
                        <li><a href="http://www.dnb.com/terms-of-use.html" target="_blank">Terms </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
