          
          <div id="marketing" class="row">
            <div class="col-xs-12">
              <h2>Marketing Footer</h2>
              <p>Make sure you use your product name for accessibility. The logo here will need to be constimized for the marketing page you are building.  If you need help, please contact <a href="mailto:Perez-FrancisH@DNB.com">Haidy Francis</a>.</p>
            </div>
            <div class="col-xs-12">
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <div class="dnb-global-footer dnb-global-footer-marketing col-xs-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="product-name col-sm-12 col-md-3">
                          <img src="../img/dnb-product-design-logo-footer.png">
                          <span class="prod-name">Product Name Here</span>
                        </div>
                        <div class="company-info col-sm-12 col-md-9">
                          <p>Dun &amp; Bradstreet (NYSE: DNB) grows the most valuable relationships in business. By uncovering truth and meaning from data, we connect customers with the prospects, suppliers, clients and partners that matter most, and have since 1841. Nearly ninety percent of the Fortune 500, and companies of every size around the world, rely on our data, insights and analytics.</p>
                          <ul class="legal">
                            <li class="copyright">&copy; Dun &amp; Bradstreet, Inc. 2015. All Rights Reserved.</li>
                          <li><a href="http://www.dnb.com/privacy-policy.html" target="_blank">Privacy Policy</a></li>
                          <li><a href="http://www.dnb.com/terms-of-use.html" target="_blank">Terms </a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>