
          <div id="product" class="row">
            <div class="col-xs-12">
              <h2>In Product Footer</h2>
              <p>Make sure you use your product name.  The basic D&amp;B image is included in the design guide download.</p>
            </div>
            <div class="col-xs-12">
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <div class="dnb-global-footer dnb-global-footer-product col-xs-12">
                    <div class="product-name">
                      <img src="../../dist/img/dnb_full_logo.png">
                      <span class="prod-name">Product Name Here</span>
                    </div>
                    <div class="company-info">
                      <ul class="legal">
                        <li class="copyright">&copy; Dun &amp; Bradstreet, Inc. 2015. All Rights Reserved.</li>
                          <li><a href="http://www.dnb.com/privacy-policy.html" target="_blank">Privacy Policy</a></li>
                          <li><a href="http://www.dnb.com/terms-of-use.html" target="_blank">Terms </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>