body {
  background: #F1F6F8;
}

.left-menu-demo,
.left-menu-demo body,
.left-menu-demo .container-fluid {
  min-height: 100%;
  height: 100%;
}
.section .row {
  margin-bottom: 40px;
}

.dark-section {
  background: #005172;
}

.gray-section {
  background: #F1F6F8;
}

.white-section {
  background: #fff;
}

.jumbotron {
  background: #fff;
}

img {
  max-width: 100%;
}

.plus-minus:before {
  content: "\ed5a";
  font-family: "icomoon";
}
.open > a .plus-minus:before {
  content: "\ed5b";
  font-family: "icomoon";
}
.left-menu-demo body {
  width: 90%;
  margin: 0 auto;
}
.left-menu-demo h1 {
  padding-left: 20px;
  color: #fff;
}


.buttons .dark-section {
  padding: 2em 2.5em 2.5em;
  text-align: center;
}
.buttons .dark-section .btn {
  margin-bottom:.25em;
  margin-left: 10px;
}


.demoCards {
  padding: 40px 0 20px;
}
.demoCards.on-white {
  padding: 40px 0 20px;
  background: #fff;
}
.demoCards h2 {
  margin: 0 0 2em;
}


.demoModal {
  background: rgba(0, 81, 114, 0.6);
}
.demoModal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.tabs-demo {
  padding: 30px;
}

.carousel {
    height: 90px;
}

.notice-demo {
  padding: 64px 40px 40px;
}


.demo-icons ul {
  list-style-type: none;
}
.demo-icons li {
  margin-bottom: 3px;
}
.demo-icons [class^="icon-"], 
.demo-icons [class*=" icon-"] {
  margin-right: 10px;
}

.demo-img {
  margin: 0 auto;
  display: block;
}

.export-pdf {
  position: absolute;
  top: 15px;
  right: 30px;
}