
          <div id="tables">
            <div id="basic_table_usage">
              <div class="section-header">
                <h1>Tables</h1>
                <p>Our tables follow <a href="http://getbootstrap.com/css/#tables" target="_blank">Bootstrap's tables</a>, however, we have removed many of the table variations Bootstrap offers and have added some requirements.  Here's a list of some of the nuances:</p>
                <ul>
                  <li>Tables are always contained within a <code>.panel</code> element which gets an additional <code>.panel-table</code> class.  This adjusts the padding of the <code>.panel</code> slightly for a better feel for the tables.</li>
                  <li>There is only one option for table spacing and padding.</li>
                  <li>Striped rows have become the default.</li>
                </ul>
                <div class="notice notice-warning">
                  <div class="notice-content">
                    <div class="notice-title">Demos Using Plugin</div>
                    <div class="notice-body">
                      <p>The demoed tables use the <a href="https://www.datatables.net/" target="_blank">Datatables</a> jQuery plugin with the <a href="https://www.datatables.net/manual/styling/bootstrap" target="_blank">Bootstrap extention</a>.  You are welcome to use your own javascript or favorite plugin to make the tables work properly.  If you use your own, you can study and use the classes used here to easily get the correct styling.</p>
                    </div>
                  </div>
                </div>
              </div>
              
              <h2 class="section-subheader">Basic Usage</h2>
              <p>Tables go inside the <code>.pane-body</code> of <code>.panel</code> elements.  Make sure the <code>&lt;table&gt;</code> tag gets the <code>.table</code> class.</p>
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <div class="panel panel-table">
                    <div class="panel-heading">
                      <h3 class="panel-title">Standard Sortable Table with Title</h3>
                    </div>
                    <div class="panel-body">
                      <table id="exampleTable1" class="table">
                        <thead>
                          <tr>
                            <th>Company</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                          </tr>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>