
            <div id="contextual_classes">
              <h2 class="section-subheader">Contextual Classes</h2>
              <p>Use contextual classes to color table rows or individual cells.</p>
              
              
              <div class="row clearfix">
                <div class="col-sm-6">
                  <div class="panel panel-plain">
                    <div class="panel-body">
                      <table class=" table-list lg-list">
                        <colgroup>
                          <col class="col-xs-1">
                          <col class="col-xs-7">
                        </colgroup>
                        <thead>
                          <tr>
                            <th>Class</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              <code>.active</code>
                            </th>
                            <td>Applies the hover color to a particular row or cell</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>.success</code>
                            </th>
                            <td>Indicates a successful or positive action</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>.info</code>
                            </th>
                            <td>Indicates a neutral informative change or action</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>.warning</code>
                            </th>
                            <td>Indicates a warning that might need attention</td>
                          </tr>
                          <tr>
                            <th scope="row">
                              <code>.danger</code>
                            </th>
                            <td>Indicates a dangerous or potentially negative action</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <div class="panel panel-table">
                    <div class="panel-heading">
                      <h3 class="panel-title">Standard Table with Colored Rows</h3>
                    </div>
                    <div class="panel-body">
                      <table id="exampleTable3" class="table">
                        <thead>
                          <tr>
                            <th>Company</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                          </tr>
                        <tbody>
                          <tr class="">
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr class="active">
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr class="">
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr class="warning">
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr class="">
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr class="danger">
                            <td>3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                          </tr>
                          <tr class="">
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr class="success">
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                          </tr>
                          <tr class="">
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                          <tr class="info">
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>