
              
                <div id="list_table">
                  <div class="col-lg-6">
                    <div class="panel panel-table panel-table-list">
                      <div class="panel-heading">
                        <h3 class="panel-title">List Table</h3>
                      </div>
                      <div class="panel-body">
                        <h4>List title</h4>
                        <table id="exampleTable5" class="table">
                          <tbody>
                            <tr>
                              <td>label</td>
                              <td>value</td>
                            </tr>
                            <tr>
                              <td>Employees (last year)</td>
                              <td>5 Years</td>
                            </tr>
                            <tr>
                              <td>Principal Territory</td>
                              <td>International, Exports display imports or exports</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>