  
            <div id="scrollable_tables">
              <h2 class="section-subheader">Scrollable Tables</h2>
              <p>Scrolling tables are a good option if you need to display a lot of data but don't have much space. Many classes are used to give the table a nice look when it's scrollable - the fading edges, etc.  You will need to inspect the following table to see which classes you need to use (if you don't use the Datatables plugin).</p>
              <p>To create the scroll table, the <code>table</code> needs to have two ancenstors: <code>.scroll-table-wrapper</code> (outer) and <code>.scroll-table</code> (inner). In this example, <code>.scroll-table-wrapper</code> is added to the <code>.panel-body</code> element.</p>
              <p>An additional attribute, <code>data-table-height</code>, is required on the <code>table</code>.  This will define the height for the <code>tbody</code>.  The overall table height will be taller after the <code>thead</code> is added in.</p>
              <div class="notice notice-danger">
                <div class="notice-content">
                  <div class="notice-title">Plugin dependency</div>
                  <div class="notice-body">
                    <p>For scroll tables to work and style properly, scroll-table.js is required. It has already been built out and included with the styleguide. If you are using dnb-product-design-guide.js (or .min.js) you're good to go.  If not, you'll need to include scroll-table.js.</p>
                  </div>
                </div>
              </div>
              <div class="notice notice-warning">
                <div class="notice-content">
                  <div class="notice-title">IE9 and lower</div>
                  <div class="notice-body">
                    <p>IE < 10 does not like giving a tbody a height.  The workaround is to conditionally wrap <code>.scroll-table</code> in <code>.old_ie_wrapper</code> and apply the scrolling to that <code>&lt;div&gt;</code>.</p>
                    <pre class="prettyprint"><code>&lt;!--[if lte IE 9]&gt;
  &lt;div class="old_ie_wrapper"&gt;
&lt;!--&lt;![endif]--&gt;
  &lt;div class="scroll-table"&gt;
    Table goes here...
  &lt;/div&gt;
&lt;!--[if lte IE 9]&gt;
  &lt;/div&gt;
&lt;!--&lt;![endif]--&gt;</code></pre>
                  </div>
                </div>
              </div>
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <div class="panel panel-table">
                    <div class="panel-heading">
                      <h3 class="panel-title">Standard Sortable Table with Scrollable Content</h3>
                    </div>
                    <div class="panel-body scroll-table-wrapper">
                      <!-- IE < 10 does not like giving a tbody a height.  The workaround here applies the scrolling to a wrapped <div>. -->
                      <!--[if lte IE 9]>
                      <div class="old_ie_wrapper">
                      <!--<![endif]-->
                        <table id="exampleTable4" class="table" data-table-height="310">
                          <thead>
                            <tr>
                              <th>Company</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th>
                              <th class="numeric">Numeric</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th>
                              <th>Company</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>Username</th>
                            </tr>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td class="numeric">172,345</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td class="numeric">28,963,004</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td class="numeric">38,345,100</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td class="numeric">3,245</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td class="numeric">21,963,046</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td class="numeric">52,345,197</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td class="numeric">572,375</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                              <td>1</td>
                              <td>Mark</td>
                              <td>Otto</td>
                              <td>@mdo</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td class="numeric">1,963,789</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                              <td>2</td>
                              <td>Jacob</td>
                              <td>Thornton</td>
                              <td>@fat</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td class="numeric">907,345,623</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                              <td>3</td>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>@twitter</td>
                            </tr>
                          </tbody>
                        </table>

                        <!--[if lte IE 9]>
                        </div>
                        <!--<![endif]-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
              
          </div>