        
        <div id="cards">
          <div id="gray_bg" class="section-header">
            <h1>Cards</h1>
            <p>Cards are structured and behave similar to panels, however, there are many more variations available.</p>
            <p>The <code>.card</code> class is used instead of panel, along with <code>.card-heading</code>, <code>.card-title</code>, and <code>.card-body</code>.  Inspect each element to see the arangements of the elements to acheive the desired style.  The following classes are added to the <code>.card</code> element for each variation:
          </div>
          <div class="row demoCards gray-section">
            <div class="col-xs-12">
              <h2>Default cards on gray background</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <p><code>.card-default</code></p>
              <div class="card card-default">
                <div class="card-heading">
                  <h3 class="card-title">Default Card</h3>
                </div>
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur ropefort
                    adipisicing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua.</p>
                  <p>Ut enim ad minim veniam, quis nostrud guisde
                    exercitation ullamco anim id est laborum. Sed  perspiciatis under.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <p><code>.card-with-image</code></p>
              <div class="card card-with-image">
                <img src="../img/split-hero-4in1-primary.jpg">
                <div class="card-heading">
                  <h3 class="card-title">Card with Image</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <p><code>.card-with-icon</code></p>
              <div class="card card-with-icon">
                <div class="card-icon">
                  <i class="icon-user"></i>
                </div>
                <div class="card-heading">
                  <h3 class="card-title">Card with Icon</h3>
                </div>
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur ropefort adipisicing elit, sed do eiusmod tempor incididnt
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <p><code>.card-center-lg</code></p>
              <div class="card card-center-lg">
                <div class="card-heading">
                  <h3 class="card-title">Large Centered Title</h3>
                </div>
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life.
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <p><code>.card-center-heading</code></p>
              <div class="card card-center-heading">
                <div class="card-heading">
                  <h3 class="card-title">Centered Heading Card</h3>
                </div>
                <div class="card-body">
                  <p>Lorem ipsum dolor sit amet, consectetur ropefort
                    adipisicing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua.</p>
                  <p>Ut enim ad minim veniam, quis nostrud guisde
                    exercitation ullamco anim id est laborum. Sed  perspiciatis under.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <p><code>.card-with-tabs</code></p>
              <div class="card card-with-tabs">
                <div class="card-heading">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs card-tabs-2" role="tablist">
                    <li role="presentation" class="active"><a href="#default-section-1" aria-controls="default-section-1" role="tab" data-toggle="tab">Card Section 1</a></li>
                    <li role="presentation"><a href="#default-section-2" aria-controls="default-section-2" role="tab" data-toggle="tab">Card Section 2</a></li>
                  </ul>
                </div>
                <div class="card-body">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="default-section-1">
                      <p>Tab 1 with some content</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="default-section-2">
                      <p>Tab 2 with some content</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                        <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <p><code>.card-table</code></p>
              <div class="card card-table">
                <div class="card-heading">
                  <h3 class="card-title">Card with Table</h3>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Company</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                      </tr>
                    <tbody>
                      <tr>
                        <td><a href="#">Clickable Item</a></td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <td><a href="#">Clickable Item</a></td>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <td><a href="#">Clickable Item</a></td>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
