
          <div id="alerts">
            <div class="section-header">
              <h1>Alerts</h1>
              <p>Alerts follow the exact same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/components/#alerts" target="_blank">documentation for alerts</a>, however, we've added some additional classes to give more variety to fit our needs.</p>
              <p>To achieve the preferred style, add <code>.alert-with-icon</code> and <code>.alert-dismissible</code> to the <code>.alert</code> element, along with all the appropriate elements for the icon and close button.</p>
            </div>
            <div class="notice">
              <div class="notice-content">
                <div class="notice-title">Preferred usage</div>
                <div class="notice-body">
                  <p>Although alerts are made up of multiple elements that can be used in various combinations, the preferred usage includes the appropriate icon and dismissable close button.</p>
                </div>
              </div>
            </div>
            <div class="notice notice-danger">
              <div class="notice-content">
                <div class="notice-title">Plugin dependency</div>
                <div class="notice-body">
                  <p>Dismissable alerts require Bootstrap's alert.js, which is included with the styleguide.  If you are using dnb-product-design-guide.js (or .min.js) you're good to go. If not, you'll need to include alert.js.</p>
                </div>
              </div>
            </div>

            <div class="alert alert-success alert-with-icon alert-dismissible" role="alert">
             <i class="icon-success"></i>
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <strong>Well done!</strong> You successfully read this important alert message. <a href="#" class="alert-link">This is what a link will look like</a>
            </div>
            <div class="alert alert-info alert-with-icon alert-dismissible" role="alert">
              <i class="icon-info-with-circle"></i>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Heads up!</strong> This alert needs your attention, but it's not super important. <a href="#" class="alert-link">This is what a link will look like</a>
            </div>
            <div class="alert alert-warning alert-with-icon alert-dismissible" role="alert">
              <i class="icon-warning"></i>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">This is what a link will look like</a>
            </div>
            <div class="alert alert-danger alert-with-icon alert-dismissible" role="alert">
              <i class="icon-warning"></i>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Oh snap!</strong> Change a few things up and try submitting again. <a href="#" class="alert-link">This is what a link will look like</a>
            </div>
            <div class="alert alert-primary alert-with-icon alert-dismissible" role="alert">
              <i class="icon-alert"></i>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>FYI!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="alert-link">This is what a link will look like</a>
            </div>
             
            <h2 class="section-subheader">Variations</h2>
            <p>More subtle alerts are easily created by including an additional class:</p>
            <div class="row clearfix">
              <div class="col-md-6">
                <p><code>.alert-white-bg</code></p>
                <div class="alert alert-success alert-white-bg alert-with-icon alert-dismissible" role="alert">
                  <i class="icon-success"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Well done!</strong> You successfully read this important alert message. <a href="#" class="alert-link">This is what a link will look like</a>
                </div>
                <div class="alert alert-info alert-white-bg alert-with-icon alert-dismissible" role="alert">
                  <i class="icon-info-with-circle"></i>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Heads up!</strong> This alert needs your attention, but it's not super important. <a href="#" class="alert-link">This is what a link will look like</a>
                </div>
              </div>

              <div class="col-md-6">
                <p><code>.alert-gray-bg</code></p>
                <div class="alert-demo white-section">
                  <div class="alert alert-success alert-gray-bg alert-with-icon alert-dismissible" role="alert">
                    <i class="icon-success"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Well done!</strong> You successfully read this important alert message. <a href="#" class="alert-link">This is what a link will look like</a>
                  </div>
                  <div class="alert alert-info alert-gray-bg alert-with-icon alert-dismissible" role="alert">
                    <i class="icon-info-with-circle"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important. <a href="#" class="alert-link">This is what a link will look like</a>
                  </div>
                </div>
              </div>

              <p class="col-xs-12">Remove <code>.alert-with-icon</code> and the icon element for an alert without an icon</p>
              <div class="col-md-6">
                <div class="alert alert-primary alert-white-bg alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>FYI!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="alert-link">This is what a link will look like</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="alert-demo white-section">
                  <div class="alert alert-primary alert-gray-bg alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>FYI!</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#" class="alert-link">This is what a link will look like</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
