
          <div id="breadcrumbs">
            <div class="section-header">
              <h1>Breadcrumbs</h1>
              <p>Indicate the current page's location within a navigational hierarchy.  See Bootstrap's <a href="http://getbootstrap.com/components/#breadcrumbs" target="_blank">documentation for breadcrumbs</a>.  We've just updated the style for D&amp;B products.  Enjoy  :)</p>

              <p>Separators are automatically added in CSS through <code>:before</code> and <code>content</code>.</p>
            </div>

            <div class="panel panel-plain popover-example">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <ol class="breadcrumb">
                  <li class="active">Home</li>
                </ol>
                <ol class="breadcrumb gray-section">
                  <li><a href="#">Home</a></li>
                  <li class="active">Library</li>
                </ol>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Library</a></li>
                  <li class="active">Data</li>
                </ol>
              </div>
            </div>
          </div>