
          <div id="carousel_dots">
            <div class="section-header">
              <h1>Carousel Dots</h1>
              <p>We've styled the carousel navigation dots to fit with D&amp;B products.  Please review Bootstrap's <a href="http://getbootstrap.com/javascript/#carousel" target="_blank">documentation for carousel</a> if you plan to use this feature.</p>
            </div>
            <div class="row clearfix">
              <div class="carousel white-section col-md-6">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
              </div>
              <div class="carousel gray-section col-md-6">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
              </div>
            </div>
          </div>