

          <div id="global_header">
            <div class="section-header">
              <h1>Global Header</h1>
            </div>
            <div class="row header-demos">
              <div class="col-xs-12">
                <p>The global product header follows <a href="http://getbootstrap.com/components/#navbar" target="_blank">Bootrap's navbar-default</a>, but because of it's unique nature, it requires some extra classes.  Inspect the demos to see a complete view, but here's a quick breakdown.</p>
                
                <a href="/documentation/demo" class="btn btn-primary" target="_blank">Live Demo</a>
                <p class="small btn-label">(You'll want to launch the demo site on a phone or resize your browser to see the mobile version.)</p>
            
                <h2 class="section-subheader">Required Classes</h2>
                <p>These classes are required to create the basic look and feel of the global header: </p>
                <ul class="alt-list">
                  <li><code>.dnb-global-header</code></li>
                  <li><code>.navbar</code></li>
                  <li><code>.navbar-default</code></li>
                </ul>
            
            
                <h2 class="section-subheader">Sticky Header</h2>
                <p>The preferred usage is to have a sticky header.  To make the header sticky, add <code>.header-fixed</code> to the <code>&lt;body&gt;</code> tag.</p>
            
                <h2 class="section-subheader">Product Logo</h2>
                <p>The ampersand logo is added automatically when you include a <code>.navbar-brand</code> element.  The ampersand by itself is to be use once logged into a product.  You will need to modify this to show your specific product logo for the logged out view.</p>
            
                <h2 class="section-subheader">Search Bar</h2>
                <p>The demo search bar was built out to show what it would look like if you added everything.  You many not need each element, but if you choose to use them, make sure you follow the structure found in the demo.</p>
                

                <h3>Requirements</h3>
                <ul>
                  <li>Similar to Bootstrap's <a href="http://getbootstrap.com/components/#navbar" target="_blank">Bootrap's navbar</a>, in order for the acheive the preferred experience on mobile you'll need to add a <code>.navbar-toggle</code> button with the added class <code>.mobile-search-toggle</code> to show/hide the search functionality.</li>
                  <li>Wrap your search form in <code>.search-group</code>.</li>
                </ul>

                <div class="notice notice-danger">
                  <div class="notice-content">
                    <div class="notice-title">Plugin dependency</div>
                    <div class="notice-body">
                      <p>The demoed search animation requires global-search.js.  The animation shown above is the preferred user experience.  It has already been built out and included with the styleguide.  If you are using dnb-product-design-guide.js (or .min.js) you're good to go. If not, you'll need to include global-search.js.</p>
                    </div>
                  </div>
                </div>

                <h3>Options</h3>
                <p>An option is available to updtate the placeholder based on if the user has focused on the search bar or not.  To use this feature, add the following attributes to the <code>.search</code> <code>input</code> element:</p>
                <ul>
                  <li><code>placeholder</code> - needed for initial placeholder</li>
                  <li><code>data-no-focus-placeholder</code> - needed for non-focus state</li>
                  <li><code>data-focus-placeholder</code> - needed for focus state</li>
                </ul>

                <div class="notice notice-info">
                  <div class="notice-content">
                    <div class="notice-title">Not all products are equal!</div>
                    <div class="notice-body">
                      <p>Not every product requires the search bar nor will it always create the best experience using this animation. Please use your best judgement.</p>
                    </div>
                  </div>
                </div>
            
                <h2 class="section-subheader">Menu Items</h2>
                <h3>Default</h3>
                <p>The default behavior/look for menu items is what you see above, with no background and an underline for the active page.</p>

                <nav class="dnb-global-header navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"></a>
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="example-navbar-collapse-2">
                      <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            
                <h3 class="section-subheader">Utility Buttons</h3>
                <p>In order to create the utility buttons on the right of the example below, you need to add a few classes.  First add the class <code>.header-utility-btns</code> to the <code>.dnb-global-header</code> element.  This will pull the buttons over to the very right hand side of the header.  Then add <code>.utility-btn</code> to the <code>&lt;li&gt;</code> for each utility button.  Also the first button requires the class <code>.utility-btn-first</code> for proper styling. Adding <code>.alert-badge</code> to the icon will create the red badge.</p>
            
                <nav class="dnb-global-header header-utility-btns navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"></a>
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="example-navbar-collapse-3">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#">Menu Item</a></li>
                        <li class="utility-btn utility-btn-first"><a href="#" class="alerts"><i class="icon icon-alert alert-badge hidden-xs"></i><span class="visible-xs-inline">Alerts</span></a></li>
                        <li class="dropdown utility-btn">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon icon-user hidden-xs"></i><span class="visible-xs-inline">Profile</span><span class="caret"></span></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            
                <h3 class="section-subheader">Nav Buttons</h3>
                <p>Also available is a <code>.nav-btn</code> class - which can be placed on either the <code>&lt;li&gt;</code> or the <code>&lt;a&gt;</code> element.  This will create a traditionally styled button, but it will be properly sized and positioned in menu.  These buttons will also require an additional class to determine the button color.  Available options are:</p>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="alt-list">
                      <li><code>.nav-btn-default</code></li>
                      <li><code>.nav-btn-default-dark-blue</code></li>
                      <li><code>.nav-btn-default-green</code></li>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="alt-list">
                      <li><code>.nav-btn-primary</code></li>
                      <li><code>.nav-btn-primary-dark-blue</code></li>
                      <li><code>.nav-btn-primary-green</code></li>
                    </ul>
                  </div>
                </div>
            
                <nav class="dnb-global-header navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"></a>
                    </div>
            
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="example-navbar-collapse-4">
                      <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Menu Item <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Menu Item</a></li>
                        <li><a href="#" class="nav-btn nav-btn-primary">Nav Btn</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            
                <div class="notice notice-warning">
                  <div class="notice-content">
                    <div class="notice-title">Responsive menus</div>
                    <div class="notice-body">
                      <p>Since the number of menu items varies per product, you will need to override the responsive breakpoints for the way the items adjust to different screen sizes.</p>
                    </div>
                  </div>
                </div>
            
              </div>
            </div>
          </div>