
            <div id="icons">
              <div class="section-header">
                <h1>Icons</h1>
                <p>We have compiled a set of commonly used icons that fit the D&amp;B brand.  This icon set is automatically imported into the CSS using the <code>@icon-font-path</code> variable. Usage of these icons is similar to the <a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Bootstrap glyphicons</a>, however, you do not need to include two classes to for our icons, just the icon class itself.</p>
                <p>If you app has specific icons, you can create your icon class following the same pattern used here.  If we've missed an icon that you think should be global, please <a href="mailto:csharp@hoovers.com?Subject=Product%20Style%20Guide%20Icon%20Inquiry">let us know</a> so we can review it.</p>
              </div><div class="demo-icons row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <ul class="list-unstyled">
                    <li><span class="icon-news"></span> <code class="mls"> .icon-news</code></li>
                    <li><span class="icon-cancel"></span> <code class="mls"> .icon-cancel</code></li>
                    <li><span class="icon-cancel2"></span> <code class="mls"> .icon-cancel2</code></li>
                    <li><span class="icon-cancel3"></span> <code class="mls"> .icon-cancel3</code></li>
                    <li><span class="icon-clock"></span> <code class="mls"> .icon-clock</code></li>
                    <li><span class="icon-target"></span> <code class="mls"> .icon-target</code></li>
                    <li><span class="icon-target2"></span> <code class="mls"> .icon-target2</code></li>
                    <li><span class="icon-check"></span> <code class="mls"> .icon-check</code></li>
                    <li><span class="icon-plus"></span> <code class="mls"> .icon-plus</code></li>
                    <li><span class="icon-file-empty2"></span> <code class="mls"> .icon-file-empty2</code></li>
                    <li><span class="icon-files-empty2"></span> <code class="mls"> .icon-files-empty2</code></li>
                    <li><span class="icon-alarm-check"></span> <code class="mls"> .icon-alarm-check</code></li>
                    <li><span class="icon-database"></span> <code class="mls"> .icon-database</code></li>
                    <li><span class="icon-unite"></span> <code class="mls"> .icon-unite</code></li>
                    <li><span class="icon-pie-chart2"></span> <code class="mls"> .icon-pie-chart2</code></li>
                    <li><span class="icon-stats-dots"></span> <code class="mls"> .icon-stats-dots</code></li>
                    <li><span class="icon-paperplane"></span> <code class="mls"> .icon-paperplane</code></li>
                    <li><span class="icon-download4"></span> <code class="mls"> .icon-download4</code></li>
                    <li><span class="icon-eye-blocked3"></span> <code class="mls"> .icon-eye-blocked3</code></li>
                    <li><span class="icon-plus2"></span> <code class="mls"> .icon-plus2</code></li>
                    <li><span class="icon-minus2"></span> <code class="mls"> .icon-minus2</code></li>
                    <li><span class="icon-plus3"></span> <code class="mls"> .icon-plus3</code></li>
                    <li><span class="icon-minus3"></span> <code class="mls"> .icon-minus3</code></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <ul class="list-unstyled">
                    <li><span class="icon-cross3"></span> <code class="mls"> .icon-cross3</code></li>
                    <li><span class="icon-play3"></span> <code class="mls"> .icon-play3</code></li>
                    <li><span class="icon-merge"></span> <code class="mls"> .icon-merge</code></li>
                    <li><span class="icon-user-plus"></span> <code class="mls"> .icon-user-plus</code></li>
                    <li><span class="icon-user"></span> <code class="mls"> .icon-user</code></li>
                    <li><span class="icon-user2"></span> <code class="mls"> .icon-user2</code></li>
                    <li><span class="icon-arrow-right2"></span> <code class="mls"> .icon-arrow-right2</code></li>
                    <li><span class="icon-arrow-up"></span> <code class="mls"> .icon-arrow-up</code></li>
                    <li><span class="icon-arrow-down"></span> <code class="mls"> .icon-arrow-down</code></li>
                    <li><span class="icon-sort-arrow"></span> <code class="mls"> .icon-sort-arrow</code></li>
                    <li><span class="icon-arrow-up2"></span> <code class="mls"> .icon-arrow-up2</code></li>
                    <li><span class="icon-arrow-up3"></span> <code class="mls"> .icon-arrow-up3</code></li>
                    <li><span class="icon-arrow-right22"></span> <code class="mls"> .icon-arrow-right22</code></li>
                    <li><span class="icon-arrow-right"></span> <code class="mls"> .icon-arrow-right</code></li>
                    <li><span class="icon-arrow-down2"></span> <code class="mls"> .icon-arrow-down2</code></li>
                    <li><span class="icon-arrow-down3"></span> <code class="mls"> .icon-arrow-down3</code></li>
                    <li><span class="icon-arrow-left2"></span> <code class="mls"> .icon-arrow-left2</code></li>
                    <li><span class="icon-arrow-left3"></span> <code class="mls"> .icon-arrow-left3</code></li>
                    <!-- <li><span class="icon-arrow-left"></span> <code class="mls"> .icon-arrow-left</code></li> -->
                    <li><span class="icon-embed2"></span> <code class="mls"> .icon-embed2</code></li>
                    <li><span class="icon-circle-code"></span> <code class="mls"> .icon-circle-code</code></li>
                    <li><span class="icon-screen"></span> <code class="mls"> .icon-screen</code></li>
                    <li><span class="icon-target3"></span> <code class="mls"> .icon-target3</code></li>
                    <li><span class="icon-board"></span> <code class="mls"> .icon-board</code></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <ul class="list-unstyled">
                    <li><span class="icon-style"></span> <code class="mls"> .icon-style</code></li>
                    <li><span class="icon-apartment"></span> <code class="mls"> .icon-apartment</code></li>
                    <!-- <li><span class="icon-combine2"></span> <code class="mls"> .icon-combine2</code></li> -->
                    <li><span class="icon-combine"></span> <code class="mls"> .icon-combine</code></li>
                    <li><span class="icon-minus"></span> <code class="mls"> .icon-minus</code></li>
                    <li><span class="icon-text-document-inverted"></span> <code class="mls"> .icon-text-document-inverted</code></li>
                    <li><span class="icon-info-with-circle"></span> <code class="mls"> .icon-info-with-circle</code></li>
                    <li><span class="icon-chain"></span> <code class="mls"> .icon-chain</code></li>
                    <li><span class="icon-question-circle"></span> <code class="mls"> .icon-question-circle</code></li>
                    <li><span class="icon-add"></span> <code class="mls"> .icon-add</code></li>
                    <li><span class="icon-alert"></span> <code class="mls"> .icon-alert</code></li>
                    <li><span class="icon-circle"></span> <code class="mls"> .icon-circle</code></li>
                    <li><span class="icon-close"></span> <code class="mls"> .icon-close</code></li>
                    <li><span class="icon-closure"></span> <code class="mls"> .icon-closure</code></li>
                    <li><span class="icon-coin-dollar"></span> <code class="mls"> .icon-coin-dollar</code></li>
                    <li><span class="icon-credit-card"></span> <code class="mls"> .icon-credit-card</code></li>
                    <li><span class="icon-delete"></span> <code class="mls"> .icon-delete</code></li>
                    <li><span class="icon-document"></span> <code class="mls"> .icon-document</code></li>
                    <li><span class="icon-downward-trend"></span> <code class="mls"> .icon-downward-trend</code></li>
                    <li><span class="icon-edit"></span> <code class="mls"> .icon-edit</code></li>
                    <li><span class="icon-error"></span> <code class="mls"> .icon-error</code></li>
                    <li><span class="icon-flag"></span> <code class="mls"> .icon-flag</code></li>
                    <li><span class="icon-forward"></span> <code class="mls"> .icon-forward</code></li>
                  </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <ul class="list-unstyled">
                    <li><span class="icon-lock2"></span> <code class="mls"> .icon-lock2</code></li>
                    <li><span class="icon-menu"></span> <code class="mls"> .icon-menu</code></li>
                    <li><span class="icon-notes"></span> <code class="mls"> .icon-notes</code></li>
                    <li><span class="icon-open"></span> <code class="mls"> .icon-open</code></li>
                    <li><span class="icon-menu"></span> <code class="mls"> .icon-menu</code></li>
                    <li><span class="icon-printer"></span> <code class="mls"> .icon-printer</code></li>
                    <li><span class="icon-question"></span> <code class="mls"> .icon-question</code></li>
                    <li><span class="icon-remove"></span> <code class="mls"> .icon-remove</code></li>
                    <li><span class="icon-search"></span> <code class="mls"> .icon-search</code></li>
                    <li><span class="icon-settings"></span> <code class="mls"> .icon-settings</code></li>
                    <li><span class="icon-share"></span> <code class="mls"> .icon-share</code></li>
                    <li><span class="icon-snapshot"></span> <code class="mls"> .icon-snapshot</code></li>
                    <li><span class="icon-spinner"></span> <code class="mls"> .icon-spinner</code></li>
                    <li><span class="icon-star-empty"></span> <code class="mls"> .icon-star-empty</code></li>
                    <li><span class="icon-star-full"></span> <code class="mls"> .icon-star-full</code></li>
                    <li><span class="icon-success"></span> <code class="mls"> .icon-success</code></li>
                    <li><span class="icon-tag"></span> <code class="mls"> .icon-tag</code></li>
                    <li><span class="icon-upward-trend"></span> <code class="mls"> .icon-upward-trend</code></li>
                    <li><span class="icon-warning"></span> <code class="mls"> .icon-warning</code></li>
                    <li><span class="icon-globe"></span> <code class="mls"> .icon-globe</code></li>
                  </ul>
                </div>
              </div>
            </div>