
        
          <div id="labels">
            <div class="section-header">
              <h1>Labels</h1>
              <p>Labes follow the exact same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/components/#labels" target="_blank">documentation for labels</a>.  But we've added some extra colors for D&amp;B products.  Enjoy  :)</p>
            </div>
            <p>
              <span class="label label-default">Default</span>
              <span class="label label-primary">Primary</span>
              <span class="label label-success">Success</span>
              <span class="label label-info">Info</span>
              <span class="label label-warning">Warning</span>
              <span class="label label-danger">Danger</span>
            </p>
            <p>
              <span class="label label-risk-low">Low Risk</span>
              <span class="label label-risk-lowmod">Mod-Low Risk</span>
              <span class="label label-risk-mod">Mod Risk</span>
              <span class="label label-risk-modhigh">Mod-High Risk</span>
              <span class="label label-risk-high">High Risk</span>
              <span class="label label-risk-severe">Severe Risk</span>
              <span class="label label-risk-oob">Out of Business</span>
              <span class="label label-risk-na">NA</span>
            </p>

            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>

                <div class="panel panel-plain label-example">
                  <div class="panel-body">
                    <h2>Royal Bank of Canada</h2>
                    <p><small>Tradstyle(s) : Royal Bank</small></p>
                    <p><span class="label label-risk-low">Active</span> <span class="label label-primary">Headquarters</span></p>
                    <table class="table-list">
                      <tr>
                        <td class="bold">Address:</td>
                        <td>200 Bay St Toronto M5j 2J5 ON Canada</td>
                      </tr>
                      <tr>
                        <td class="bold">Phone:</td>
                        <td>+1 555-555-5555</td>
                      </tr>
                      <tr>
                        <td class="bold">D-U-N-S:</td>
                        <td>2055555</td>
                      </tr>
                      <tr>
                        <td class="bold">Registration #:</td>
                        <td>350000</td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>