

          <div id="left-hand_menu">
            <div class="section-header">
              <h1>Left-Hand Menu</h1>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p>The navigation on the left-hand side of this documentation page is a live demo of the left-hand menu!  The left-hand menu follows <a href="http://getbootstrap.com/components/#nav" target="_blank">Bootrap's nav-pills component</a>, and, like the global header, it requires some extra classes.  Inspect the element to see a complete view, but here's a quick breakdown.</p>
            
                <h2 class="section-subheader">Required Classes</h2>
                <p>These following is required to create the basic look and feel of the left-hand nav: </p>
                <ul>
                  <li>Wrap the <code>.nav</code> element in <code>.dnb-left-hand-menu</code></li>
                  <li>The left-hand menu should be hidden for mobile devices, less than 768px wide, so add <code>.hidden-xs</code> to the <code>.dnb-left-hand-menu</code> element.</li>
                  <li>The <code>.nav</code> element requires both the <code>.nav-pills</code> and <code>.nav-stacked</code> classes to create the correct styling.</li>
                  <li>The <code>&lt;body&gt;</code> tag requires <code>.has-sidebar</code>, which will adjust the rest of the page to compensate for the menu.</li>
                  <li>The <code>.dnb-left-hand-menu</code>'s sibling element which contains the main page content needs to have the class <code>.page-wrapper</code> in order to adjust for the left-hand-menu</li>
                </ul>
            
                <h2 class="section-subheader">Menu Width</h2>
                <p>The default width for the left-hand menu is 220px, however, some apps have different requirements.  You can customize the <code>@left-hand-menu-width</code> LESS variable to quickly modify the left-hand menu width and everything else that is affected by it.</p>
            
                <h2 class="section-subheader">Fixed Menu</h2>
                <p>Depending on your app, you want the left-hand menu to scroll independently of the rest of the page.  For this, add <code>.sidebar-fixed</code> to the <code>&lt;body&gt;</code> tag.</p>

                <p>Adding this class provides two different behaviors depending on if the global header is fixed or not. This page contains both a fixed header and fixed left-hand menu.  If the header is not fixed, then the left-hand menu will slide up with the page, until it reaches the top, then becomes fixed, automatically utilizing <a href="hhttp://getbootstrap.com/javascript/#affix">Bootrap's affix plugin</a> (included in the D&amp;B Product Design Guide repo).
                <div class="notice notice-danger">
                  <div class="notice-content">
                    <div class="notice-title">Plugin dependency</div>
                    <div class="notice-body">
                      <p>To used a fixed left-hand menu <strong><em>without</em></strong> a fixed global header, both affix.js <strong><em>and</em></strong> the global-left-hand-menu.js are required. It has already been built out and included with the styleguide. If you are using dnb-product-design-guide.js (or .min.js) you're good to go.</p>
                    </div>
                  </div>
                </div>
            
                <h2 class="section-subheader">Menu Item Toggle</h2>
                <p>The preferred menu behavior is demonstrated in this page.  If a main level menu item needs a sub menu, it is created by following the <a href="http://getbootstrap.com/components/#nav" target="_blank">pills with dropdowns</a> convetion set forth by Bootstrap.  However, instead of using the <code>.dropdown-toggle</code> class and <code>dropdown</code> for the <code>data-toggle=""</code> attribute, it requires <code>.accordion-toggle</code> and <code>accordion</code> repectively.</p>
                <p>A left-hand menu main level item will support up to two more levels of sub menus.</p>
                
<pre class="tag">Main item
    ├─ Sub menu item 1
    │   └─ Sub- menu item 1.1
    └─ Sub menu item 2
  Main item
</pre>
                <div class="notice notice-danger">
                  <div class="notice-content">
                    <div class="notice-title">Plugin dependency</div>
                    <div class="notice-body">
                      <p>The sub menu functionality requires global-left-hand-menu.js. It has already been built out and included with the styleguide. If you are using dnb-product-design-guide.js (or .min.js) you're good to go.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>