
        
          <div id="modals">
            <div class="section-header">
              <h1>Modals</h1>
              <p>Modals follow the exact same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/javascript/#modals" target="_blank">documentation for modals</a>.  Please read through Bootstrap's documentation to ensure your modals will work correctly.</p>
              <div class="notice notice-danger">
                <div class="notice-content">
                  <div class="notice-title">Plugin dependency</div>
                  <div class="notice-body">
                    <p>Modals require Bootstrap's modal.js, which is included with the styleguide.  If you are using dnb-product-design-guide.js (or .min.js) you're good to go. If not, you'll need to include modal.js.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="demoModal">
              <div class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cross3" aria-hidden="true"></span></button>
                      <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                      <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default-dark-blue" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary-blue">Save changes</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary-blue btn-lg" data-toggle="modal" data-target="#myModal">
              Launch demo modal
            </button>
          </div>