

          <div id="notices">
            <div class="section-header">
              <h1>Notices</h1>
            </div>
            <div class="row clearfix">
              <p class="col-xs-12">Notice are similar to Panels, except the parent element has the <code>.notice</code> class with a child <code>.notice-content</code> element.  Inside <code>.notice-content</code> use <code>.notice-title</code> and <code>.notice-body</code> to create your notice.</p>
              <div class="notice-demo white-section col-xs-12">
                <div class="notice">
                  <div class="notice-content">
                    <div class="notice-title">Notice Title</div>
                    <div class="notice-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam eget neque mollis placerat. Vestibulum pretium non arcu nec laoreet. Vivamus hendrerit id neque eu porta. Aenean aliquam tincidunt quam, facilisis molestie sapien aliquet id. Morbi varius justo vitae ligula accumsan condimentum.</div>
                  </div>
                </div>
              </div>
              <div class="notice-demo gray-section col-xs-12">
                <div class="notice">
                  <div class="notice-content">
                    <div class="notice-title">Notice Title</div>
                    <div class="notice-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam eget neque mollis placerat. Vestibulum pretium non arcu nec laoreet. Vivamus hendrerit id neque eu porta. Aenean aliquam tincidunt quam, facilisis molestie sapien aliquet id. Morbi varius justo vitae ligula accumsan condimentum.</div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="row">
                  <p class="col-xs-12"><br>Notice variations can be created using the <code>.notice-variant()</code> mixin.  Here are some examples.</p>
                  <div class="col-xs-12 col-md-4">
                    <p><code>.notice-success</code></p>
                    <div class="notice notice-success">
                      <div class="notice-content">
                        <div class="notice-title">Success Notice</div>
                        <div class="notice-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam eget neque mollis placerat.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <p><code>.notice-error</code></p>
                    <div class="notice notice-error">
                      <div class="notice-content">
                        <div class="notice-title">Error Notice</div>
                        <div class="notice-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam eget neque mollis placerat.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <p><code>.notice-warning</code></p>
                    <div class="notice notice-warning">
                      <div class="notice-content">
                        <div class="notice-title">Warning Notice</div>
                        <div class="notice-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum diam eget neque mollis placerat.</div>
                      </div>
                    </div>
                  </div>
                  <p class="col-xs-12"><br>The body copy for notices without titles is the same color as the left-hand border.</p>
                  <div class="col-xs-12 col-md-4">
                    <div class="notice notice-success">
                      <div class="notice-content">
                        <div class="notice-body">Notice without titles are very useful.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="notice notice-error">
                      <div class="notice-content">
                        <div class="notice-body">Notice without titles are very useful.</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="notice notice-warning">
                      <div class="notice-content">
                        <div class="notice-body">Notice without titles are very useful.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>