
          <div id="overview">
            <div class="jumbotron">
              <h1>Product Design Guide Components</h1>
              <p>We've done most of the hard work for you.  Check out all the available components that are ready to use in your app.  Make sure to check Bootstrap's documentation as most of the components are based off of existing Bootstrap components.</p>
              <p>Use as is or modify to fit your needs.</p>
            
              <div id="current_version" class="section-subheader">
                <h4>Current Version: 1.0.0</h4>
              </div>
            </div>
          </div>