
          <div id="page_loader">
            <div class="section-header">
              <h1>Page Loader</h1>
              <p>We've created a fancy page loader out of the D&amp;B ampersand.  It's really easy to use.  You can either use it as an <code>img</code>, <code>div</code>, or <code>span</code>.  Just add the <code>.amp-loader</code> class and your all set.  If you want a smaller version, add <code>.mini-loader</code>.</p>
            </div>
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-6">
                <p><code>.amp-loader</code></p>
                <div class="panel panel-plain">
                  <div class="panel-body amp-loader-example">
                    <p class="small"><strong>EXAMPLE</strong></p>
                    <p><code>img</code></p>
                    <img class="amp-loader" src="../../dist/img/ampersand-loader.gif">
                    <p><code>div</code></p>
                    <div class="amp-loader"></div>
                    <p><code>span</code></p>
                    <span class="amp-loader"></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>Add <code>.mini-loader</code> for a smaller version.</p>
                <div class="panel panel-plain">
                  <div class="panel-body amp-loader-example">
                    <p class="small"><strong>EXAMPLE</strong></p>
                    <p><code>img</code></p>
                    <img class="amp-loader mini-loader" src="../../dist/img/ampersand-loader-mini.gif">
                    <p><code>div</code></p>
                    <div class="amp-loader mini-loader"></div>
                    <p><code>span</code></p>
                    <span class="amp-loader mini-loader"></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="panel panel-plain example-panel-gray-bg">
                  <div class="panel-body">
                    <p class="small"><strong>EXAMPLE (ON GRAY)</strong></p>
                    <img class="amp-loader" src="../../dist/img/ampersand-loader.gif">
                    <img class="amp-loader mini-loader" src="../../dist/img/ampersand-loader-mini.gif">
                  </div>
                </div>
              </div>
            </div>
            <p>Sometimes it's more appropriate to use something a little more subtle.  For these cases, you can use this traditional loader.  Just drop in an <code>img</code>, <code>div</code>, or <code>span</code> with the <code>.simple-spinner</code> and you're good to go.</p>
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-6">
                <div class="panel panel-plain">
                  <div class="panel-body">
                    <p class="small"><strong>EXAMPLE</strong></p>
                    <p>
                      <span class="spinner-example-code"><code>img</code></span>
                      <img class="simple-spinner" src="../../dist/img/simple-spinner.gif">
                    </p>
                    <p>
                      <span class="spinner-example-code"><code>div</code></span>
                      <span class="simple-spinner"></span>
                    </p>
                    <p>
                      <span class="spinner-example-code"><code>span</code></span>
                      <span class="simple-spinner"></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>