

          <div id="pagination">
            <div class="section-header">
              <h1>Pagination</h1>
              <p>Provide pagination links for your site or app with the multi-page pagination component.  See Bootstrap's <a href="http://getbootstrap.com/components/#pagination" target="_blank">documentation for pagination</a>.</p>
            </div>

            <h2 class="section-subheader">Basic Usage</h2>
            <p>The pagination row is wrapped in an element with the <code>.pagination-row</code> class.  Inside it has two direct decendants, <code>.pagination-perpage</code> and <code>.pagination.pages</code>.</p>

            <p><code>.pagination-perpage</code> requires the <code>.pull-left</code> class to align it to the left. Add an inline element with <code>.reults-indicator</code> if you will show results.  The per-page indicator gets a <code>.perpage-indicator</code> class, while each of the three options, 25, 50, and 100, get a <code>.perpage-num</code> class.</p>
            <p><code>.pagination-pages</code> requires the <code>.pull-right</code> class to align it to the right .  Inside <code>.pagination-pages</code>, use <code>.pagination</code> to create the list of pages with 4 pages on the left of the ellipsis and 1 on the right.  Wrap the ellipsis in <code>.ellipsis</code> for proper styling.</p>
            <p>Make sure to inspect the emelents to understand how all the elements are used.</p>

            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <!-- begin pagination pattern html -->
                    <div class="pagination-row clearfix">
                      <div class="pagination-perpage pull-left">
                        <span class="results-indicator"><strong>1 - 25</strong> of 100,137 Results | </span><span class="perpage-indicator">Items per page</span> <span class="perpage-num">25</span> | <span class="perpage-num"><a href="#">50</a></span> | <span class="perpage-num"><a href="#">100</a></span>
                      </div>
                      
                      <div class="pagination-pages pull-right">
                        <nav>
                          <ul class="pagination">
                            <li class="disabled">
                              <a class="previous" href="#" aria-label="Previous">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="ellipsis"><span>...</span></li>
                            <li><a href="#">10</a></li>
                            <li>
                              <a class="next" href="#" aria-label="Next">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    
                    <div class="panel">
                      <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                      </div>
                      <div class="panel-body">
                        Search Results
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-plain example-panel-gray-bg">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE (ON GRAY)</strong></p>
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <!-- begin pagination pattern html -->
                    <div class="pagination-row clearfix">
                      <div class="pagination-perpage pull-left">
                        <span class="results-indicator"><strong>1 - 25</strong> of 100,137 Results | </span><span class="perpage-indicator">Items per page</span> <span class="perpage-num">25</span> | <span class="perpage-num"><a href="#">50</a></span> | <span class="perpage-num"><a href="#">100</a></span>
                      </div>
                      
                      <div class="pagination-pages pull-right">
                        <nav>
                          <ul class="pagination">
                            <li class="disabled">
                              <a class="previous" href="#" aria-label="Previous">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="ellipsis"><span>...</span></li>
                            <li><a href="#">10</a></li>
                            <li>
                              <a class="next" href="#" aria-label="Next">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    
                    <div class="panel">
                      <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                      </div>
                      <div class="panel-body">
                        Search Results
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h2 class="section-subheader">Variations</h2>
            <p>Modify the markup to create variations that fit your needs.</p>

            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <!-- begin pagination pattern html -->
                    <div class="pagination-row clearfix">
                      <div class="pagination-perpage pull-left">
                        <span class="results-indicator"><strong>1 - 25</strong> of 100,137 Results | </span><span class="perpage-indicator">Items per page</span> <span class="perpage-num">25</span> | <span class="perpage-num"><a href="#">50</a></span> | <span class="perpage-num"><a href="#">100</a></span>
                      </div>
                      
                      <div class="pagination-pages pull-right">
                        <nav>
                          <ul class="pagination">
                            <li class="disabled">
                              <a class="previous" href="#" aria-label="Previous">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                            <li>
                              <a class="next" href="#" aria-label="Next">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    
                    <div class="panel">
                      <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                      </div>
                      <div class="panel-body">
                        Search Results
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p>Wrap an input in <code>.go-to-page</code> to create a manual page selector.</p>
            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <!-- begin pagination pattern html -->
                    <div class="pagination-row clearfix">
                      <div class="pagination-perpage pull-left">
                        <span class="results-indicator"><strong>1 - 25</strong> of 100,137 Results | </span><span class="perpage-indicator">Items per page</span> <span class="perpage-num">25</span> | <span class="perpage-num"><a href="#">50</a></span> | <span class="perpage-num"><a href="#">100</a></span>
                      </div>
                      
                      <div class="pagination-pages pull-right">
                        <nav>
                          <ul class="pagination">
                            <li class="disabled">
                              <a class="previous" href="#" aria-label="Previous">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li>
                              <span class="go-to-page">
                                <form class="form-inline">
                                  <div class="form-group">
                                    <label for="exampleInputName2">Go to: </label>
                                    <input type="number" class="form-control" id="paginationExampleInput1" placeholder="...">
                                  </div>
                                </form>
                              </span>
                            </li>
                            <li><a href="#">4,000</a></li>
                            <li>
                              <a class="next" href="#" aria-label="Next">
                                <span class="caret" aria-hidden="true"></span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                    
                    <div class="panel">
                      <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                      </div>
                      <div class="panel-body">
                        Search Results
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          </div>