
          <div id="panels">
            <div class="section-header">
              <h1>Panels</h1>
              <p>Panels fit in rows and columns based on the width of the row or column they are in. They use the <code>.panel</code> class.  Within that, they use the standard bootstrap <code>.panel-heading</code>, <code>.panel-title</code>, and <code>.panel-body</code> classes.</p>
              <p>Check Bootstrap's <a href="http://getbootstrap.com/components/#panels" target="_blank">panel documentation</a> for more detail.</p>
            </div>
            <div class="row">
              <h2 class="col-xs-12">Primary Usage</h2>
              <p class="col-xs-12">The primary (default) use of panels has a blue border at the top.</p>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Primary Panel Title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel">
                  <div class="panel-heading">
                    <a href="#"><h3 class="panel-title">Panel title with link <i class="icon-question-circle"></i> <i class="icon-arrow-right22 pull-right"></i></h3></a>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <h2 class="col-xs-12">Plain Panel</h2>
              <p class="col-xs-12">Remove the top blue border by adding the <code>.panel-plain</code> class.</p>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel panel-plain">
                  <div class="panel-body">
                    Plain panel without header or footer
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <h2 class="col-xs-12">Panel Body without Padding</h2>
              <p class="col-xs-12">It may be appropriate to remove the padding from the panel body.  Add <code>.panel-body-no-padding</code> to the <code>.panel-body</code>.</p>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel Body without Padding</h3>
                  </div>
                  <div class="panel-body panel-body-no-padding">
                    <img src="../img/split-hero-4in1-primary.jpg">
                  </div>
                </div>
              </div>
            </div>
<!--             <div class="row">
              <h2 class="col-xs-12">Panel Variations</h2>
              <p class="col-xs-12">Some panel variations are available.  More can be created using the <code>.panel-variant()</code> mixin.</p>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <p><code>.panel-success</code></p>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">Success Panel Title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <p><code>.panel-info</code></p>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Info Panel Title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <p><code>.panel-warning</code></p>
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title">Warning Panel Title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                <p><code>.panel-danger</code></p>
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h3 class="panel-title">Danger Panel Title</h3>
                  </div>
                  <div class="panel-body">
                    Panel content
                  </div>
                </div>
              </div>
            </div> -->
          </div>