
        
          <div id="popovers">
            <div class="section-header">
              <h1>Popovers</h1>
              <p>Popovers follow the exact same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/javascript/#popovers" target="_blank">documentation for popovers</a>.  However, we've added some extra guidlines for D&amp;B products.</p>
            </div>

            <div class="notice notice-danger">
              <div class="notice-content">
                <div class="notice-title">Plugin dependency</div>
                <div class="notice-body">
                  <p>Tooltips require Bootstrap's <a href="http://getbootstrap.com/javascript/#popovers" target="_blank">popover.js</a> and <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank">tooltip.js</a>, <strong><em>as well</em></strong> as dnb-popover.js. All three have already been built out and included with the styleguide. If you are using dnb-product-design-guide.js (or .min.js) you're good to go.  If not, you need to include popover.js, tooltip.js, and dnb-popover.js.</p>
                </div>
              </div>
            </div>

            <div class="notice notice-danger">
              <div class="notice-content">
                <div class="notice-title">Opt-in functionality</div>
                <div class="notice-body">
                  <p>For performance reasons, the Tooltip and Popover data-apis are opt-in, meaning you must initialize them yourself.</p>
                  <p>One way to initialize all popovers on a page would be to select them by their <code>data-toggle</code> attribute:</p>
                  <pre class="tag"><code>$('[data-toggle="popover"]').popover()</code></pre>
                </div>
              </div>
            </div>

            <div class="notice notice-warning">
              <div class="notice-content">
                <div class="notice-title">Read Popover Docs</div>
                <div class="notice-body">
                  Make sure you familiarize yourself with Bootstrap's <a href="http://getbootstrap.com/javascript/#popovers" target="_blank">documentation for popovers</a>.  There are a lot of options you need to pay attention to, especially the <code>container</code> option if you have a fixed sidebar.
                </div>
              </div>
            </div>
            
            <h2 class="section-subheader">Basic Usage</h2>
            <p>We've added some new functionality to the default popovers.  Now, unlike stock Bootstrap, when a popover is open, if you click anywhere outside of the popover, it will close.</p>

            <div class="panel panel-plain popover-example">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>

                <div class="text-center">
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" title="Popup Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on top
                  </button>
                  
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" title="Popup Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on bottom
                  </button>
                  
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" title="Popup Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on left
                  </button>
                  
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" title="Popup Title" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Popover on right
                  </button>
                </div>
              </div>
            </div>
            

            <h2 class="section-subheader">Available Options</h2>
            <p>We've added a few extra options that may work well for your product, depending on the information you need to show.</p>

            <h3>Default</h3>
            <p>See Bootstrap's documentation to understand the structure to create these default popovers.  The available positions are top, right, bottom, and left.</p>

            <div class="panel panel-plain popover-example static-popovers">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>

                <div class="popover top">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover top</h3>
                  <div class="popover-content">
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                </div>

                <div class="popover right">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover right</h3>
                  <div class="popover-content">
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                </div>

                <div class="popover bottom">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover bottom</h3>

                  <div class="popover-content">
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                </div>

                <div class="popover left">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover left</h3>
                  <div class="popover-content">
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                  </div>
                </div>

                <div class="clearfix"></div>

              </div>
            </div>

            <h3>Interactive</h3>
            <p>You can add more user interactions to the popover by adding the elements into the <code>content</code> option (see Bootstrap's <a href="http://getbootstrap.com/javascript/#popovers-options" target="_blank">documentation for popover options</a>).</p>
            <p>Adding a <code>.close</code> button will provide another way for the user to close the popover.  You can also add a button (or whatever you need) inside the content for more user interaction.</p>
            <p>Interactive popovers require the <code>html</code> option to be set to <code>true</code> as well as the <code>trigger</code> option to be set to <code>manual</code>.</p>

            <div class="panel panel-plain popover-example static-popovers">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>

                <div class="popover top">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover top</h3>
                  <div class="popover-content">
                      <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p><button type='button' class='btn btn-primary'>Button</button> 
                  </div>
                </div>

                <div class="popover right">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover right</h3>
                  <div class="popover-content">
                      <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p><button type='button' class='btn btn-primary'>Button</button> 
                  </div>
                </div>

                <div class="popover bottom">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover bottom</h3>
                  <div class="popover-content">
                      <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p><button type='button' class='btn btn-primary'>Button</button> 
                  </div>
                </div>

                <div class="popover left">
                  <div class="arrow"></div>
                  <h3 class="popover-title">Popover left</h3>
                  <div class="popover-content">
                      <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>
                    <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p><button type='button' class='btn btn-primary'>Button</button> 
                  </div>
                </div>

                <div class="clearfix"></div>

              </div>
            </div>

            <div class="panel panel-plain popover-example">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>

                <div class="text-center">
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" title="Popup Title" data-content="<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>Vivamus sagittis lacus vel augue laoreet rutrum faucibus.<button type='button' class='btn btn-primary'>Button</button> " data-html="true" data-trigger="manual">
                    Popover on top
                  </button>
                  
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" title="Popup Title" data-content="<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>Vivamus sagittis lacus vel augue laoreet rutrum faucibus.<button type='button' class='btn btn-primary'>Button</button> " data-html="true" data-trigger="manual">
                    Popover on bottom
                  </button>
                  
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" title="Popup Title" data-content="<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>Vivamus sagittis lacus vel augue laoreet rutrum faucibus.<button type='button' class='btn btn-primary'>Button</button> " data-html="true" data-trigger="manual">
                    Popover on left
                  </button>
                  
                  <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" title="Popup Title" data-content="<button type='button' class='close' data-dismiss='modal' aria-label='Close'><span class='icon-cross3' aria-hidden='true'></span></button>Vivamus sagittis lacus vel augue laoreet rutrum faucibus.<button type='button' class='btn btn-primary'>Button</button> " data-html="true" data-trigger="manual">
                    Popover on right
                  </button>
                </div>
              </div>
            </div>


          </div>