
        
        
          <div id="tabs">
            <div class="section-header">
              <h1>Tabs</h1>
              <p>Tabs follow the exact same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/javascript/#tabs" target="_blank">documentation for tabs</a>.  The only difference is that they have been styled for D&amp;B products.  Enjoy  :)</p>
              <div class="notice notice-danger">
                <div class="notice-content">
                  <div class="notice-title">Plugin dependency</div>
                  <div class="notice-body">
                    <p>Tabs require Bootstrap's tab.js, which is included with the styleguide.  If you are using dnb-product-design-guide.js (or .min.js) you're good to go. If not, you'll need to include tab.js.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="col-xs-12 col-md-6 gray-section">
                <div class="tabs-demo row">
                  <div class="col-xs-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Tab 1</a></li>
                      <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Tab 2</a></li>
                      <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Tab 3</a></li>
                      <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Tab 4</a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="tab1">
                        <p>Tab 1 with some content</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab2">
                        <p>Tab 2 with some content</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                          <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab3">
                        <p>Tab 3 with some content</p>
                          <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab4">
                        <p>Tab 4 with some content</p>
                          <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6 white-section">
                <div class="tabs-demo row">
                  <div class="col-xs-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab1-2" aria-controls="tab1-2" role="tab" data-toggle="tab">Tab 1</a></li>
                      <li role="presentation"><a href="#tab2-2" aria-controls="tab2-2" role="tab" data-toggle="tab">Tab 2</a></li>
                      <li role="presentation"><a href="#tab3-2" aria-controls="tab3-2" role="tab" data-toggle="tab">Tab 3</a></li>
                      <li role="presentation"><a href="#tab4-2" aria-controls="tab4-2" role="tab" data-toggle="tab">Tab 4</a></li>
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="tab1-2">
                        <p>Tab 1 with some content</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab2-2">
                        <p>Tab 2 with some content</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                          <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab3-2">
                        <p>Tab 3 with some content</p>
                          <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="tab4-2">
                        <p>Tab 4 with some content</p>
                          <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>