
        
          <div id="tooltips">
            <div class="section-header">
              <h1>Tooltips</h1>
              <p>Tooltips follow the exact same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank">documentation for tooltips</a>.  But we've added some extra guidlines for D&amp;B products.</p>
            </div>

            <div class="notice notice-danger">
              <div class="notice-content">
                <div class="notice-title">Plugin dependency</div>
                <div class="notice-body">
                  <p>Tooltips require Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank">tooltip.js</a>. It has already been built out and included with the styleguide. If you are using dnb-product-design-guide.js (or .min.js) you're good to go.  If not, you need to include tooltip.js.</p>
                </div>
              </div>
            </div>

            <div class="notice notice-danger">
              <div class="notice-content">
                <div class="notice-title">Opt-in functionality</div>
                <div class="notice-body">
                  <p>For performance reasons, the Tooltip and Popover data-apis are opt-in, meaning you must initialize them yourself.</p>
                  <p>One way to initialize all popovers on a page would be to select them by their <code>data-toggle</code> attribute:</p>
                  <pre class="tag"><code>$('[data-toggle="tooltip"]').tooltip()</code></pre>
                </div>
              </div>
            </div>

            <div class="notice notice-warning">
              <div class="notice-content">
                <div class="notice-title">Read Tooltip Docs</div>
                <div class="notice-body">
                  Make sure you familiarize yourself with Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank">documentation for tooltips</a>.  There are a lot of options you need to pay attention to.
                </div>
              </div>
            </div>
            
            <h2 class="section-subheader">Basic Usage</h2>
            <p>Hover over the links below to see tooltips:</p>
            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <p>Tight pants next level keffiyeh <a href="#" data-toggle="tooltip" title="" data-original-title="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a href="#" data-toggle="tooltip" title="" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a href="#" data-toggle="tooltip" title="" data-original-title="Another one here too">whatever keytar</a>, scenester farm-to-table banksy Austin <a href="#" data-toggle="tooltip" title="" data-original-title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.</p>
              </div>
            </div>
            
            <h2 class="section-subheader">Available Options</h2>
            <p>We've added a few extra options that may work well for your product, depending on the information you need to show.</p>

            <h3>Default</h3>
            <p>See Bootstrap's documentation to understand the structure to create these default tooltips.  The available positions are top, right, bottom, and left.  These positions apply to all of the color variations.</p>
            <div class="panel panel-plain tooltip-example static-tooltips">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="tooltip left" role="tooltip">
                  <div class="tooltip-arrow"></div>
                  <div class="tooltip-inner">
                    Tooltip on the left
                  </div>
                </div>
                <div class="tooltip top" role="tooltip">
                  <div class="tooltip-arrow"></div>
                  <div class="tooltip-inner">
                    Tooltip on the top
                  </div>
                </div>
                <div class="tooltip bottom" role="tooltip">
                  <div class="tooltip-arrow"></div>
                  <div class="tooltip-inner">
                    Tooltip on the bottom
                  </div>
                </div>
                <div class="tooltip right" role="tooltip">
                  <div class="tooltip-arrow"></div>
                  <div class="tooltip-inner">
                    Tooltip on the right
                  </div>
                </div>
              </div>
            </div>

            <h3>White Background</h3>
            <p>To create a tooltip with a white background, you need to modify the tooltip template (see Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips-options" target="_blank">documentation for tooltip options</a>) with the following, which adds the <code>.tooltip-white</code> class to the <code>.tooltip</code> element, and changes <code>.tooltip-arrow</code> to <code>.tooltip-white-arrow</code>:
            <pre class="prettyprint"><code>&lt;div class='tooltip tooltip-white' role='tooltip'&gt;&lt;div class='tooltip-white-arrow'&gt;&lt;/div&gt;&lt;div class='tooltip-inner'&gt;&lt;/div&gt;&lt;/div&gt;</code></pre>
            </p>
            <div class="panel panel-plain tooltip-example static-tooltips">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="tooltip tooltip-white left" role="tooltip">
                  <div class="tooltip-white-arrow"></div>
                  <div class="tooltip-inner">
                    White tooltip on the left
                  </div>
                </div>
                <div class="tooltip tooltip-white top" role="tooltip">
                  <div class="tooltip-white-arrow"></div>
                  <div class="tooltip-inner">
                    White tooltip on the top
                  </div>
                </div>
                <div class="tooltip tooltip-white bottom" role="tooltip">
                  <div class="tooltip-white-arrow"></div>
                  <div class="tooltip-inner">
                    White tooltip on the bottom
                  </div>
                </div>
                <div class="tooltip tooltip-white right" role="tooltip">
                  <div class="tooltip-white-arrow"></div>
                  <div class="tooltip-inner">
                    White tooltip on the right
                  </div>
                </div>
              </div>
            </div>

            <h3>Gray Background</h3>
            <p>To create a tooltip with a white background, you need to modify the tooltip template (see Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips-options" target="_blank">documentation for tooltip options</a>) with the following, which adds the <code>.tooltip-gray</code> class to the <code>.tooltip</code> element, and changes <code>.tooltip-arrow</code> to <code>.tooltip-gray-arrow</code>:
            <pre class="prettyprint"><code>&lt;div class='tooltip tooltip-gray' role='tooltip'&gt;&lt;div class='tooltip-white-arrow'&gt;&lt;/div&gt;&lt;div class='tooltip-inner'&gt;&lt;/div&gt;&lt;/div&gt;</code></pre>
            <div class="panel panel-plain tooltip-example static-tooltips">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="tooltip tooltip-gray left" role="tooltip">
                  <div class="tooltip-gray-arrow"></div>
                  <div class="tooltip-inner">
                    Gray tooltip on the left
                  </div>
                </div>
                <div class="tooltip tooltip-gray top" role="tooltip">
                  <div class="tooltip-gray-arrow"></div>
                  <div class="tooltip-inner">
                    Gray tooltip on the top
                  </div>
                </div>
                <div class="tooltip tooltip-gray bottom" role="tooltip">
                  <div class="tooltip-gray-arrow"></div>
                  <div class="tooltip-inner">
                    Gray tooltip on the bottom
                  </div>
                </div>
                <div class="tooltip tooltip-gray right" role="tooltip">
                  <div class="tooltip-gray-arrow"></div>
                  <div class="tooltip-inner">
                    Gray tooltip on the right
                  </div>
                </div>
              </div>
            </div>

            <h2 class="section-subheader">Custom Content</h2>
            <p>You can customize the tooltip content by setting the tooltip <code>html</code> option to <code>true</code> (see Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips-options" target="_blank">documentation for tooltip options</a>), then adding your html markup the to the <code>title</code> attribute.</p>
            <p>Here are a few examples that are included in the Product Design Guide - but you may need to add you're own custom css:</p>

            <h3>Link Group</h3>
            <p>A link group might be useful for quick links or actions.  In order to allow the user to click on the links, you'll need to modify the <code>trigger</code> option to include <code>click</code> (see Bootstrap's <a href="http://getbootstrap.com/javascript/#tooltips-options">documentation for tooltip options</a>).  The <code>title</code> attribute looks like this (change the icons as needed):
            <pre class="prettyprint"><code>&lt;span class='tooltip-link-group'&gt;&lt;a href='#'&gt;&lt;span class='icon-download4'&gt;&lt;/span&gt;&lt;/a&gt;&lt;a href='#'&gt;&lt;span class='icon-edit'&gt;&lt;/span&gt;&lt;/a&gt;&lt;a href='#'&gt;&lt;span class='icon-delete'&gt;&lt;/span&gt;&lt;/a&gt;&lt;/span&gt;</code></pre>
            <div class="panel panel-plain tooltip-example static-tooltips">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="tooltip left" role="tooltip">
                  <div class="tooltip-arrow"></div>
                  <div class="tooltip-inner">
                    <span class='tooltip-link-group'>
                      <a href='#'><span class='icon-download4'></span></a>
                      <a href='#'><span class='icon-edit'></span></a>
                      <a href='#'><span class='icon-delete'></span></a>
                    </span>
                  </div>
                </div>
                <div class="tooltip tooltip-white top" role="tooltip">
                  <div class="tooltip-white-arrow"></div>
                  <div class="tooltip-inner">
                    <span class='tooltip-link-group'>
                      <a href='#'><span class='icon-download4'></span></a>
                      <a href='#'><span class='icon-edit'></span></a>
                      <a href='#'><span class='icon-delete'></span></a>
                    </span>
                  </div>
                </div>
                <div class="tooltip tooltip-gray right" role="tooltip">
                  <div class="tooltip-gray-arrow"></div>
                  <div class="tooltip-inner">
                    <span class='tooltip-link-group'>
                      <a href='#'><span class='icon-download4'></span></a>
                      <a href='#'><span class='icon-edit'></span></a>
                      <a href='#'><span class='icon-delete'></span></a>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <h3>Data Detail</h3>
            <p>Display a quick look at data with the data detail tooltip.  The <code>title</code> attribute looks like this (add you're own css):
            <pre class="prettyprint"><code>&lt;span class='tooltip-link-group'&gt;&lt;a href='#'&gt;&lt;span class='icon-download4'&gt;&lt;/span&gt;&lt;/a&gt;&lt;a href='#'&gt;&lt;span class='icon-edit'&gt;&lt;/span&gt;&lt;/a&gt;&lt;a href='#'&gt;&lt;span class='icon-delete'&gt;&lt;/span&gt;&lt;/a&gt;&lt;/span&gt;</code></pre>
            <div class="panel panel-plain tooltip-example static-tooltips">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <div class="tooltip tooltip-white top" role="tooltip">
                  <div class="tooltip-white-arrow"></div>
                  <div class="tooltip-inner">
                    <span class='tooltip-rich-content'><span class='data-detail'>92%</span><p class='data-detail-caption'><strong>Title</strong><br> body content</p></span>
                  </div>
                </div>
                <div class="tooltip tooltip-gray right" role="tooltip">
                  <div class="tooltip-gray-arrow"></div>
                  <div class="tooltip-inner">
                    <span class='tooltip-rich-content'><span class='data-detail'>92%</span><p class='data-detail-caption'><strong>Title</strong><br> body content</p></span>
                  </div>
                </div>
              </div>
            </div>

            
            <h2 class="section-subheader">Use with Buttons</h2>
            <div class="panel panel-plain tooltip-example">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>

                <div class="text-center">
                  <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

                  <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="<span class='tooltip-link-group'><a href='#'><span class='icon-download4'></span></a><a href='#'><span class='icon-edit'></span></a><a href='#'><span class='icon-delete'></span></a></span>" data-html="true" data-template="<div class='tooltip tooltip-gray' role='tooltip'><div class='tooltip-gray-arrow'></div><div class='tooltip-inner'></div></div>" data-trigger="hover click focus">Tooltip on bottom - icons</button>

                  <button type="button" class="btn btn-primary-dark-blue" data-toggle="tooltip" data-placement="top" title="<span class='tooltip-rich-content'><span class='data-detail'>92%</span><p class='data-detail-caption'><strong>Title</strong><br> body content</p></span>" data-html="true" data-template="<div class='tooltip tooltip-white' role='tooltip'><div class='tooltip-white-arrow'></div><div class='tooltip-inner'></div></div>">Tooltip on top - rich content</button>

                  <button type="button" class="btn btn-primary-green" data-toggle="tooltip" data-placement="right" data-title="Tooltip on right" data-template="<div class='tooltip tooltip-gray' role='tooltip'><div class='tooltip-gray-arrow'></div><div class='tooltip-inner'></div></div>">White tooltip on right</button>
                </div>



              </div>
            </div>

          </div>