          <div id="typography">
            <div class="section-header">
              <h1>Typography</h1>
              <p>We have modified the typography to be branded for D&amp;B products.  It is worth noting, however, that we have not specifically modified every typography component as outlined in Bootstrap's <a href="http://getbootstrap.com/css/#type" target="_blank">typography documentation</a>.  Below, you will find the most commonly used elements for D&amp;B products.</p>
              <p>The global default <code>font-family</code> is <strong>Open Sans</strong>.</p>
            </div>

            <h2 class="section-subheader">Headings</h2>
            <p>The D&amp;B Product Design Guide only defines HTML headings <code>&lt;h1&gt;</code> through <code>&lt;h3&gt;</code>.  While <code>&lt;h4&gt;</code> through <code>&lt;h6&gt;</code> are still available, we haven't defined any special styling for them.  The Bootstrap classes <code>.h1</code> through <code>.h6</code> are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
            <p>Create lighter, secondary text in any heading with a generic <code>&lt;small&gt;</code> tag or the <code>.small</code> class.</p>
            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <h1>H1 Heading <small>(24px semibold)</small></h1>
                <h2>H2 Heading <small>(18px semibold)</small></h2>
                <h3>H3 Heading <small>(14px semibold all caps)</small></h3>
              </div>
            </div>

            <h2 class="section-subheader">Default Links</h2>
            <p>The default link is has a <code>font-size</code> of <strong>14px</strong> and <code>font-weight</code> of <strong>600</strong> (semibold).  Default behavior is underline on hover/focus.</p>
            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <p>This is what a <a href="#">link</a> looks like.</p>
              </div>
            </div>
            
            <h2 class="section-subheader">Paragraph</h2>
            <p>The global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.7145</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their computed line-height (12px by default).</p>
            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <p>Lucas ipsum dolor sit amet xanatos hapan mod mara bib moff wuher choka glymphid mccool. Kathol vagaari duros colton. Gizka iego kashyyyk amidala.</p>
                <p>Luminara sebulba codru-ji keyan pavan shado qui-gonn cabasshite dormé. Kohl borvo ooryl y'bith sluis rex hutt gordin grievous. Latter ahsoka secura skywalker sio borvo aayla utapaun.</p>
              </div>
            </div>
            
            <h2 class="section-subheader">Small Text</h2>
            <p>For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag to set text at 85% the size of the parent. Heading elements receive their own font-size for nested <code>&lt;small&gt;</code> elements.</p>

            <p>You may alternatively use an inline element with <code>.small</code> in place of any <code>&lt;small&gt;</code>.</p>
            <div class="panel panel-plain">
              <div class="panel-body">
                <p class="small"><strong>EXAMPLE</strong></p>
                <p><small>Luminara sebulba codru-ji keyan pavan shado qui-gonn cabasshite dormé. Kohl borvo ooryl y'bith sluis rex hutt gordin grievous.</small></p>
              </div>
            </div>
            
            <h2 class="section-subheader">Unordered Lists</h2>
            <p>Multiple options are available:</p>
            <div class="row">
              <div class="col-md-4">
                <p>Default</p>
                <div class="panel panel-plain">
                  <div class="panel-body">
                    <p class="small"><strong>EXAMPLE</strong></p>
                    <ul>
                      <li>List item 1</li>
                      <li>List item 2</li>
                      <li>List item 3</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <p><code>.alt-list</code> will remove the bullets:</p>
                <div class="panel panel-plain">
                  <div class="panel-body">
                    <p class="small"><strong>EXAMPLE</strong></p>
                    <ul class="alt-list">
                      <li>List item 1</li>
                      <li>List item 2</li>
                      <li>List item 3</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <p><code>.list-unstyled </code> will remove the bullets and padding:</p>
                <div class="panel panel-plain">
                  <div class="panel-body">
                    <p class="small"><strong>EXAMPLE</strong></p>
                    <ul class="list-unstyled ">
                      <li>List item 1</li>
                      <li>List item 2</li>
                      <li>List item 3</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>