      
        </div> <!-- /.mainWrapper -->

        <footer class="dnb-global-footer dnb-global-footer-marketing" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">

          <div class="container">
            <div class="row">
                <div class="product-name col-sm-3">
                    <a href="<?php echo home_url(); ?>" rel="nofollow">
                      <img src="<?php echo get_template_directory_uri(); ?>/library/images/dnb-product-design-logo-footer.png">
                      <span class="prod-name">Product Style Guide Demo</span>
                    </a>
                </div>
                <div class="company-info col-sm-9">
                  <p>Dun &amp; Bradstreet (NYSE: DNB) grows the most valuable relationships in business. By uncovering truth and meaning from data, we connect customers with the prospects, suppliers, clients and partners that matter most, and have since 1841. Nearly ninety percent of the Fortune 500, and companies of every size around the world, rely on our data, insights and analytics.</p>
                  <ul class="legal">
                    <li class="copyright">&copy; Dun &amp; Bradstreet, Inc. <?php echo date('Y'); ?>. All Rights Reserved.</li>
                    <li><a href="http://www.dnb.com/privacy-policy.html" target="_blank">Privacy Policy</a></li>
                    <li><a href="http://www.dnb.com/terms-of-use.html" target="_blank">Terms </a></li>
                  </ul>
                </div>
            </div>
          </div>

        </footer>

  <?php // all js scripts are loaded in library/bones.php ?>

    <!-- <script type="text/javascript" src="<?php //echo get_template_directory_uri(); ?>/library/js/dnb-product-styles.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script> -->
    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/505bef35b56/integration/bootstrap/3/dataTables.bootstrap.js"></script>

    <script src="<?php echo get_template_directory_uri(); ?>/documentation/jquery.cookie.js"></script>
    <script src="<?php echo get_template_directory_uri(); ?>/documentation/documentation.js"></script>

    <?php wp_footer(); ?>

  </body>

</html> <!-- end of site. what a ride! -->
