
          <div id="">
            <div id="basic_form_usage">
              <div class="section-header">
                <h1>Forms and Inputs</h1>
                <p>We have updated the styling for forms and inputs to fit with D&amp;B products.  However, most elements follow the same guidlines as laid out in Bootstrap's <a href="http://getbootstrap.com/css/#forms" target="_blank">documentation for forms</a>.  There are a couple additional features that are explained below.</p>
              </div>
              
              <h2 class="section-subheader">Basic Usage</h2>
              <p>Add <code>.form-control</code> to <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements, which sets to width: 100%; by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>
              
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <form autocomplete="off">
                    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                    <input style="display:none" type="text" name="fakeusernameremembered"/>
                    <input style="display:none" type="password" name="fakepasswordremembered"/>
                
                    <!-- And now the real stuff -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" autocomplete="off">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                      </div>
                    </div>
                        
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleSelect">Select</label>
                        <select id="exampleSelect" class="form-control">
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                          <option>Option 4</option>
                          <option>Option 5</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>


              <h3>File Input</h3>
              <p>File inputs are a bit trickier.  The default is pretty bad, so we need to do some fancy work to make it presentable.  Of course IE9 and down doesn't play nice, so you'll need to add some extra tags.</p>
              <p>We need to wrap the <code>input type="file"</code> in a couple elements. Inspect the element to see the structure.</p>
              
              <div class="notice notice-warning">
                <div class="notice-content">
                  <div class="notice-title">IE9 and lower</div>
                  <div class="notice-body">
                    <p>For IE9 or below, make sure you add the conditional tags directly after the new structure for the file input.</p>
              
              <pre class="prettyprint"><code>&lt;!--[if IE]&gt;
  &lt;input type="file"&gt;
&lt;![endif]--&gt;</code></pre>
              
                    <p>You'll also need to conditionally hide <code>.input-file</code> when IE9 or below.  Add the following to your <code>&lt;head&gt;</code> for to your css if you use some sort of browser detection like <a href="https://modernizr.com/">modernizr</a>.</p>
              
              <pre class="prettyprint"><code>&lt;!--[if IE]&gt;
        &lt;style&gt;
            .input-file {display: none;}
        &lt;/style&gt;
&lt;![endif]--&gt;</code></pre>
                  </div>
                </div>
              </div>
              
              <div class="notice notice-danger">
                <div class="notice-content">
                  <div class="notice-title">Plugin dependency</div>
                  <div class="notice-body">
                    <p>Fancy file inputs require input-file.js.  It has already been built out and included with the styleguide.  If you are using dnb-product-design-guide.js (or .min.js) you're good to go. If not, you'll need to include input-file.js.</p>
                  </div>
                </div>
              </div>
              
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <form autocomplete="off">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-file">
                          <div class="btn btn-default-dark-blue btn-gray-outline btn-sm">
                            <span>Choose File</span>
                            <input type="file">
                          </div>
                          <input type="text" class="fileuploadurl" readonly placeholder="No file chosen" disabled>
                        </div>
                        <!--[if IE]>
                          <input type="file">
                        <![endif]-->
                        <p class="help-block">Example block-level help text here.</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>




            </div>