



            <div id="checkboxes_and_radios">
              <h2 class="section-subheader">Checkboxes and Radios</h2>
              <p>We got tired of looking at the default checkboxes and radio buttons, so we styled them up a bit.  For some situations, the default styles are more appropriate, so you'll need to follow Bootstrap's <a href="http://getbootstrap.com/css/#checkboxes-and-radios" target="_blank">documentation</a>.  It's preferred, however, to use our D&amp;B styling wherever possible.</p>
              <p>Inspect the elements to understand where to put the appropriate classes.</p>
              
              <div class="row clearfix">
                
                <form>
                  <div class="col-xs-12">
                    <h3>Checkboxes</h3>
              <!--                   <code>.checkbox</code>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Default
                      </label>
                    </div> -->
                  </div>
                    <div class="col-md-6">
                      <p><code>.checkbox-styled</code></p>
                      <div class="panel panel-plain">
                        <div class="panel-body">
                          <p class="small"><strong>EXAMPLE</strong></p>
                          <div class="checkbox-styled">
                            <label>
                              <input type="checkbox"> <span class="icon-check">Check Box</span>
                            </label>
                          </div>
                          <div class="checkbox-styled">
                            <label>
                              <input type="checkbox" checked> <span class="icon-check">Check Box</span>
                            </label>
                          </div>
                          <div class="checkbox-styled">
                            <label>
                              <input type="checkbox" disabled> <span class="icon-check">Disabled Check Box</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p><code>.checkbox-styled.checkbox-sm</code></p>
                      <div class="panel panel-plain">
                        <div class="panel-body">
                          <p class="small"><strong>EXAMPLE</strong></p>
                          <div class="checkbox-styled checkbox-sm">
                            <label>
                              <input type="checkbox"> <span class="icon-check">Small Check Box</span>
                            </label>
                          </div>
                          <div class="checkbox-styled checkbox-sm">
                            <label>
                              <input type="checkbox" checked> <span class="icon-check">Small Check Box</span>
                            </label>
                          </div>
                          <div class="checkbox-styled checkbox-sm">
                            <label>
                              <input type="checkbox" disabled> <span class="icon-check">Disabled Small Check Box</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              
                  <form>
                  <div class="col-xs-12">
                    <h3>Radio Buttons</h3>
              <!--                   <code>.radio</code>
                    <div class="radio">
                      <label class="radio-inline">
                        <input type="radio" name="demo-default"> Default 1
                      </label>
                      <label class="radio-inline">
                        <input type="radio" name="demo-default"> Default 2
                      </label>
                    </div> -->
                  </div>
                    <div class="col-md-6">
                      <p><code>.radio-styled</code></p>
                      <div class="panel panel-plain">
                        <div class="panel-body">
                          <p class="small"><strong>EXAMPLE</strong></p>
                          <div class="radio-styled">
                            <label>
                              <input type="radio" name="demo"> <span class="icon-circle">Radio</span>
                            </label>
                          </div>
                          <div class="radio-styled">
                            <label>
                              <input type="radio" name="demo" checked> <span class="icon-circle">Radio</span>
                            </label>
                          </div>
                          <div class="radio-styled">
                            <label>
                              <input type="radio" name="demo" disabled> <span class="icon-circle">Disabled Radio</span>
                            </label>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <p><code>.radio-styled.radio-sm</code></p>
                      <div class="panel panel-plain">
                        <div class="panel-body">
                          <p class="small"><strong>EXAMPLE</strong></p>
                          <div class="radio-styled radio-sm">
                            <label>
                              <input type="radio" name="demo-radio-2"> <span class="icon-circle">Small Radio</span>
                            </label>
                          </div>
                          <div class="radio-styled radio-sm">
                            <label>
                              <input type="radio" name="demo-radio-2" checked> <span class="icon-circle">Small Radio</span>
                            </label>
                          </div>
                          <div class="radio-styled radio-sm">
                            <label>
                              <input type="radio" name="demo-radio-2" disabled> <span class="icon-circle">Disabled Small Radio</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  <!-- <button type="submit" class="btn btn-primary-blue">Submit</button> -->
                </form>
              </div>
            </div>