


            <div id="disabled_state">
              <h2 class="section-subheader">Disabled state</h2>
              <p>Add the <code>disabled</code> boolean attribute on an input to prevent user interactions. Disabled inputs appear lighter and add a not-allowed cursor.</p>
              
              <div class="panel panel-plain">
                <div class="panel-body">
                  <p class="small"><strong>EXAMPLE</strong></p>
                  <form>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label"  for="exampleDisabledText">Disabled Field</label>
                        <input type="text" class="form-control" id="exampleInputText" placeholder="Disabled Text" disabled>
                      </div>
                      <div class="form-group">
                        <label for="disabledSelect">Disabled select menu</label>
                        <select id="disabledSelect" class="form-control" disabled>
                          <option>Disabled select</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>