



            <div id="toggle_switch">
              <h2 class="section-subheader">Toggle Switch</h2>
              <p>Here's a handy toggle, on-off switch for you.  This uses Bootstrap's <a href="http://getbootstrap.com/javascript/#buttons" target="_blank">button.js</a>, more specifically it's <a href="http://getbootstrap.com/javascript/#buttons-checkbox-radio" target="_blank">checkbox / radio specs</a> to transform a checkbox into the toggle switch.</p>
              
              <p>But this bad boy requires a few new classes.  Add <code>.toggle-group</code> to the <code>.btn-group</code> element as well as <code>.btn</code> and <code>.btn-toggle</code> to the label.  You'll need a class for the color, too. The primay use needs <code>.btn-toggle-primary</code>.  If you need different colors, you'll need to use the <code>.button-toggle-variant()</code> mixin.</p>
              
              <div class="notice notice-danger">
                <div class="notice-content">
                  <div class="notice-title">Plugin dependency</div>
                  <div class="notice-body">
                    <p>Toggle switches requires Bootstrap's <a href="http://getbootstrap.com/javascript/#buttons" target="_blank">button.js</a>.  It has already been built out and included with the styleguide.  If you are using dnb-product-design-guide.js (or .min.js) you're good to go. If not, you'll need to include button.js.</p>
                  </div>
                </div>
              </div>
              
              <div class="row clearfix">
                <div class="col-md-6">
                  <div class="panel panel-plain">
                    <div class="panel-body">
                      <p class="small"><strong>EXAMPLE</strong></p>
                      <form>
                        <div class="example-toggle">
                          <div class="btn-group toggle-group" data-toggle="buttons">
                            <label class="btn btn-toggle btn-toggle-primary">
                              <input type="checkbox" autocomplete="off"> <span class="toggle-switch icon-circle"></span>
                            </label>
                          </div>
                          <strong>Off</strong>
                        </div>
                        <div class="example-toggle">
                          <div class="btn-group toggle-group" data-toggle="buttons">
                            <label class="btn btn-toggle btn-toggle-primary active">
                              <input type="checkbox" autocomplete="off" checked> <span class="toggle-switch icon-circle"></span>
                            </label>
                          </div>
                          <strong>On</strong>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
