          
              <div class="dnb-global-footer dnb-global-footer-marketing col-xs-12">
                <div class="container-fluid">
                  <div class="row">
                    <div class="product-name col-sm-12 col-md-3">
                      <img src="img/dnb-product-design-logo-footer.png">
                      <span class="prod-name">Product Design Guide Demo</span>
                    </div>
                    <div class="company-info col-sm-12 col-md-9">
                      <p>Dun &amp; Bradstreet (NYSE: DNB) grows the most valuable relationships in business. By uncovering truth and meaning from data, we connect customers with the prospects, suppliers, clients and partners that matter most, and have since 1841. Nearly ninety percent of the Fortune 500, and companies of every size around the world, rely on our data, insights and analytics.</p>
                      <ul class="legal">
                        <li class="copyright">&copy; Dun &amp; Bradstreet, Inc. 2015. All Rights Reserved.</li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms </a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div><!-- /.col-xs-12 -->
        </div> 
      </div><!-- /.page-wrapper -->

                    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula justo sit amet elit tincidunt volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            <p>Nulla non bibendum dolor. Curabitur luctus urna in tempor mattis. Integer auctor euismod ipsum, et ullamcorper nisi fermentum sed. Quisque dictum felis quis justo accumsan, a volutpat augue luctus. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default-dark-blue" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary-blue">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="../dist/js/dnb-product-design-guide.js"></script>
    <script type="text/javascript" src="lib/prettify.js"></script>
    <!-- Datatables -->
    <script type="text/javascript" src="lib/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="lib/dataTables.bootstrap.js"></script>

    <script src="jquery.cookie.js"></script>
    <script src="documentation.js"></script>
  </body>
</html>
