
    <!-- Fixed navbar -->
    <nav id="globalNav" class="dnb-global-header navbar navbar-default fixed">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <button class="navbar-toggle collapsed mobile-search-toggle" data-toggle="collapse" data-target="#example-search-collapse-1"><i class="icon icon-search"></i></button>

          <a class="navbar-brand" href="http://productdesign.dnb.com/"><span class="sr-only">D&amp;B Product Design Guide</span></a>

          <div id="example-search-collapse-1" class="search-group collapse navbar-collapse">
            <form class="navbar-form navbar-left " role="search" style="width: 238px;">
              <div class="input-group">
                <div class="search-selector input-group-btn">
                  <button type="button" class="btn btn-navbar-search-dropdown dropdown-toggle hidden-xs" data-toggle="dropdown" aria-expanded="false">Company <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active"><a href="#">Company</a></li>
                    <li><a href="#">Option</a></li>
                    <li><a href="#">Another</a></li>
                    <li><a href="#">Really Long Name</a></li>
                    <li><a href="#">Short</a></li>
                    <li><a href="#">One More</a></li>
                  </ul>
                  <span class="mobile-search-active-indicator"></span>
                </div> <!-- /.input-group-btn -->
                
                <input type="text" class="form-control search" placeholder="Search (demo only)..." data-no-focus-placeholder="Search (demo only)..."  data-focus-placeholder="Place a descriptive message here (demo search doesn't actually search)">
            
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-default btn-search"><i class="icon icon-search hidden-xs"></i><span class="sr-only">Submit</span></button>
                </span> <!-- /.input-group-btn -->
                
              </div>
            </form>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://productdesign.dnb.com/">Home</a></li>
            <li class="active"><a href="/documentation">Getting Started <span class="sr-only">(current)</span></a></li>
            <li><a href="/documentation/components">Components</a></li>
            <li><a href="/documentation/demo" class="nav-btn nav-btn-primary" target="_blank">Demo</a></li>
            <!-- <li class="small-item small-item-first"><a href="#" class="alerts"><i class="icon icon-alert alert-badge hidden-xs"></i><span class="visible-xs-inline">Alerts</span></a></li>
            <li class="dropdown small-item">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="icon icon-user hidden-xs"></i><span class="visible-xs-inline">Profile</span><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>