@import '../less/dnb-product-design-guide.less';
@icon-font-path: 'lib/icomoon/style.css';
@dnb-logo: 'img/dnb_logo.png';
@ampersand-loader-lg: 'img/ampersand-loader.gif';
@ampersand-loader-sm: 'img/ampersand-loader-mini.gif';
@simple-spinner: 'img/simple-spinner.gif';
@tooltip-white-arrows: 'img/tooltip-white-arrows.png';
@tooltip-gray-arrows: 'img/tooltip-gray-arrows.png';


body {
  background: #F1F6F8;
}

.header-fixed .page-wrapper {
  > div {
    >div {
      visibility: hidden;
      position: relative;
    }
  }
}

.left-menu-demo,
.left-menu-demo body,
.left-menu-demo .container-fluid {
  min-height: 100%;
  height: 100%;
}
.section .row {2
  margin-bottom: 40px;
}

.dark-section {
  background: #005172;
}

.gray-section {
  background: #F1F6F8;
}

.white-section {
  background: #fff;
}

.dnb-left-hand-menu {
  text-transform: capitalize;
  .getting-started & .accordion-toggle {
    text-transform: uppercase;
  }
}

#overview {
  padding-top: 2em;
}

.jumbotron {
  background: #fff;
  h1 {
    .has-sidebar & {
      font-size: (@jumbotron-heading-font-size - 35);
      @media (min-width: @grid-float-breakpoint) {
        font-size: (@jumbotron-heading-font-size - 20);
      }
    }
  }
}

.page-wrapper > .amp-loader {
  position: fixed !important;
  top: 30%;
  left: 220px;
  right: 0;
  height: 50px !important;
}
pre code {

}

.section-header {
  margin-top: 70px;
  padding-top: 20px;
  border-top: 1px solid @gray;
  .jumbotron + & {
    border-top: none;
  }
}
.section-subheader {
  margin-top: 20px;
  padding-top: 20px;
}

[id*='__lpform_'] {
  display: none;
}

.btn-label {
  margin: 10px 0 20px;
}


.arrows-left .caret {
  transform: translateY(-50%) rotate(-90deg) !important;
}
.arrows-left .open > a .caret {
  transform: translateY(-50%) rotate(180deg) !important;
}
.arrows-left .open > ul a .caret {
  transform: translateY(-140%) rotate(-90deg) !important;
}
.arrows-left .open .open > a .caret {
  transform: translateY(-140%) rotate(180deg) !important;
}

.plus-minus:before {
  content: "\ed5a";
  font-family: "icomoon";
}
.open > a .plus-minus:before {
  content: "\ed5b";
  font-family: "icomoon";
}
.left-menu-demo body {
  width: 90%;
  margin: 0 auto;
}
.left-menu-demo h1 {
  padding-left: 20px;
  color: #fff;
}

.header-demos {
  .dnb-global-header {
    position: relative !important;
    border-bottom: 1px solid @dnb-gray-light !important;
    box-shadow: 0 6px 4px rgba(210, 219, 223, .3) !important;
    z-index: 0 !important;
    &.demo-active {
      z-index: 100 !important;
    }
  }
  .navbar-header {
    width: auto !important;
  }
}


.buttons {
  .dark-section {
    padding: 2em 2.5em 2.5em;
    text-align: center;
    .btn {
      margin-bottom:.25em;
      margin-left: 10px;
    }
  }
  .row {
    margin-bottom: 1.5em;
    .row .col-xs-12 {
      margin-bottom: 20px;
    }
  }
  .mini-section {
    margin-top: 40px;
  }
}

.panel {
  img {
    max-width: 100%;
  }
  .panel {
    margin-bottom: 0;
  }
}
.demoCards {
  padding: 40px 0 20px;
  &.on-white {
  padding: 40px 0 20px;
  background: #fff;
  }
  h2 {
    margin: 0 0 1em;
  }
}


.demoModal {
  background: rgba(0, 81, 114, 0.6);
  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }
  .modal-dialog {
    @media (min-width: @screen-sm) {
      width: auto;
      margin: 20px;
    }
    @media (min-width: @screen-sm-left-hand-menu) {
      width: @modal-md;
      margin: 30px auto;
    }
  }
}

.tabs-demo {
  padding: 30px;
}

.carousel {
    height: 90px;
}

.notice-demo {
  padding: 64px 40px 40px;
}

.demo-icons {
  margin-top: 30px;
  ul {
    list-style-type: none;
  }
  li {
    margin-bottom: 3px;
  }
  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 18px;
    margin-right: 10px;
  }
}

.demo-table-classes {
  background: #fff;
}

.col-example {
  background: @gray-light;
}
.example-label {
  margin: 15px 0 5px;
}

.label-example {
  h2 {
    margin-top: 0;
  }
}
.table-list td {
  font-size: 85%;
  &:first-child {
    color: @dnb-dark-blue;
    font-weight: bold;
    padding-right: 15px;
  }
  .lg-list& {
    font-size: 100%;
    padding-bottom: 5px;
  }
}

.example-toggle {
  margin-bottom: 10px;
}
.alert-demo {
  padding: 10px;
  margin-top: -10px;
}

.amp-loader-example .amp-loader {
  display: block !important;
}
.spinner-example-code {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}
.panel.panel-plain.example-panel-gray-bg {
  background-color: @gray-lighter;
  .amp-loader {
    display: block !important;
    &:first-of-type {
      margin: 20px auto 40px;
    }
  }
}
.tooltip-example {
  &.static-tooltips {
    .tooltip {
      position: relative;
      display: inline-block;
      margin: 10px 20px;
      opacity: 1;
    }
  }
  .panel-body {
    overflow: visible;
  }
  .btn {
    margin-right: 10px;
  }
  .data-detail {
    color: @dnb-green-light;
  }
}

.popover-example {
  &.static-popovers {
    .popover {
      position: relative;
      display: inline-block;
      margin: 10px 20px;
      opacity: 1;
    }
  }
  .panel-body {
    overflow: visible;
  }
  .btn {
    margin-right: 10px;
  }
}

/* -------------------------------------------------------------------------
 Colors
---------------------------------------------------------------------------- */
@dnb-colors: "brand-primary-1" @dnb-dark-blue, 
             "brand-primary-2" @dnb-light-blue, 
             "brand-borders" @dnb-gray-light,
             "brand-backgrounds" @dnb-gray-lighter,
             "dnb-secondary-01" @dnb-orange-light,
             "dnb-secondary-02" @dnb-orange-dark,
             "dnb-secondary-03" @dnb-coral-light,
             "dnb-secondary-04" @dnb-coral-dark,
             "dnb-secondary-05" @dnb-pink-light,
             "dnb-secondary-06" @dnb-pink-dark,
             "dnb-secondary-07" @dnb-purple-light,
             "dnb-secondary-08" @dnb-purple-dark,
             "dnb-secondary-09" @dnb-green-light,
             "dnb-secondary-10" @dnb-green-dark,
             "dnb-secondary-11" @dnb-teal-light,
             "dnb-secondary-12" @dnb-teal-dark,
             "dnb-risk-low" @risk-low,
             "dnb-risk-mod-low" @risk-lowmod,
             "dnb-risk-moderate" @risk-mod,
             "dnb-risk-mod-high" @risk-modhigh,
             "dnb-risk-high" @risk-high,
             "dnb-risk-severe" @risk-severe,
             "dnb-risk-oob" @risk-oob,
             "dnb-risk-na" @risk-na,
             "dnb-chart-01" @chart-1,
             "dnb-chart-02" @chart-2,
             "dnb-chart-03" @chart-3,
             "dnb-chart-04" @chart-4,
             "dnb-chart-05" @chart-5,
             "dnb-text-color" @text-color,
             "dnb-link-color" @link-color,
             "dnb-small-text" @type-med,
             "bg-dark-1" @bg-dark-1,
             "bg-light-2" #fff,
             "left-hand-menu-active-hover-bg" @left-hand-menu-active-hover-bg,
             "left-hand-menu-color" @left-hand-menu-color,
             "left-hand-menu-active-hover-color" @left-hand-menu-active-hover-color;

.creatcolorclasses(@i:1) when(@i <= length(@dnb-colors)) {
    @name: e(extract(extract(@dnb-colors, @i),1));
    &.@{name} {
        background-color: extract(extract(@dnb-colors, @i),2);
    }
    .creatcolorclasses((@i + 1));
}

.colors {
  .row > div {
    margin-bottom: 2em;
  }
}
.swatch {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: @border-radius-base @border-radius-base (@border-radius-base + 1) (@border-radius-base + 1);
  &.mini {
    margin: -2px 0 0;
    border-radius: @border-radius-base;
  }
  .primary-colors & {
    height: 230px;
  }
  .secondary-colors &,
  .icon-samples & {
    height: 176px;
  }
  .common_usage & {
    width: 100%;
    height: 70px;
  }
  .typography & {
    width: 17px;
    height: 17px;
  }
  .creatcolorclasses();
  .swatchTag {
    width: 100%;
    bottom: 0;
    padding: 20px 5px;
    font-size: .9em;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    background: #fff;
    border: 1px solid @gray;
    border-top: none;
    border-radius: 0 0 (@border-radius-base + 1) (@border-radius-base + 1);
    & strong {
      text-transform: uppercase;
    }
    & .lessClass {
      font-size: .75em;
    }
  }

  &.brand-backgrounds {
    border: 1px solid @gray;
    .swatchTag {
      border: none;
      border-top: 1px solid @gray;
    }
  }
  .iconSamples & {
    text-align: center;
    .swatchTag {
      height: 76px;
      position: relative;
    }
  }
  i {
    font-size: 3em;
    text-align: center;
    margin: 30px;
  }
}
.colorName {
  font-size: .9em;
  code {
    // white-space: nowrap;
  }
}



.prettyprint {
  margin-top: 24px;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  border: 1px solid @dnb-gray-light;
  word-break: break-word;
}

.pln {
  color: #111111;
}

@media screen {
  .str {
    color: #739200;
  }

  .kwd {
    color: #739200;
  }

  // .com {
  //   color: darken(@dnb-gray-light, 15%);
  // }

  .typ {
    color: #ff0055;
  }

  .lit {
    color: #538192;
  }
  
  @idClass: @dnb-teal-light;
  .pun {
    color: @idClass;
  }

  .opn {
    color: #111111;
  }

  .clo {
    color: #111111;
  }

  .tag {
    &,
    & pre {
      color: @dnb-light-blue;
    }
  }

  .atn {
    color: @idClass;
  }

  .atv {
    color: @dnb-orange-dark;
  }

  .dec {
    color: #111111;
  }

  .var {
    color: #111111;
  }

  .fun {
    color: #538192;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}