            
            <div id="charts" class="secondary-colors row">
            
              <h2 class="col-xs-12">Charts</h2>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-chart-01">
                  <div class="swatchTag">
                    <div><strong>Chart</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#4EB1CB</code></div>
                <div class="colorName">Less: <code>@dnb-chart-01</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-chart-02">
                  <div class="swatchTag">
                    <div><strong>Chart</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#717ECD</code></div>
                <div class="colorName">Less: <code>@dnb-chart-02</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-chart-03">
                  <div class="swatchTag">
                    <div><strong>Chart</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#D96383</code></div>
                <div class="colorName">Less: <code>@dnb-chart-03</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-chart-04">
                  <div class="swatchTag">
                    <div><strong>Chart</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#D291D6</code></div>
                <div class="colorName">Less: <code>@dnb-chart-04</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-chart-05">
                  <div class="swatchTag">
                    <div><strong>Chart</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#C3D785</code></div>
                <div class="colorName">Less: <code>@dnb-chart-05</code></div>
              </div>
            </div>
