            <div id="common_usage" class="common_usage row">
            
              <h2 class="col-xs-12">Common Usage</h2>

              <div class="col-xs-12">
                <div class="row">
                  <h3 class="col-xs-12">Backgrounds</h3>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini bg-dark-1"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Dark Blue</strong></div>
                        <div class="colorName">Hex: <code>#003B53</code></div>
                        <div class="colorName">Less: <code>@bg-dark-1</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini brand-backgrounds"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Light Gray</strong></div>
                        <div class="colorName">Hex: <code>#F1F6F8</code></div>
                        <div class="colorName">Less: <code>@bg-light-1</code>, <code>@dnb-gray-lighter</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini bg-light-2"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>White</strong></div>
                        <div class="colorName">Hex: <code>#FFFFFF</code></div>
                        <div class="colorName">Less: <code>@bg-light-2</code>, <code>@body-bg</code></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <h3 class="col-xs-12">Borders / Strokes</h3>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini brand-borders"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Gray</strong></div>
                        <div class="colorName">Hex: <code>#D7E0E4</code></div>
                        <div class="colorName">Less: <code>@gray</code>, <code>@dnb-gray-light</code></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <h3 class="col-xs-12">Text Colors</h3>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini dnb-text-color"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Default</strong></div>
                        <div class="colorName">Hex: <code>#002E41</code></div>
                        <div class="colorName">Less: <code>@text-color</code>, <code>@type-dark</code>, <code>@dnb-darker-blue</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini dnb-small-text"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Small Text</strong></div>
                        <div class="colorName">Hex: <code>#728d96</code></div>
                        <div class="colorName">Less: <code>@type-med</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini brand-primary-1"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Headers</strong></div>
                        <div class="colorName">Hex: <code>#005172</code></div>
                        <div class="colorName">Less: <code>@type-header</code>, <code>@dnb-dark-blue</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini dnb-link-color"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Links</strong></div>
                        <div class="colorName">Hex: <code>#009ECE</code></div>
                        <div class="colorName">Less: <code>@link-color</code>, <code>@dnb-bright-blue</code></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <h3 class="col-xs-12">Left-Hand Menu</h3>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini bg-dark-1"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Background</strong></div>
                        <div class="colorName">Hex: <code>#003B53</code></div>
                        <div class="colorName">Less: <code>@left-hand-menu-bg</code>, <code>@bg-dark-1</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini left-hand-menu-active-hover-bg"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Item Hover/Active BG</strong></div>
                        <div class="colorName">Hex: <code>#022A3C</code></div>
                        <div class="colorName">Less: <code>@left-hand-menu-active-hover-bg</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini left-hand-menu-color"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Font/Link Color</strong></div>
                        <div class="colorName">Hex: <code>#D5DEE3</code></div>
                        <div class="colorName">Less: <code>@left-hand-menu-color</code></div>
                      </div>
                    </div>
                  </div>
                              
                  <div class="col-sm-3 col-lg-3">
                    <div class="row">
                      <div class="col-xs-12 col-lg-2">
                        <div class="swatch mini left-hand-menu-active-hover-color"></div>
                      </div>
                      <div class="col-xs-12 col-lg-10">
                        <div class="swatchTag"><strong>Link Hover</strong></div>
                        <div class="colorName">Hex: <code>#00D2C7</code></div>
                        <div class="colorName">Less: <code>@left-hand-menu-active-hover-color</code></div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
