          <div class="colors">
            <div class="section-header">
              <h1>Colors</h1>
            </div>
            
            <div id="primary" class="primary-colors row">
              <h2 class="sectionTitle col-xs-12">Primary</h2>
            
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="swatch brand-primary-1">
                  <div class="swatchTag">
                    <div><strong>Primary Blue 1</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#005172</code></div>
                <div class="colorName">Less: <code>@dnb-dark-blue</code></div>
              </div>
            
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="swatch brand-primary-2">
                  <div class="swatchTag">
                    <div><strong>Primary Blue 2</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#3095B4</code></div>
                <div class="colorName">Less: <code>@dnb-light-blue</code></div>
              </div>
            
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="swatch brand-borders">
                  <div class="swatchTag">
                    <div><strong>Borders / Strokes</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#D7E0E4</code></div>
                <div class="colorName">Less: <code>@dnb-gray-light</code></div>
              </div>
            
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="swatch brand-backgrounds">
                  <div class="swatchTag">
                    <div><strong>Backgrounds</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#F1F6F8</code></div>
                <div class="colorName">Less: <code>@dnb-gray-lighter</code></div>
              </div>
            
            </div>
            
