            <div id="risk" class="secondary-colors row">
            
              <h2 class="col-xs-12">Risk</h2>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-low">
                  <div class="swatchTag">
                    <div><strong>Risk-Low</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#69C568</code></div>
                <div class="colorName">Less: <code>@dnb-risk-low</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-mod-low">
                  <div class="swatchTag">
                    <div><strong>Risk-Mod-Low</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#B9C552</code></div>
                <div class="colorName">Less: <code>@dnb-risk-mod-low</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-moderate">
                  <div class="swatchTag">
                    <div><strong>Risk-Moderate</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#FFC341</code></div>
                <div class="colorName">Less: <code>@dnb-risk-moderate</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-mod-high">
                  <div class="swatchTag">
                    <div><strong>Risk-Mod-High</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#F79851</code></div>
                <div class="colorName">Less: <code>@dnb-risk-mod-high</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-high">
                  <div class="swatchTag">
                    <div><strong>Risk-High</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#EC6660</code></div>
                <div class="colorName">Less: <code>@dnb-risk-high</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-severe">
                  <div class="swatchTag">
                    <div><strong>Risk-Severe</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#B54039</code></div>
                <div class="colorName">Less: <code>@dnb-risk-severe</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-oob">
                  <div class="swatchTag">
                    <div><strong>Risk-OOB</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#333333</code></div>
                <div class="colorName">Less: <code>@dnb-risk-oob</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-risk-na">
                  <div class="swatchTag">
                    <div><strong>Risk-NA</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#BCC9DB</code></div>
                <div class="colorName">Less: <code>@dnb-risk-na</code></div>
              </div>
            </div>