            <div id="secondary" class="secondary-colors row">
            
              <h2 class="col-xs-12">Secondary</h2>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-01">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#E1A357</code></div>
                <div class="colorName">Less: <code>@dnb-orange-light</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-02">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#BC4C05</code></div>
                <div class="colorName">Less: <code>@dnb-orange-dark</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-03">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#D06079</code></div>
                <div class="colorName">Less: <code>@dnb-coral-light</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-04">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#963156</code></div>
                <div class="colorName">Less: <code>@dnb-coral-dark</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-05">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#C55E9B</code></div>
                <div class="colorName">Less: <code>@dnb-pink-light</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-06">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#8F3F6D</code></div>
                <div class="colorName">Less: <code>@dnb-pink-dark</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-07">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#9C5FB5</code></div>
                <div class="colorName">Less: <code>@dnb-purple-light</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-08">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#693A77</code></div>
                <div class="colorName">Less: <code>@dnb-purple-dark</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-09">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#73AF55</code></div>
                <div class="colorName">Less: <code>@dnb-green-light</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-10">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#284E36</code></div>
                <div class="colorName">Less: <code>@dnb-green-dark</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-11">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#00B2A9</code></div>
                <div class="colorName">Less: <code>@dnb-teal-light</code></div>
              </div>
            
              <div class="col-sm-4 col-md-4 col-lg-2">
                <div class="swatch dnb-secondary-12">
                  <div class="swatchTag">
                    <div><strong>Secondary</strong></div>
                  </div>
                </div>
                <div class="colorName">Hex: <code>#006265</code></div>
                <div class="colorName">Less: <code>@dnb-teal-dark</code></div>
              </div>
            </div>
